<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman ">
          <header>
            <span class="widget-icon">
              <i class="fa fa-list"></i>
            </span>
            <h2> {{'CRM-COST-ORDER-FORM-HEADER-NAME' | i18n}}</h2>
            
          </header>
          <div>
            <div class="widget-body no-padding">
              <form #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && onSubmit()"
                class="smart-form atman-form-small frm-detail" novalidate="novalidate"
                [saUiValidate]="validationOptions">
                <section class="col col-lg-12">
                  <fieldset class="pull-right">
                    <div class="row">
                      <section>
                        <!-- <h5>{{'Created by ' | i18n}} + {{}} </h5> -->
                        <!-- <h5>{{' ' | i18n}} + {{}} </h5> -->
                        <h5>{{ 'CREATED-BY' | i18n }} {{userLogin.user_name}}</h5>
                      </section>
                    </div>
                  </fieldset>
                </section>

                <section class="col col-lg-12">
                  <fieldset>
                    <div class="row">

                      <section class="no-padding-left col col-3">
                        <label class="label">{{'OPPORTUNITY-TBL-SALES-NAME' | i18n}}</label>

                        <!-- [defaultVal]="costOrderModel.salesopt_id" -->
                        <label class="input">
                          <select name="salesOpportunityName" select4 style="width:100%;"
                            [(ngModel)]="costOrderModel.salesopt_id" class="select2 required"
                            [defaultVal]="costOrderModel.salesopt_id" placeHolder="Select sales Opportunity Name"
                            (onSelectedChange)="onChangeSalesOpt()" required>
                            <option value=""></option>
                            <option *ngFor="let e of salesOpportunity" value={{e.salesopt_id}}>{{e.salesopt_nm}}
                            </option>
                          </select>
                        </label>


                        <label class="label marginInput">{{'CONTACTOR' | i18n}}</label>

                        <!-- [defaultVal]="costOrderModel.customercontactor_id" -->

                        <label class="input">
                          <!-- <select name="contactor" select4 style="width:100%;" class="select2 required"
                            [(ngModel)]="costOrderModel.customer_contactor_id" placeHolder="Select Expenses Item" required>
                            <option value=""></option>
                            <option *ngFor="let e of contactor" value={{e.contactor_id}}>{{e.contactor_nm}}</option>
                          </select> -->
                          <input type="text" value="{{contactor_nm}}" disabled />
                        </label>

                      </section>

                      <section class="no-padding-left col col-4">
                        <!-- <label class="label">{{'EXPENSES-ACCOUNT-DATE' | i18n}}</label> -->

                        <label class="label">{{'CRM-COST-ORDER-NAME' | i18n}}</label>
                        

                        <div class="row">
                          <label class="input col col-9 ">
                            <input type="text" class="required" name="orderName" autocomplete="off"
                              [(ngModel)]="costOrderModel.cost_order_nm" required />
                          </label>
                          <button type="button" (click)="onCopy()" name="copy" class="btn btn-danger col-1"
                            style="height:22px;margin-left:-16px">
                            {{'BUTTON-COPY' | i18n}}
                          </button>
                        </div>

                        <div class="row marginInput">
                          <div class="col col-4">
                              <label class="label ">{{'CRM-COST-ORDER-DATE' | i18n}}</label>
                            
                            <label class="input">
                              <i class="icon-append fa fa-calendar"></i>
                              <input type="text" name="salesOrderDate" class="datePicker required" autocomplete="off"
                                required placeholder="yyyy-mm-dd" [(ngModel)]="costOrderModel.cost_order_ymd"
                                [saUiDatepicker]="optionsDatePicker" />
                            </label>
                          </div>
                          <div class="col col-lg-5">
                              <label class="label">{{'CRM-COST-ORDER-AMOUNT' | i18n}}</label>
                            
                            <label class="input">
                              <input type="text" name="amount" class="required" [disabled]='true' currencyMask
                                [(ngModel)]="costOrderModel.cost_order_atm"
                                [options]="{ prefix: '', thousands: ',', precision:'0' }" autocomplete="off" required />
                            </label>
                          </div>
                        </div>


                      </section>
                      <section class="no-padding-left col col-5">
                        <div class="moveTopSharing">
                          <sa-sharing-info *ngIf="loadSharing" (outputData)="sharingToSelected($event)"
                            [sharedData]="costOrderModel.sharing_to">
                          </sa-sharing-info>
                        </div>

                      </section>
                    </div>
                    <div class="row">
                      <section class="no-padding-left col col-lg-6">
                        <label class="label">{{"DESCRIPTION" | i18n}}</label>
                        <label class="textarea">
                          <textarea name="reason_nm" rows="5" [(ngModel)]="costOrderModel.memo_text"></textarea>
                        </label>
                      </section>
                    </div>
                  </fieldset>
                </section>

                <section class="col-lg-12">
                  <section class="pull-right" style="margin-right:30px">
                    <button type="button" (click)="onReset()" name="reset" style="margin:0 5px 0 0"
                      class="btn btn-default btn-xs btn-reset float-none">
                      <i class="fa fa-refresh"></i>
                      {{'button-reset' | i18n}}
                    </button>
                    <button type="submit" name="submit" style="margin:0 5px 0 0"
                      class="btn btn-primary btn-xs btn-save float-none">
                      <i class="fa fa-save"></i>
                      {{'button-save' | i18n}}
                    </button>
                    <button type="button" name="delete" (click)="onDelete()" style="margin:0 5px 0 0"
                      class="btn btn-danger btn-xs btn-delete">
                      <i class="fa fa-trash-o"></i>
                      {{'button-delete' | i18n}}
                    </button>
                    <button type="button" name="close" (click)="onCloseProgram()" class="btn btn-xs btn-close">
                      <i class="fa fa-remove"></i>
                      {{'button-close' | i18n}}
                    </button>
                  </section>
                </section>

              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>


  <section>
    <div class="well well-sm contract">
      <i class="fa fa-money"></i>
      <h3 class="contract-name"> {{'CRM-COST-ORDER-DETAIL-HEADER-NAME' | i18n}}</h3>
      
    </div>
    <article class="smart-form contract">
      <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
        <!-- widget div-->
        <div class="col col-lg-12 content" style="padding-bottom: 15px;">
          <div class="col col-lg-12" style="margin-bottom: 20px;padding: 0;">

            <div class="col-lg-1">
              <div class="input-group">
                <input type="number" name="newRows"
                  onKeyUp="if(this.value>10){this.value='10';}else if(this.value<0){this.value='1';}"
                  [(ngModel)]="newRows" style="min-height: 32px;z-index: 1;text-align: center" class="form-control input-sm col col-lg-7">
                <span class="input-group-addon"
                  style="padding: 0; top: 0px; position: relative; left: -1px; border: none;">
                  <button type="button" class="col col-lg-3" style="padding: 6px;" (click)="addNewRows()"
                  class="btn btn-default"> {{'CRM-COST-ORDER-DETAIL-ADD-NEW' | i18n}} </button>


                  <!-- <button type="button" class="col col-lg-3" style="padding: 6px;" (click)="refresh()" class="btn btn-default">Refresh</button> -->
                </span>
              </div>
            </div>

          </div>
          <div class="col col-lg-12">
            <div class="widget-body no-padding">
              <div class="table-responsive">

                <table class="table table-bordered table-striped" style="border: 1px solid #e5e5e5 !important">
                  <thead>
                    <tr>
                        <th>No</th>
                        <th>{{'CRM-COST-ORDER-DETAIL-SERVICE-ITEM' | i18n}}</th>
                        <th>{{'SV_ITEM_LIST_ITEM_UNIT' | i18n}}</th>
                        <th>{{'MEMO' | i18n}}</th>
                        <th>{{'CRM-COST-ORDER-DETAIL-PRICE' | i18n}} </th>
                        <th>{{'CRM-COST-ORDER-DETAIL-QUANTITY' | i18n}} </th>
                        <th> {{'CRM-COST-ORDER-DETAIL-TOTAL-PRICE' | i18n}}  </th>
                        <th> {{'CRM-COST-ORDER-DETAIL-PROPOSER' | i18n}} </th>
                        <th class="text-center">{{'ACTION' | i18n}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of costOrderModel.list_cost_order_detail;let i = index;"
                      [ngClass]="{'row-confirm': item.color =='true'}">
                      <td style="width:20px; vertical-align: middle; text-align: center">{{i+1}}</td>
                      <td style="width:300px">
                        <label class="input">
                          <select select2 style="width:100%;" name="crm_item_id" [defaultVal]="item.crm_item_id"
                            (onSelectedChange)="onServiceItemChange($event,i)" [(ngModel)]="item.crm_item_id" required>
                            <option value=""></option>
                            <option *ngFor="let e of listServiceItem" value={{e.crm_item_id}}>{{e.crm_item_nm}}</option>
                          </select>
                        </label>
                      </td>
                      <td style="width:75px">
                        <label class="input">
                          <input class="form-control input-sm col" type="text" style="background-color:#eee;text-align: center"
                            name="memo_text" [(ngModel)]="item.item_unit_gen_nm" disabled>
                        </label>
                      </td>
                      <td>
                        <label class="input">
                          <input type="text" name="memo_text" [(ngModel)]="item.memo_text">
                        </label>
                      </td>
                      <td>
                        <input class="form-control input-sm col text-right" [(ngModel)]="item.price"
                          (keyup)="onchangePrice($event.target.value,i)" name="orderDetail_price">
                      </td>
                      <td style="width:80px">
                        <input class="form-control input-sm col text-right" type="number" name="quantity"
                          (keyup)="onchangeQuantity($event.target.value,i)" [(ngModel)]="item.qty">
                      </td>
                      <td>
                        <input class="form-control input-sm col" name="sub_total_amt" currencyMask
                          [options]="{ prefix: '', thousands: ',', precision:'0' }" [(ngModel)]="item.sub_total_amt"
                          disabled>
                      </td>
                      <td>
                        <input class="form-control input-sm col" name="estimate_atm" [(ngModel)]="item.estimate_atm"
                          disabled currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }">
                      </td>
                      <td class="text-center" style="width:50px">
                        <button class="btn btn-sm btn-default" (click)="refreshOrderDetail(item,i)"><i
                            class="fa fa-refresh"></i></button>

                        <button style="margin-left:5px" class="btn btn-sm btn-danger" (click)="removeDetail(item,i)"><i
                            class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>

</div>