 :host /deep/ .overtime-tool .select2-selection{height: 30px;line-height: 28px;}
  :host /deep/ .overtime-tool .title{padding: 0; text-align: center; margin: 0; height: 30px; line-height: 30px;}
  :host /deep/ .at-smart-table tbody td:nth-child(2n+3), :host /deep/ .at-smart-table tbody td:nth-child(n+4) {
    text-align: right;
  }
  :host /deep/ .at-smart-table tbody td:last-child, :host /deep/ .at-smart-table th:last-child {
    width: 115px;
    text-align: center ;
  }
  :host /deep/ .at-smart-table td:nth-child(1) {text-align: center}

  label input[type="checkbox"].checkbox:checked + span{font-weight: normal}
  .overtime-tool .copy-btn{height: 29px; line-height: 11px; top: 1px; position: relative;}
  :host /deep/ .ng2-smart-filter select{height: 22px; padding: 0 !important;}
  /* special-detail  */
  :host /deep/ .special-detail .ng2-smart-actions i{font-size: 14px; padding: 0 4px; line-height: 20px;}
  :host /deep/ .ng2-smart-actions-title{width: 80px}
  :host /deep/ .special-detail td:nth-child(-2n+4){text-align: center !important}
  :host /deep/ .special-detail td:nth-child(5){text-align: right !important}
  :host /deep/ .special-detail td{text-align: left !important}

  :host /deep/ ng2-smart-table thead>tr.ng2-smart-titles{
    background:#6d6c6e !important;
    color:#fff;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-titles>th>ng2-st-column-title .ng2-smart-title>ng2-smart-table-title>a{
    color: #fff!important;
    font-weight: normal !important;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-titles>th{
    border-right:solid 1px #7d7d7d !important;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-filters{
    background:#e3e3e3 !important; 
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-filters>th{
    border:none;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-filters>th.ng2-smart-th>ng2-smart-table-filter .ng2-smart-filter>select-filter>select{
    border-color:#52494487;
    border-radius: 3px!important;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-filters>th.ng2-smart-th>ng2-smart-table-filter .ng2-smart-filter>input-filter>input{
    border-color:#989898;
  }
  :host /deep/ ng2-smart-table thead>tr.ng2-smart-filters>th.ng2-smart-actions-title{
    padding: 8px;
  }