<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="[('OVERTIME-TABLE-HEADER'|i18n)]" icon="users" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="well well-sm overtime-tool">
    <div class="row">
      <div class="col-lg-4">
        <label class="col-lg-4 title">{{'OVERTIME_TABLE_ID'|i18n}}</label>
        <label class="input col-lg-8" style="padding:0">
          <select select2 class="form-control select2" name="ot_table_id" (onSelectedChange)="onOTIDChange()"
            style="width:100%" placeHolder="Select table">
            <option *ngFor="let item of overtimeTable" value="{{item.ot_table_id}}">ID:[{{item.ot_table_id}}] -
              [{{item.ot_table_nm}}] - Interval:[{{item.interval_value}}] - Start:[{{item.start_value}}]</option>
          </select>
        </label>
      </div>
      <div class="col-lg-8">
        <button type="button" (click)="showCreateOverTimeTable()" class="btn btn-small btn-primary pull-right">{{'OVERTIME_BTN_CREATE_NEW'|i18n}}</button>
        <!-- <button class="btn btn-small btn-primary copy-btn" (click)="showCopyData()" [disabled]="!ot_table_id">Copy</button> -->
      </div>
    </div>
  </div>
  <sa-widgets-grid>
    <div class="at-smart-table">
      <section class="col-lg-12 table-bordered" style="padding: 0;min-height: 300px; max-height: 600px; overflow-y: auto;">
        <ng2-smart-table class="table table-striped table-condensed table-hover" [settings]="settings"
          [source]="this.overtimes" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
          (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
      </section>
      <div class="atman-paging dt-toolbar-footer">
          <div class="col-sm-6 col-xs-12 hidden-xs">
            <div class="dataTables_info" id="DataTables_Table_3_info" role="status" aria-live="polite">Total {{totalOtDetailRows}} entries</div>                            
          </div>
          <div class="col-sm-6 col-xs-12 hidden-xs">
            
          </div>
        </div>
    </div>
  </sa-widgets-grid>
</div>
<ng-template #popupOvertime>
  <sa-popup-modal headerTitle="{{'CREATE-OVERTIME-TABLE' | i18n}}" width="350" height="600" (onClose)="closeOvertimePopup()">
    <sa-overtime-table-create (onCreatedNew)="reloadNewOvertimeTable()"  maxOverTableId="{{maxTableId}}"></sa-overtime-table-create>
  </sa-popup-modal>
</ng-template>
