<article class="col-sm-12 col-md-12 col-lg-12 human-resources">
    <div class="row">
      <div class="no-padding ">
        <section class="col-lg-12">
          <form #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && insertOvertimeTable()" class="smart-form atman-form-small frm-detail" novalidate="novalidate"
          [saUiValidate]="validationOptions">
            <fieldset>
              <div class="row">
                <div class="col col-10">
                    <label class="label" style=" font-weight: 600">{{'TABLE-ID-MAX' | i18n}} : {{maxOverTableId}}</label>
                </div>
                </div>
              <div class="row">
                <section class="col col-3">
                  <label class="label">{{'Table-Id'| i18n}}</label>
                  <label class="input">
                    <input type="number" name="ot_table_id" class="form-control required center" onclick="this.select()"  [(ngModel)]="overtimeTableInfo.ot_table_id" autocomplete="off" required>
                  </label>
                </section>
                <section class="col col-9">
                  <label class="label">{{'Table-Name'| i18n}}</label>
                  <label class="input">
                    <input name="ot_table_nm" class="form-control" required [(ngModel)]="overtimeTableInfo.ot_table_nm" autocomplete="off">
                  </label>
                </section>
              </div>
              <div class="row">
                  <section class="col col-6">
                      <label class="label">{{'OVERTIME_INTERVAL_VALUE'|i18n}}</label>
                      <label class="input">
                        <input type="number" class="form-control right" required name="interval_value" onclick="this.select()"  [(ngModel)]="overtimeTableInfo.interval_value" autocomplete="off">
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">{{'OVERTIME_START_VALUE'|i18n}}</label>
                      <label class="input">
                        <input type="number"  class="form-control right" required name="start_value" onclick="this.select()" [(ngModel)]="overtimeTableInfo.start_value" autocomplete="off">
                      </label>
                    </section>
              </div>
            </fieldset>
            <footer>
              <button type="submit" class="btn btn-small btn-primary">
                <i class="fa fa-save"></i>
                {{'button-save'|i18n}}</button>
            </footer>
          </form>
        </section>
      </div>
    </div>
  </article>