.row-odd {
  background-color: #fff !important;
}

.row-even {
  background-color: #ffffff !important;
}
.well.well-sm {
  border: none;
  margin-bottom: 8px;
}
:host /deep/ .select-header {
  cursor: none;
  vertical-align: middle;
  background-color: #f4f4f4;
  white-space: nowrap;
  color: #fff;
  background: linear-gradient(to bottom, #4c4f53c4, #2c3742bd);
}
:host /deep/ .employee-name {
  width: 139px;
  border-right: 1px solid #b7b7b7;
}
:host /deep/ .department {
  width: 155px;
  padding-left: 5px;
  border-right: 1px solid #b7b7b7;
}
:host /deep/ .position {
  width: 150px;
  padding-left: 5px;
}

:host /deep/ .row-employee-name {
  padding-left: 20px;
  float: left;
  width: 146px;
  border-right: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
}
:host /deep/ .row-department {
  padding-left: 5px;
  float: left;
  width: 155px;
  border-right: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
}
:host /deep/ .row-position {
  padding-left: 5px;
  float: left;
  width: 150px;
  border-bottom: 1px solid #b7b7b7;
}

:host /deep/ .selectize-dropdown {
  width: 500px !important;
  font-size: 12px;
}

:host /deep/ .selectize-control.single .selectize-input:after {
  content: " ";
  display: block;
  position: absolute;
  top: 60%;
  right: 17px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #333333 transparent transparent transparent;
}

:host /deep/ .selectize-input {
    border: 1px solid #ccc;
    padding: 4px 12px !important;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 4px;
    height: 30px;
    min-height: 30px !important;
  }
