.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}

.customer-detail .address .label{width: 12%}
.customer-detail .address .input{width:88%}
:host /deep/ .multiple-select .selection .select2-selection--multiple{height: 100% !important}
.none-boder-left{border-left:none !important}
.new-activity li a{height: 30px; line-height: 25px;}
.new-activity li a i{padding-right: 10px;}
.btn-actions{
  float: right;
  top: -28px;
  position: relative;
}
.btn-actions a{margin: 0 3px;}
.smart-form label.label{    
  height: 27px;
  line-height: 30px;
}


:host /deep/ .select2-custom .select2-container{width: 100% !important}
:host /deep/ .select2-custom .select2-selection{height: auto !important;}
:host /deep/ .slider-handle.round{top: 4px;}
:host /deep/ .slider.slider-horizontal{top: 6px}
:host /deep/ .custom-span .label{padding: 5px;margin: 0 5px;font-size: 11px;}
:host /deep/ .custom-span .label.border-transparent{color: black; border: 1px solid #cccc;}
:host /deep/ .custom-span .label.border-red{color: black; border: 1px solid red;}
:host /deep/ .custom-span .input-sm p{margin: 0}

:host /deep/ span.label{
  display: inline;
  padding: 6px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin: 3px;
}
:host /deep/ .opportunity .data p{
  font-size: 13px;
  top: 6px;
  position: relative;
}
:host /deep/ .opportunity .sales-name{
  margin: 0;
  display: inline;
  font-size: 14px;
  position: relative;
  top: 1px;
  padding: 0 6px;
}

:host /deep/ .customProgress { 
height: 20px;  /* Can be anything */
position: relative;
background: #e5e5e5;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
:host /deep/ .customProgress > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  /* background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  ); */
  background-color: #f42323;
  /* background-image: linear-gradient(to bottom, #f0a3a3, #f42323); */
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  transition: 1s linear;
}

:host /deep/ .customProgress > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
:host /deep/ .customProgress > span:after, .animate > span > span {
  animation: move 2s linear infinite;
}
:host /deep/ .animate > span:after {
  display: none;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

:host /deep/ bs-tooltip-container .tooltip-inner{padding: 8px;border-radius: 6px;}
.custom-tooltip{color: gray}
.jarviswidget header{background: #57879b3d;border: 1px solid #ccc;}
/* .new-activity button.dropdown-toggle{background-color: #00b5ad; color: white;border: 1px solid #00b4ad; top: -1px; position: relative; height: 31px;} */
/* .new-activity .dropdown-menu{background: #5b835b; border-bottom: 2px solid #5b835b;}
.new-activity .dropdown-menu > li > a:hover{background: #208c87;} */


:host /deep/ .smart-timeline-content{margin-left: 140px;}
.smart-timeline-icon .index span{
    position: relative;
  }
  .smart-timeline-icon:hover .index span{
    display: none;
  }
  .smart-timeline-icon:hover .index:after{
    content: "\f044";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
  }
  :host /deep/.new-activity button.dropdown-toggle{background-color: #21ba45; border: none; top: -1px; position: relative;}
:host /deep/.note-editable{height: 120px;overflow: auto;}
:host /deep/ #issueContent .note-editable,:host /deep/ #memoContent .note-editable{height: 80px;overflow: auto;}

.disabledTab{
  pointer-events: none;
}
.center-loading{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
}