<div id="content">
  <div class="row" style="margin: 10% auto;width: 77%;">
      <div class="col-sm-3">
        <div class="well well-sm txt-color-white " [routerLink]="['/crm-am-statistic']" style="background-color:#fbbd08;height:132px">
          <h5 class="title">Profit by Admin</h5>
          <section class="content">
            <span class="number">{{statisticBoard.profit_by_admin}}</span>
            <span class="name">Contracted</span>
          </section>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well well-sm txt-color-white " [routerLink]="['/crm-sales-opportunity-statistic']" style="background-color:#2185d0;height:132px">
          <h5 class="title">Sales Opportunity</h5>
          <section class="content">
            <span class="number">{{statisticBoard.sales_opportunity}}</span>
            <span class="name">Sales Opportunity</span>
          </section>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well well-sm  txt-color-white " [routerLink]="['/crm-expected-sale-statistic']" style="background-color:#db2828;height: 132px;">
          <h5 class="title">Expected Sales Amount</h5>
          <section class="content">
            <span class="number">{{statisticBoard.expected_sales_amount}}</span>
            <span class="name">Sales Case</span>
          </section>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="well well-sm txt-color-white " [routerLink]="['/crm-fixed-financial-statistic']" style="background-color:#21d096;height: 132px;">
            <h5 class="title">Fixed Financial</h5>
            <section class="content">
              <span class="number">{{statisticBoard.fixed_financial}}</span>
              <span class="name">Fixed Total Contract</span>
            </section>
          </div>
      </div>
      <div class="col-sm-3">
        <div class="well well-sm txt-color-white " [routerLink]="['/crm-sales-by-product-statistic']" style="background-color:#08d7df;height:132px">
          <h5 class="title">Sales by Product</h5>
          <section class="content">
            <span class="number">0</span>
            <span class="name">Products</span>
          </section>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well well-sm txt-color-white " [routerLink]="['/crm-sales-by-customer-statistic']" style="background-color:#ab22d4;height:132px">
          <h5 class="title">Sales by Customer</h5>
          <section class="content">
            <span class="number">{{statisticBoard.sales_by_customer}}</span>
            <span class="name">Customers</span>
          </section>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well well-sm  txt-color-white " [routerLink]="['/crm-cost-by-customer-statistic']" style="background-color:#db2864;height: 132px;">
          <h5 class="title">Cost by Customer</h5>
          <section class="content">
            <span class="number">{{statisticBoard.cost_by_customer}}</span>
            <span class="name">Customerss</span>
          </section>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="well well-sm txt-color-white " [routerLink]="['/crm-sale-by-contactor-statistic']" style="background-color:#ff810b;height: 132px;">
            <h5 class="title">Sales by Contactor</h5>
            <section class="content">
              <span class="number">{{statisticBoard.sales_by_contactor}}</span>
              <span class="name">Contactor</span>
            </section>
          </div>
      </div>
  </div>
</div>