
.well {cursor: pointer;background-color: #00BCD4!important;}
.well .title{font-weight: bold;padding-left: 10px;}
.well .content{margin-top: 21px;}
.well .number{
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}
.well .name{
    font-size: 14px;
    font-weight: 400;
}