<div id="content">
  <div class="well well-sm">
      <div class="row">
        <section class="col-lg-8">
            <div class="col col-lg-2 header">
                <label class="input col-lg-12">
                    <select select2 class="select2" name="sales_status_gen_cd" required [(ngModel)]="year"
                    [defaultVal]="year" style="width:100%" (onSelectedChange)="onYearChange()">
                      <option *ngFor="let item of years" value="{{item.val}}">{{item.text}}</option>
                    </select>
                  </label>
            </div>
              <div class="col col-lg-2 header" style="padding-right: 0;">
                  <div class="input-group">
                      <input [(ngModel)]="contractName" (keypress)="checkKeycode($event)" class="form-control input-sm col col-lg-7"
                          onclick="this.select()" placeholder="Search contract name...">
                      <span class="input-group-addon" style="padding: 0; top: 0px; position: relative; left: -4px; border: none;">
                          <button type="button" class="col col-lg-3" style="padding-bottom: 4px;" (click)="search()"
                              class="btn btn-default">
                              <i class="fa fa-search"></i>
                          </button>
                      </span>
                  </div>
              </div>
        </section>
      </div>
  </div>
  <div class="row status">
      <div class="col-sm-3">
        <div class="well well-sm txt-color-white text-center" style="background-color:#21ba45;">
            <ng-container *ngIf="ShowStatus1LoadingCenter; else showStatus1">
                <div class="loading center-loading">
                  <img src="/assets/img/loading-red.gif"> Please wait...
              </div>
              </ng-container>
              <ng-template #showStatus1>
                  <p class="amount">{{listDataTable.length}}</p>
                  <h5>NUMBER OF CONTRACTS</h5>
              </ng-template>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well well-sm txt-color-white text-center" style="background-color:#2185d0;">
            <ng-container *ngIf="ShowStatus2LoadingCenter; else showStatus2">
                <div class="loading center-loading">
                  <img src="/assets/img/loading-red.gif"> Please wait...
              </div>
              </ng-container>
              <ng-template #showStatus2>
                  <p class="amount">{{sumDefiniteSales | number}}</p>
                  <h5>DEFINITE SALES</h5>
              </ng-template>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well well-sm  txt-color-white text-center" style="background-color:#db2828;">
          <ng-container *ngIf="ShowStatus3LoadingCenter; else showStatus3">
            <div class="loading center-loading">
              <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
          </ng-container>
          <ng-template #showStatus3>
              <p class="amount">{{sumDefinitePurchase | number}}</p>
              <h5>DEFINITE PURCHASE</h5>
          </ng-template>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="well well-sm txt-color-white text-center" style="background-color:#fbbd08">
              <ng-container *ngIf="ShowStatus4LoadingCenter; else showStatus4">
                  <div class="loading center-loading">
                    <img src="/assets/img/loading-red.gif"> Please wait...
                </div>
                </ng-container>
                <ng-template #showStatus4>
                    <p class="amount">{{sumProfit | number}}</p>
                    <h5>PROFIT</h5>
                </ng-template>
          </div>
      </div>
  </div>
  <section class="statitics">
    <div class="well well-sm">
        <i class="fa fa-list"></i>
        <h3 class="header"> Purchase definite sales {{this.year}}</h3>
      </div>
    <article class="smart-form">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
          <!-- widget div-->
          <div class="col col-lg-12 content">
            <ng-container *ngIf="ShowStatisticLoadingCenter; else elseTemplate">
                <div class="show-loading"> 
                    <img class="center"
                    src="/assets/img/loading-red.gif">
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <!-- <h4 *ngIf="!ShowStatisticLoadingCenter && !listContract.length" class="center">NO DATA</h4> -->
            </ng-template>
            <div id="FixedFinancialstatistics" style="width: 100%;height: 320px;top: 12px;"></div>
          </div>
        </div>
      </article>
</section>
<section class="margin-top statitics">
  <div class="well well-sm">
      <i class="fa fa-list"></i>
      <h3 class="header"> {{this.year}}</h3>
    </div>
  <article class="smart-form">
      <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
        <!-- widget div-->
        <div class="col col-lg-12 content">
            <div class="widget-body no-padding" style="min-height:0px;margin: 0;">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped fixed-finacial-tbl">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>{{'FIXED-FINANCIAL-STATISTICS-TBL-CONTRACT-NAME' | i18n}}</th>
                        <!-- <th>{{'FIXED-FINANCIAL-STATISTICS-TBL-ACCOUNT' | i18n}}</th> -->
                        <th>{{'FIXED-FINANCIAL-STATISTICS-TBL-CONTRACT-DATE' | i18n}}</th>
                        <th>{{'FIXED-FINANCIAL-STATISTICS-TBL-CONTRACT-END-DATE' | i18n}}</th>
                        <th>{{'January' | i18n}}</th>
                        <th>{{'February' | i18n}}</th>
                        <th>{{'March' | i18n}}</th>
                        <th>{{'April' | i18n}}</th>
                        <th>{{'May' | i18n}}</th>
                        <th>{{'June' | i18n}}</th>
                        <th>{{'July' | i18n}}</th>
                        <th>{{'August' | i18n}}</th>
                        <th>{{'September' | i18n}}</th>
                        <th>{{'October' | i18n}}</th>
                        <th>{{'November' | i18n}}</th>
                        <th>{{'December' | i18n}}</th>
                        <th>{{'FIXED-FINANCIAL-STATISTICS-TBL-SUM' | i18n}}</th>
                      </tr>
                    </thead>
                    <tbody class="tbl-fixed-financial">
                      <tr *ngFor="let item of listDataTable;let idx = index" 
                      [ngStyle]="{'background': item.src_order_type ? 'transparent' : '#fff6f6','color': item.src_order_type ? '#666' : '#9f3a38'}">
                        <td style="text-align:center;width: 30px">{{idx+1}}</td>
                        <td>{{item.contract_nm}}</td>
                        <td>{{item.contract_start_ymd}}</td>
                        <td>{{item.contract_end_ymd}}</td>
                        <td [ngClass]="{'gray-fill': item.prices[0].issue_yn}">
                            <p>{{item.prices[0].amount | number}}</p>
                            <p>{{item.prices[0].amount? (item.paid[0].amount? (item.paid[0].amount | number) : 0) : ''}}</p>
                        </td>
                        <td [ngClass]="{'gray-fill': item.prices[1].issue_yn}">
                            <p>{{item.prices[1].amount | number}}</p>
                            <p>{{item.prices[1].amount? (item.paid[1].amount? (item.paid[1].amount | number) : 0) : ''}}</p>
                        </td>
                        <td [ngClass]="{'gray-fill': item.prices[2].issue_yn}">
                            <p>{{item.prices[2].amount | number}}</p>
                            <p>{{item.prices[2].amount? (item.paid[2].amount? (item.paid[2].amount | number) : 0) : ''}}</p>
                        </td>
                        <td [ngClass]="{'gray-fill': item.prices[3].issue_yn}">
                            <p>{{item.prices[3].amount | number}}</p>
                            <p>{{item.prices[3].amount? (item.paid[3].amount? (item.paid[3].amount | number) : 0) : ''}}</p>
                        </td>
                        <td [ngClass]="{'gray-fill': item.prices[4].issue_yn}">
                          <p>{{item.prices[4].amount | number}}</p>
                          <p>{{item.prices[4].amount? (item.paid[4].amount? (item.paid[4].amount | number) : 0) : ''}}</p>
                        </td>
                        <td [ngClass]="{'gray-fill': item.prices[5].issue_yn}">
                          <p>{{item.prices[5].amount | number}}</p>
                          <p>{{item.prices[5].amount? (item.paid[5].amount? (item.paid[5].amount | number) : 0) : ''}}</p>
                        </td>
                        <td [ngClass]="{'gray-fill': item.prices[6].issue_yn}">
                          <p>{{item.prices[6].amount | number}}</p>
                          <p>{{item.prices[6].amount? (item.paid[6].amount? (item.paid[6].amount | number) : 0) : ''}}</p>
                        </td>
                        <td [ngClass]="{'gray-fill': item.prices[7].issue_yn}">
                          <p>{{item.prices[7].amount | number}}</p>
                          <p>{{item.prices[7].amount? (item.paid[7].amount? (item.paid[7].amount | number) : 0) : ''}}</p>
                        </td>
                        <td [ngClass]="{'gray-fill': item.prices[8].issue_yn}">
                          <p>{{item.prices[8].amount | number}}</p>
                          <p>{{item.prices[8].amount? (item.paid[8].amount? (item.paid[8].amount | number) : 0) : ''}}</p>
                        </td>
                        <td [ngClass]="{'gray-fill': item.prices[9].issue_yn}">
                          <p>{{item.prices[9].amount | number}}</p>
                          <p>{{item.prices[9].amount? (item.paid[9].amount? (item.paid[9].amount | number) : 0) : ''}}</p>
                        </td>
                        <td [ngClass]="{'gray-fill': item.prices[10].issue_yn}">
                          <p>{{item.prices[10].amount | number}}</p>
                          <p>{{item.prices[10].amount? (item.paid[10].amount? (item.paid[10].amount | number) : 0) : ''}}</p>
                        </td>
                        <td [ngClass]="{'gray-fill': item.prices[11].issue_yn}">
                          <p>{{item.prices[11].amount | number}}</p>
                          <p>{{item.prices[11].amount? (item.paid[11].amount? (item.paid[11].amount | number) : 0) : ''}}</p>
                        </td>
                        <td>
                            <p>{{item.sum_price | number}}</p>
                            <p>{{item.contract_amt | number}}</p>
                          </td>
                      </tr>
                      <tr class="sum-bottom">
                        <td colspan="4" class="text-center">Sum</td>
                        <td *ngFor="let item of ProfitStatistics" class="text-center">{{item.data | number}}</td>
                        <td>
                          <p [hidden]="!ProfitStatistics.length">{{sumProfit | number}}</p>
                          <p [hidden]="!ProfitStatistics.length">{{sumContractAmount | number}}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
              </div>
        </div>
      </div>
    </article>
</section>
</div>
