/* i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
  
  } */
.status .who{padding: 15px}
.status .text {
    padding: 15px;
}
.status .text div {
    margin-bottom: 10px;
}
.status .links{
    padding: 15px;
}
.status .links li {
    padding-right: 0;
}
.panel-default:hover {
    border-color: #9da4ab;
    box-shadow: 0 1px 3px 1px rgb(136, 140, 144);
}

.dropdown-menu {
    background: #fff;
    border-bottom: 2px solid #efefef;
}
.dropdown-menu>li>a {
    color: #333!important;
}
.dropdown-menu > li > a:hover{
    background-color: #efefef;
        color: #333;
}
.customer-star{
    padding: 5px 9px 7px 10px;
}
.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}
.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}
.round.blue {
    background-color: #3EA6CE;
}
.round.orange {
    background-color: #FF6701;
}
.round.green {
    background-color: #42A129;
}
 a.ng-star-inserted>i.fa-star{
    margin-left:7px
 }
 div.who{
    background: #f1f1f1;
    text-align:center;
 }
 i.fa-angle-down{
    margin-top: 8px;
 }