<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="[('REGISTER-SYSTEM-MENU-TITLE'|i18n)]" icon="cog" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-4">
        <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>{{'SYSTEM-MENU-MANAGEMENT-EDIT' | i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && onSubmit()" class="smart-form atman-form-small frm-detail"
                novalidate="novalidate" [saUiValidate]="validationOptions">
                <fieldset>
                  <input type="hidden" name="menu_id" [(ngModel)]="detailInfo.menu_id" />
                  <div class="row">
                    <section class="col col-3">
                      <label class="label">{{'Entry-Date' | i18n}}</label>
                      <label class="input state-disabled">
                        <input type="text" name="entry_date" class="center" [value]="entryDate"
                          autocomplete="off" disabled />
                      </label>
                    </section>
                    <section class="col col-3">
                      <label class="label">{{'Entry-Member' | i18n}}</label>
                      <label class="input state-disabled">
                        <input type="text" name="entry_member" class="center" [value]="detailInfo.creator"
                          autocomplete="off" disabled />
                      </label>
                    </section>
                    <section class="col col-3">
                      <label class="label">Menu Code</label>
                      <label class="input state-disabled">
                        <input type="text" name="menu_id" [value]="detailInfo.menu_id === 0 ? '' : detailInfo.menu_id"
                          autocomplete="off" placeholder="---" class="center" disabled />
                      </label>
                    </section>
                    <section class="col col-3">
                      <label class="label">{{'Menu-Level' | i18n}}</label>
                      <label class="input">
                        <select name="menu_level" [(ngModel)]="detailInfo.menu_level" select2
                          required style="width:100%;" placeHolder="Select level" class="select2 required" [defaultVal]="detailInfo.menu_level" autoEmitModel="false" (onSelectedChange)="onLevelSelectedChange($event)">
                          <option value=''></option>
                          <option value=1>Level #1</option>
                          <option value=2>Level #2</option>
                          <option value=3>Level #3</option>
                        </select>
                      </label>
                    </section>

                  </div>
                  <div class="row">
                    <section class="col col-6">
                      <label class="label">{{'Menu-Name' | i18n}}</label>
                      <label class="input">
                        <input type="text" name="menu_name" [(ngModel)]="detailInfo.menu_name" autocomplete="off"
                          required />
                      </label>
                    </section>

                    <section class="col col-6">
                      <label class="label">{{'Parent-Menu' | i18n}}</label>
                      <label class="input">
                        <select name="parent_menu_id" [(ngModel)]="detailInfo.parent_menu_id" [defaultVal]="detailInfo.parent_menu_id" select2 style="width:100%;"
                          class="select2" placeHolder="Parent menu">
                          <!-- <option value=""></option> -->
                          <option *ngFor="let p of parentMenus" value="{{p.menu_id}}">{{p.menu_name}}</option>
                        </select>
                      </label>
                    </section>
                  </div>
                  <div class="row">
                    <section class="col col-3">
                      <label class="label">{{'Order-Sequence' | i18n}}</label>
                      <label class="input">
                        <input type="number" name="orderby_seq" class="sm-width text-right" [(ngModel)]="detailInfo.orderby_seq" autocomplete="off"
                          autoSelectText required />
                      </label>
                    </section>
                    <section class="col col-3">
                      <label class="label">{{'Icon' | i18n}}</label>
                      <label class="input">
                        <input type="text" name="mega_menu_nm" class="" [(ngModel)]="detailInfo.mega_menu_nm" autocomplete="off" />
                      </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">{{'Program-url' | i18n}}</label>
                        <label class="input">
                          <input type="text" name="program_cd" [(ngModel)]="detailInfo.program_cd" autocomplete="off" />
                        </label>
                      </section>
                  </div>
                  <!-- <div class="row">
                    
                    <section class="col col-6">
                      <label class="label">{{'Navigation-Name' | i18n}}</label>
                      <label class="input">
                        <input type="text" name="navi_nm" [(ngModel)]="detailInfo.navi_nm" autocomplete="off" required />
                      </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">{{'Mega-Menu-Name' | i18n}}</label>
                        <label class="input">
                          <input type="text" name="mega_menu_nm" [(ngModel)]="detailInfo.mega_menu_nm" autocomplete="off" />
                        </label>
                      </section>
                    
                  </div> -->
                  <div class="row">
                      <section class="col col-6">
                          <label class="label">{{'Help-text' | i18n}}</label>
                          <label class="input">
                            <input type="text" name="mega_menu_help_text" [(ngModel)]="detailInfo.mega_menu_help_text"
                              autocomplete="off" />
                          </label>
                        </section>
                        <section class="col col-2">
                            <label class="label">{{'Use-YN' | i18n}}</label>
                            <label class="input">
                              <label class="checkbox">
                                <input type="checkbox" name="use_yn" [(ngModel)]="detailInfo.use_yn" checked="detailInfo.use_yn">
                                <i></i>
                              </label>
                            </label>
                          </section>
                  </div>
                  <section class="">
                      <label class="label">{{'Description' | i18n}}</label>
                      <label class="textarea">
                        <textarea type="text" name="remark" [(ngModel)]="detailInfo.remark" autocomplete="off"></textarea>
                      </label>
                    </section>
                </fieldset>

                <footer>
                    <button type="button" name="btnCloseProgram" (click)="onCloseProgram()" class="btn btn-close btn-xs edit-program">
                        <i class="fa fa-times"></i>
                        {{'button-close' | i18n}}
                      </button>
                  <button type="button" (click)="onReset(frmDetail)" name="reset" class="btn btn-default btn-xs edit-program">
                    <i class="fa fa-refresh"></i>
                    {{'button-reset' | i18n}}
                  </button>
                  <button type="submit" [disabled]="!this.permission.canSave" name="submit" class="btn btn-primary btn-xs edit-program">
                    <i class="fa fa-save"></i>
                    {{'button-save' | i18n}}
                  </button>

                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
      <article class="col-sm-8">
        <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-list"></i>
            </span>
            <h2> {{'System-menu-Management' | i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="options" (rowClick)="onRowClick($event)" paginationLength="true" filter="true"
                tableClass="table table-striped table-condensed table-hover table-bordered">
                <thead>
                  <tr class="heading">
                    <th>{{'Code' | i18n}}</th>
                    <th>{{'Menu-Name' | i18n}}</th>
                    
                    <th>{{'Level' | i18n}}</th>
                    <th>{{'Order' | i18n}}</th>
                    <!-- <th>{{'NAV-NAME' | i18n}}</th> -->
                    <th>{{'Program-url' | i18n}}</th>
                    <th>{{'Icon' | i18n}}</th>
                    <th>{{'Help-Text' | i18n}}</th>
                    <th>{{'Use' | i18n}}</th>
                    
                  </tr>
                  <tr>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter ID" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter Name" />
                    </th>
                   
                    <th class="hasinput">
                      <select id="filerByStatus" class="form-control select-filter">
                        <option value="">All</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=2>3</option>
                      </select>
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Order" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter" />
                    </th>
                    <!-- <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter Navi. Name" />
                    </th> -->
                    
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter Help-text" />
                    </th>
                    <th class="hasinput">
                      <select id="filerByStatus" class="form-control select-filter">
                        <option value="">All</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </th>
                    
                  </tr>

                </thead>
              </sa-datatable>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>