<form #frmEditContrct="ngForm" (ngSubmit)="frmEditContrct.form.valid && onSubmit()" class="smart-form atman-form-small frm-detail" novalidate="novalidate"
    [saUiValidate]="validationOptions">
    <fieldset>
            <input type="hidden" name="company_seq" [(ngModel)]="detailInfo.company_seq" />
        <div class="row">
            <section class="col col-6">
                <label class="label">Package</label>
                <label class="input">
                    <select name="pack_id" [(ngModel)]="detailInfo.pack_id" select2 [defaultVal]="detailInfo.pack_id"
                    (onSelectedChange)="packageOnChange(detailInfo.pack_id)"
                         required style="width:100%;" class="select2 required" placeHolder="Select package">
                        <option *ngFor="let s of packages" value={{s.pack_id}}>{{s.pack_nm}}</option>
                    </select>
                </label>
            </section>
            <section class="col col-6">
                <label class="label">Contract Number</label>
                <label class="input">
                    <i class="icon-append fa fa-sign"></i>
                    <input type="text" name="contract_no" [(ngModel)]="detailInfo.contract_no" autocomplete="off"
                        required />
                </label>
            </section>
        </div>

        <div class="row">
            <section class="col col-6">
                <label class="label">Contract Name</label>
                <label class="input">
                    <i class="icon-append fa fa-book"></i>
                    <input type="text" name="contract_name" [(ngModel)]="detailInfo.contract_name" autocomplete="off"
                        required />
                </label>
            </section>
            <section class="col col-6">
                <label class="label">Contract Person</label>
                <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    <input type="text" name="contract_person" [(ngModel)]="detailInfo.contract_person" autocomplete="off" />
                </label>
            </section>
        </div>
        <div class="row">
                <section class="col col-6">
                    <label class="label">Contract Date</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="contract_date" [(ngModel)]="detailInfo.contract_date" autocomplete="off" required
                            required placeholder="yyyy-mm-dd" [saUiDatepicker]/>
                    </label>
                </section>
                <section class="col col-3">
                    <label class="label">Max users</label>
                    <label class="input">
                        <i class="icon-append fa fa-money"></i>
                        <input type="number" name="package_user_amount" disabled [(ngModel)]="detailInfo.packageInfo.package_user_amount" autocomplete="off" />
                    </label>
                </section>
                <section class="col col-3">
                    <label class="label">Money</label>
                    <label class="input">
                        <i class="icon-append fa fa-money"></i>
                        <input type="number" name="package_money_amount" disabled [(ngModel)]="detailInfo.packageInfo.package_money_amount" autocomplete="off" />
                    </label>
                </section>
            </div>
        <section>
            <label class="label">Attachment</label>
            <label class="input">
                <i class="icon-append fa fa-upload"></i>
                <input type="hidden" id="attach_document" name="attach_document" [(ngModel)]="detailInfo.attach_document" />
                <input type="file" name="attach" (change)="onFileChange($event)" #logo accept="image/png,image/gif,image/jpeg">
            </label>
        </section>
        <div class="row">
            <section class="col col-6">
                <label class="label">Status</label>
                <label class="input">
                    <label class="checkbox">
                        <input type="checkbox" name="use_yn" [(ngModel)]="detailInfo.use_yn" checked="detailInfo.use_yn">
                        <i></i>Active</label>
                </label>
            </section>
        </div>
        <section>
            <label class="label">Description</label>
            <label class="textarea">
                <textarea name="remark" [(ngModel)]="detailInfo.remark"></textarea>
            </label>
        </section>
    </fieldset>

    <footer>
        <!-- <button type="button" name="close" class="btn btn-info">
          <i class="fa fa-close"></i>
          Close
        </button> -->
        <!-- <button type="button" (click)="onReset(frmDetail)" name="reset" class="btn btn-default">
            <i class="fa fa-refresh"></i>
            Reset
        </button> -->
        <button type="submit" name="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Save
        </button>

    </footer>
</form>