<div id="content" class="customer-detail">
  <div class="row">
    <sa-big-breadcrumbs [items]="[('CONTRACT-LB-Detail'|i18n)]" icon="bar-chart-o" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="well well-sm contract">
    <ng-container *ngIf="contractInfo.src_order_type; else costOrder">
    <span class="label label-info" style="background-color: #00b5ad;color: white;">{{'CONTRACT-LB-Detail-Order' | i18n}}</span>
    </ng-container>
    <ng-template #costOrder>
        <span class="label label-danger" style="background-color: #00b5ad;color: white;">{{'CONTRACT-LB-Detail-Cost-Order' | i18n}}</span>
    </ng-template>
    
    <h3 class="contract-name">{{contractInfo.contract_nm}}</h3>
    <span class="label label-default" style="color: #333;background-color: #e5e5e5;"><i class="fa fa-pencil"></i> {{'CONTRACT-LB-Detail-by' | i18n}} {{contractInfo.creator}}</span>
    <div class="btn-actions">
      <a href="javascript:void(0);" class="btn btn-default btn-sm" (click)="openEditDetailPopup()"><i class="fa fa-edit"></i></a>
      <a [routerLink]="['/crm-contract']" class="btn btn-default btn-sm"><i class="fa fa-mail-reply"></i></a>
    </div>
  </div>
  <article class="smart-form contract">
    <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
      <!-- widget div-->
      <div class="col col-lg-12 content" style="padding-bottom: 15px;">
        <div class="col col-lg-4 left-column">
          <section class="title">
            <p>{{'CONTRACT-LB-Detail-Contract-information' | i18n}}</p>
          </section>
          <section class="col-lg-12">
            <label class="label col-lg-3">{{'CONTRACT-LB-Detail-A-contractor' | i18n}}</label>
            <label class="label col-lg-9 ">
                {{contractInfo.order_account}}
            </label>
          </section>
          <section class="col-lg-12">
            <label class="label col-lg-3">{{'CONTRACT-LB-Detail-Manager' | i18n}}</label>
            <label class="label col-lg-9 ">

            </label>
          </section>
          <section class="col-lg-12">
              <label class="label col-lg-3">{{'CONTRACT-LB-Detail-Term' | i18n}}</label>
              <label class="label col-lg-9 " style="height: 100%;">
                {{contractInfo.contract_start_ymd}} ~ {{contractInfo.contract_end_ymd}}
              </label>
            </section>
          <section class="col-lg-12">
              <label class="label col-lg-3">{{'CONTRACT-LB-Detail-Price' | i18n}}</label>
              <label class="label col-lg-9 " style="height: 100%;">
                {{contractInfo.contract_amt | number}}
              </label>
          </section>
        </div>
        <div class="col col-lg-4 center-column">
          <section class="title">
            <p>{{'CONTRACT-LB-Detail-Sales-information' | i18n}}</p>
          </section>
          <section class="col-lg-12" class="sale-name">
            <p class="col col-lg-12">
              {{contractInfo.order_nm}}
            </p>
          </section>
          <section class="col-lg-12">
            <label class="label col-lg-3" style="width: 138px;">{{'CONTRACT-LB-Detail-AM-in-charge' | i18n}}</label>
            <label class="label col-lg-8 ">
                {{contractInfo.sales_admin}}
            </label>
          </section>
          <section class="col-lg-12">
              <label class="label col-lg-3" style="width: 138px;">{{'CONTRACT-LB-Detail-Customer' | i18n}}</label>
              <label class="label col-lg-8 ">
                  {{contractInfo.sales_customer}}
              </label>
            </section>
        </div>
        <div class="col col-lg-4 right-column">
          <section class="title">
            <p>{{'CONTRACT-LB-Detail-Contract-content' | i18n}}</p>
          </section>
          <section class="col-lg-12" class="sale-name">
            <p class="col col-lg-12">
              {{contractInfo.content_text}}
            </p>
          </section>
        </div>
      </div>
    </div>
  </article>

  <section>
      <div class="well well-sm contract">
          <i class="fa fa-list"></i>
          <h3 class="contract-name"> {{'CONTRACT-LB-Detail-Order-History' | i18n}}</h3>
        </div>
      <article class="smart-form contract">
          <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
            <!-- widget div-->
            <div class="col col-lg-12 content">
                <div class="widget-body no-padding" style="min-height:0px">
										<div class="table-responsive">
											<table class="table table-bordered table-striped history">
												<thead>
													<tr>
														<th>{{'CONTRACT-LB-Detail-NO' | i18n}}</th>
														<th>{{'CONTRACT-LB-Detail-ITEM' | i18n}}</th>
														<th>{{'CONTRACT-LB-Detail-MEMO' | i18n}}</th>
														<th>{{'CONTRACT-LB-Detail-UNIT-PRICE' | i18n}}</th>
														<th>{{'CONTRACT-LB-Detail-QUANTITY' | i18n}}</th>
														<th>{{'CONTRACT-LB-Detail-SUB-TOTAL' | i18n}}</th>
														<th>{{'CONTRACT-LB-Detail-PROPOSER' | i18n}}</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let item of history;let idx = index">
														<td style="text-align:center;width: 30px">{{idx+1}}</td>
														<td>{{item.crm_item_nm}}</td>
														<td style="max-width: 250px; width: 250px;">{{item.memo_text}}</td>
														<td class="price">$ {{item.price | number}}</td>
														<td class="price" style="text-align:center">{{item.qty}}</td>
														<td class="price">$ {{item.sub_total_amt | number}}</td>
														<td class="price">$ {{item.estimate_atm | number}}</td>
													</tr>
												</tbody>
											</table>
											
										</div>
									</div>
            </div>
          </div>
        </article>
  </section>

  <section>
      <div class="well well-sm contract">
          <i class="fa fa-money"></i>
          <h3 class="contract-name"> {{'CONTRACT-LB-Detail-Issue-information' | i18n}}</h3>
          <!-- <article> {{contractInfo.contract_details | json}}</article> -->
        </div>
      <article class="smart-form contract">
          <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
            <!-- widget div-->
            <div class="col col-lg-12 content" style="padding-bottom: 15px;">
                <div class="col col-lg-12" style="margin-bottom: 20px;padding: 0;">
                    <button type="button" (click)="saveContractDetail()" class="btn btn-success col" style="height: 32px;margin: 0 5px 0 2px;">
                        <i class="fa fa-save"></i>
                        {{'CONTRACT-LB-Detail-Save-publication-information' | i18n}}
                    </button>
                    <div class="col-lg-1">
                        <div class="input-group">
                            <input [(ngModel)]="inputNumberClone" maxlength="2" style="min-height: 32px;z-index: 1;" class="form-control input-sm col col-lg-7" onclick="this.select()">
                            <span class="input-group-addon" style="padding: 0; top: 0px; position: relative; left: -1px; border: none;">
                                <button type="button" class="col col-lg-3" style="padding: 6px;" (click)="addClone()"
                                    class="btn btn-default">{{'CONTRACT-LB-Detail-Add' | i18n}}</button>
                            </span>
                        </div>
                    </div>
                    <button type="button" (click)="batchDate()" class="btn btn-default col" style="height: 32px;margin: 0 5px;">
                      {{'CONTRACT-LB-Detail-Apply-batch-date' | i18n}}
                    </button>
                    <button type="button" (click)="batchAmount()" class="btn btn-default col" style="height: 32px;margin: 0 5px;">
                      {{'CONTRACT-LB-Detail-Amount' | i18n}} ({{contractInfo.contract_amt | number}})
                    </button>
                    <div class="col-lg-2">
                        <div class="input-group">
                            <input style="min-height: 32px;z-index: 1;" type="number" [(ngModel)]="priceBulk" class="form-control input-sm col col-lg-7" onclick="this.select()">
                            <span class="input-group-addon" style="padding: 0; top: 0px; position: relative; left: -1px; border: none;">
                                <button type="button" (click)="applyBulk()" class="col col-lg-3" style="padding: 6px;"
                                    class="btn btn-default">{{'CONTRACT-LB-Detail-Apply-in-bulk' | i18n}}</button>
                            </span>
                        </div>
                    </div>
                </div>
              <div class="col col-lg-12">
                  <div class="widget-body no-padding">
                      <div class="table-responsive">
                          <table class="table table-bordered table-striped" style="border: 1px solid #e5e5e5 !important">
                            <thead>
                              <tr>
                                <th>{{'CONTRACT-LB-Detail-No' | i18n}}</th>
                                <th>{{'CONTRACT-LB-Detail-Date-of-Issue' | i18n}}</th>
                                <th>{{'CONTRACT-LB-Detail-Issue-confirmation' | i18n}}</th>
                                <th>{{'CONTRACT-LB-Detail-Price' | i18n}}</th>
                                <th>{{'CONTRACT-LB-Detail-Estimated-deposit-date' | i18n}}</th>
                                <th>{{'CONTRACT-LB-Detail-Deposit-date' | i18n}}</th>
                                <th>{{'CONTRACT-LB-Detail-Action' | i18n}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of contractInfo.contract_details;let i = index;" [ngClass]="{'row-confirm': item.color =='true'}">
                                <td style="vertical-align: middle; text-align: center">{{i+1}}</td>
                                <td>
                                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                      <input type="text" [(ngModel)]="item.issue_ymd" name="issue_ymd" [saUiDatepicker]
                                        autocomplete="off">
                                    </label>
                                </td>
                                <td style="width: 104px;">
                                  <!-- <button class="btn btn-sm" [ngClass]="{'issue-blue': item.color =='true'}" (click)="issueConfirm('true',i)">Y</button>
                                  <button class="btn btn-sm" [ngClass]="{'issue-blue':  item.color =='false'}" (click)="issueConfirm('false',i)">N</button> -->
                                  <label class="toggle" style="left: -27px;">
                                    <input type="checkbox" name="checkbox-toggle" [(ngModel)]="item.issue_yn" checked="item.issue_yn" (click)="issueConfirm(!item.issue_yn,i)">
                                    <i data-swchon-text="Yes" data-swchoff-text="No"></i></label>
                                </td>
                                <td>
                                  <input class="form-control input-sm col" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" [(ngModel)]="item.issue_amt" name="issue_amt" onclick="this.select()">
                                </td>
                                <td>
                                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                      <input type="text" [(ngModel)]="item.amt_eta_ymd" name="amt_eta_ymd" [saUiDatepicker]
                                        autocomplete="off">
                                    </label>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <label class="checkbox" style="display: inline; position: relative; top: -4px;">
                                            <input type="checkbox" [(ngModel)]="item.checkDepositDate" name="checkDepositDate" (click)="checkDepositDate(!item.checkDepositDate,i)">
                                            <i></i>&nbsp;
                                          </label>
                                        <label class="input" style="display: inline-block;"> <i class="icon-append fa fa-calendar"></i>
                                          <input type="text" [disabled]='!item.checkDepositDate'  [(ngModel)]="item.amt_actual_ymd" name="amt_actual_ymd" [saUiDatepicker]
                                            autocomplete="off">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-default" (click)="refreshDetail(item.trans_seq,i)"><i class="fa fa-refresh"></i></button>
                                    <button class="btn btn-sm btn-danger" (click)="removeDetail(item,i)"><i class="fa fa-trash"></i></button>
                                  </td>
                              </tr>
                            </tbody>
                          </table>
                          
                        </div>
                    </div>
              </div>
          </div>
          </div>
        </article>
  </section>
</div>

<ng-template #popupContract>
  <sa-popup-modal headerTitle="{{'CONTRACT-HEADER-EDIT-SALES-CONTRACT-DATA-MANAGEMENT' | i18n}}" width="900"
      height="900" (onClose)="closePopup()">
      <sa-contract-popup (childCall)="reloadData($event)" Id={{contractInfo.contract_id}} JSContractInfo={{contractInfo|json}}></sa-contract-popup>
  </sa-popup-modal>
</ng-template>