.contract .contract-name{
    margin: 0;
    display: inline;
    font-size: 14px;
    position: relative;
    top: 1px;
    padding: 0 6px;}
.contract .btn-actions{float: right; top: -6px; position: relative;}
.contract .btn-actions a{margin: 0 3px;}
.contract .content{top: -20px;}
.contract .left-column,.contract .center-column{border-right: 1px solid #ddd;padding-right: 30px;}
.contract .left-column .title,.contract .center-column .title,.contract .right-column .title{border-bottom: 1px solid #ddd;}
.contract .left-column .title p,.contract .center-column .title p,.contract .right-column .title p{line-height: 40px;font-size:14px}
.contract .center-column,.contract .right-column{padding-left: 30px;}
.contract .center-column .sale-name,.contract .right-column .sale-name{height: 19px;}
.contract .center-column .sale-name p,.contract .right-column .sale-name p{padding: 0;font-size: 13px;}


.issue-blue{background-color: blue;color: white}
.row-confirm{background-color: #c1d7e0 !important}
table.history tr th{text-align:center}
table.history tr td.price{text-align:right;width: 150px;}
.well.contract{
    background: #57879b3d;
    border: 1px solid #ccc;
}