<div id="content">
  <div class="well well-sm">
    <div class="row">
      <section class="col-lg-8">
        <div class="col" style="float: left;">
          <button class="btn btn-info button-switch">All</button>
          <span class="mid-switch">or</span>
          <button class="btn btn-info button-switch right-switch">My</button>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-2">
          <div class="input-group">
            <input class="form-control input-sm col col-lg-7"
              onclick="this.select()" [(ngModel)]="searchKeyword" (keypress)="checkKeycode($event)" placeholder="Search activity name...">
            <span class="input-group-addon" style="padding: 0; top: 0px; position: relative; left: -4px; border: none;">
              <button type="button" class="col col-lg-3" style="padding-bottom: 4px;" (click)="search()"
                class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-2">
          <label class="input" style="width: 100%;">
            <select select2 class="select2" name="searchByCreator" required  [(ngModel)]="searchByCreator"
            (onSelectedChange)="search()" [defaultVal]="searchByCreator"
              style="width:100%" >
              <option value=" ">All users</option>
              <option *ngFor="let item of userList" value="{{item.user_nm}}">{{item.user_nm}}</option>
            </select>
          </label>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-2">
          <label class="input" style="width: 100%;">
            <select select2 class="select2" name="searchByActivityType" required  [(ngModel)]="searchByActivityType"
            (onSelectedChange)="search()" [defaultVal]="searchByActivityType"
              style="width:100%" >
              <option value=" ">All types</option>
              <option *ngFor="let item of activityTypeList" value="{{item.value}}">{{item.text}}</option>
            </select>
          </label>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-2">
          <label class="input" style="width: 100%;">
            <select select2 class="select2" name="searchByYear" required  [(ngModel)]="searchByYear"
            (onSelectedChange)="search()"
              style="width:100%" >
              <option *ngFor="let item of listYear" value="{{item.val}}">{{item.text}}</option>
            </select>
          </label>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-2">
          <label class="input" style="width: 100%;">
            <select select2 class="select2" name="searchByMonth" required  [(ngModel)]="searchByMonth"
            (onSelectedChange)="search()" [defaultVal]="searchByMonth"
              style="width:100%" >
              <option value="0">Month</option>
              <option *ngFor="let item of listMonth" value="{{item.val}}">{{item.text}}</option>
            </select>
          </label>
        </div>
      </section>
    </div>
  </div>
  <div class="row _panel-group">
    <div class="_panel _panel-1">
      <div class="well well-sm  text-center">
        <ng-container *ngIf="ShowActivityLoadingCenter; else showStatus1">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus1>
          <p class="amount">{{total_Count}}</p>
          <h5 class="text total">TOTAL</h5>
        </ng-template>
      </div>
    </div>
    <div class="_panel _panel-2">
      <div class="well well-sm  text-center">
        <ng-container *ngIf="ShowActivityLoadingCenter; else showStatus2">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus2>
          <p class="amount">{{business_Count}}</p>
          <h5 class="text"><i class="fa fa-user"></i> Business Status</h5>
        </ng-template>
      </div>
    </div>
    <div class="_panel _panel-3">
      <div class="well well-sm  text-center">
        <ng-container *ngIf="ShowActivityLoadingCenter; else showStatus3">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus3>
          <p class="amount">{{support_Count}}</p>
          <h5 class="text"><i class="fa fa-user"></i> Technical support</h5>
        </ng-template>
      </div>
    </div>
    <div class="_panel _panel-4">
      <div class="well well-sm  text-center">
        <ng-container *ngIf="ShowActivityLoadingCenter; else showStatus4">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus4>
          <p class="amount">{{email_Count}}</p>
          <h5 class="text"><i class="fa fa-user"></i> E-mail</h5>
        </ng-template>
      </div>
    </div>
    <div class="_panel _panel-5">
      <div class="well well-sm  text-center">
        <ng-container *ngIf="ShowActivityLoadingCenter; else showStatus5">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus5>
          <p class="amount">{{telephone_Count}}</p>
          <h5 class="text"><i class="fa fa-user"></i> Telephone</h5>
        </ng-template>
      </div>
    </div>
    <div class="_panel _panel-6">
      <div class="well well-sm  text-center">
        <ng-container *ngIf="ShowActivityLoadingCenter; else showStatus6">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus6>
          <p class="amount">{{conference_Count}}</p>
          <h5 class="text"><i class="fa fa-user"></i> Conference</h5>
        </ng-template>
      </div>
    </div>
    <div class="_panel _panel-7">
      <div class="well well-sm  text-center">
        <ng-container *ngIf="ShowActivityLoadingCenter; else showStatus7">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus7>
          <p class="amount">{{issue_Count}}</p>
          <h5 class="text"><i class="fa fa-user"></i> Issue</h5>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="row recent">
    <section class="col-sm-12">
      <div class="well well-sml">
        <section class="body" style="overflow: auto;">
          <ng-container *ngIf="ShowActivityLoadingCenter; else showActivity">
            <div class="loading center-loading">
              <img src="/assets/img/loading-red.gif"> Please wait...
            </div>
          </ng-container>
          <ng-template #showActivity>
            <ng-container *ngIf="listActivity.length; else noneActivity">
              <ul class="smart-timeline-list">
                <li *ngFor="let item of listActivity;let idx = index">
                  <div class="smart-timeline-icon">
                    <div class="index" (click)="goToComponent(item.child_input_func, item.child_id)">
                      <span><i class="fa {{item.child_icon}}"></i></span>
                    </div>
                  </div>
                  <div class="smart-timeline-content custom-span" (click)="Expand(idx)">
                    <span style="padding-right: 10px;color:#4183c4">{{item.parent_title}}</span>
                    <span class="custom-tooltip" tooltip="{{item.parent_date | moment:'YYYY-MM-DD HH:mm'}}"
                      placement="left"><i class="fa fa-clock-o"></i> {{item.parent_date| amTimeAgo}}
                    </span>
                    <span class="label label-default">created by: {{item.parent_creator}}</span>
                    <p class="title">
                      <ng-container
                        *ngIf="item.child_type =='email'||item.child_type =='tel'||item.child_type =='issue'||item.child_type =='meeting'; else businessSupport">
                        <ng-container *ngIf="item.child_type =='email'||item.child_type =='tel'; else issueMeeting">
                          <ng-container *ngIf="item.child_item_1 == 1; else reception">
                            <span class="label label-success margin-right">{{'POPUP-ACTIVITY-SEND' | i18n}}</span>
                          </ng-container>
                          <ng-template #reception>
                            <span class="label label-warning margin-right">{{'POPUP-ACTIVITY-RECEPTION' | i18n}}</span>
                          </ng-template>
                          <span><strong>{{item.child_item_2}}</strong></span>
                          <span class="label label-default" style="margin-left: 9px !important;">{{item.child_date}}</span>
                          <div class="detail">
                            <div *ngIf="idx !== indexExpand" data-maxlength="100" class="content-title"
                              innerHtml="{{item.child_item_3}}"></div>
                            <div *ngIf="idx == indexExpand" [innerHtml]="item.child_item_3"></div>
                          </div>
                        </ng-container>
                        <ng-template #issueMeeting>
                          <span><strong>{{item.child_item_1}}</strong></span>
                          <span class="label label-default" style="margin-left: 9px !important;">{{item.child_date | date:'yyyy-MM-dd'}}</span>
                          <div class="detail">
                            <div *ngIf="idx !== indexExpand" data-maxlength="100" class="content-title"
                              innerHtml="{{item.child_item_2}}"></div>
                            <div *ngIf="idx == indexExpand" [innerHtml]="item.child_item_2"></div>
                          </div>
                        </ng-template>
                      </ng-container>
                      <ng-template #businessSupport>
                        <ng-container *ngIf="item.child_type =='business'; else support">
                          <p class="title">
                            <span class="label label-default margin-right">Business day
                              {{item.child_date | date:"yy-mm-dd"}}</span>
                            <span class="label border-transparent margin-right">Progress rate
                              {{item.child_item_1}}</span>
                            <span class="label border-transparent margin-right">Possibility
                              {{item.child_item_2}}%</span>
                            <span class="label border-red"><i class="fa fa-won"></i>
                              {{item.child_item_3 |number}}</span>
                          </p>
                          <section class="detail" *ngIf="idx == indexExpand">
                            <div class="input-group col-lg-12">
                              <span class="input-group-addon" style="width: 60px;">
                                Issue
                              </span>
                              <span class="form-control input-sm"
                                style="background: white; overflow: auto; height: 100%; color: black;" readonly
                                innerHtml="{{item.child_item_4}}">&nbsp;</span>
                            </div>
                            <div class="input-group col-lg-12">
                              <span class="input-group-addon" style="width: 60px;">
                                Memo
                              </span>
                              <span class="form-control input-sm"
                                style="background: white; overflow: auto; height: 100%; color: black;" readonly
                                innerHtml="{{item.child_item_5}}">&nbsp;</span>
                            </div>
                          </section>
                        </ng-container>
                        <ng-template #support>
                          <p class="title">
                            <span class="label label-warning margin-right">{{item.child_item_1}}</span>
                            <span style="margin-right:8px"><strong>{{item.child_item_2}}</strong></span>
                            <span class="label label-default margin-right">
                              <i class="fa fa-user"></i>
                              <span *ngIf="item.child_item_3 !==''">
                                {{item.child_item_3}}
                              </span>
                            </span>
                            <span class="label border-transparent margin-right"><i class="fa fa-clock-o"></i>
                              {{item.child_item_4}}</span>
                            <span class="label label-default">Date: {{item.child_date | date:'yyyy-MM-dd'}}</span>
                          </p>
                          <div class="detail">
                            <div *ngIf="idx !== indexExpand" data-maxlength="100" class="content-title"
                              innerHtml="{{item.child_item_5}}"></div>
                            <div *ngIf="idx == indexExpand" [innerHtml]="item.child_item_5"></div>
                          </div>
                        </ng-template>
                      </ng-template>
                    </p>
                  </div>
                </li>
              </ul>
            </ng-container>
            <ng-template #noneActivity>
              <h2 style="text-align: center;">
                <i class="fa fa-exclamation"></i>
                <p>{{'ACTIVITY-WARNING-NO-ACTIVITY' | i18n}}!</p>
              </h2>
            </ng-template>
            <button class="btn btn-info show-more" (click)="addMore()">Load more</button>
          </ng-template>
        </section>
      </div>
    </section>
  </div>
</div>