/* 
.well {cursor: pointer;background-color: #00BCD4!important;}
.well .title{font-weight: bold;padding-left: 10px;}
.well .content{margin-top: 21px;}
.well .number{
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}
.well .name{
    font-size: 14px;
    font-weight: 400;
} */
.button-switch{
    width:50px;
    border: none;
    box-shadow: none;
    height: 32px;
}
.mid-switch{
    position: absolute;
    top: 4px;
    margin-left: -9px;
    background: white;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-indent: 6px;
    font-size: 11px;
    line-height: 21px;
    z-index: 1;
}
.right-switch{
    position: relative;
    left: 4px;
}
/* ._panel-group{
    margin: 0;
} */
._panel{
    position: relative;
    width: calc(100% / 7);
    float: left;
    padding: 0px 15px;
}
._panel .well{
    padding-left: 0;
    padding-right: 0;
    height: 100px;
    border-radius: 3px;
}
._panel .well .amount{
    font-size: 25px;
    margin: 0;
}
._panel .well .text{
    border-top: 2px solid #2185d0;
    margin-top: 0;
    position: relative;
    top: 12px;
    height: 44px;
    margin: 0;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
    color: #0009;
}
._panel .well .text.total{
    color:#db2828;
    border-color:#db2828;
}

.smart-timeline-list:after {
    left: 35px;
}
.smart-timeline-icon {
    left: 0;
    top: 16px;
}
.smart-timeline-content {
    margin-left: 58px !important;
}
.smart-timeline-content p.title{
    margin: 7px 0 !important;
}
.smart-timeline-content p.title .detail{
    padding: 5px 0;
    cursor:pointer
}
.show-more{
    width: 100%;
    position: relative;
    z-index: 1;
}