<div id="content">
  <div class="well well-sm">
      <div class="row">
        <section class="col-lg-8">
            <div class="col col-lg-2 header">
                <label class="input col-lg-12">
                    <select select2 class="select2" name="sales_status_gen_cd" required [(ngModel)]="year"
                    [defaultVal]="year" style="width:100%" (onSelectedChange)="onYearChange()">
                      <option *ngFor="let item of years" value="{{item.val}}">{{item.text}}</option>
                    </select>
                  </label>
            </div>
            <div class="col col-lg-2 header">
                <label class="input col-lg-12">
                    <select select2 class="select2" name="sales_status_gen_cd" required [(ngModel)]="product"
                    [defaultVal]="product" style="width:100%" (onSelectedChange)="onProductChange()">
                      <option *ngFor="let item of products" value="{{item.val}}">{{item.text}}</option>
                    </select>
                  </label>
            </div>
        </section>
      </div>
  </div>
  <section class="margin-top statitics">
      <div class="well well-sm">
          <i class="fa fa-list"></i>
          <h3 class="header"> {{this.year}}</h3>
        </div>
      <article class="smart-form">
          <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
            <!-- widget div-->
            <div class="col col-lg-12 content">
                <div class="widget-body no-padding" style="min-height:0px;margin: 0;">
										<div class="table-responsive">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>{{'SALES-BY-PRODUCT-CATEGORY-1' | i18n}}</th>
														<th>{{'SALES-BY-PRODUCT-CATEGORY-2' | i18n}}</th>
														<th>{{'SALES-BY-PRODUCT-PRODUCT-NAME' | i18n}}</th>
                            <th>{{'SALES-BY-PRODUCT-SUM' | i18n}}</th>
                            <th>{{'January' | i18n}}</th>
														<th>{{'February' | i18n}}</th>
														<th>{{'March' | i18n}}</th>
														<th>{{'April' | i18n}}</th>
														<th>{{'May' | i18n}}</th>
														<th>{{'June' | i18n}}</th>
														<th>{{'July' | i18n}}</th>
														<th>{{'August' | i18n}}</th>
														<th>{{'September' | i18n}}</th>
														<th>{{'October' | i18n}}</th>
														<th>{{'November' | i18n}}</th>
                            <th>{{'December' | i18n}}</th>
													</tr>
												</thead>
												<tbody>
                          <!-- <tr *ngFor="let item of listContract;let idx = index" 
                          [ngStyle]="{'background': item.src_order_type ? 'transparent' : '#fff6f6','color': item.src_order_type ? '#666' : '#9f3a38'}">
														<td style="text-align:center;width: 30px">{{idx+1}}</td>
														<td>{{item.contract_start_ymd}}</td>
														<td>{{item.contract_end_ymd}}</td>
														<td>{{item.sales_admin}}</td>
														<td><a routerLink="/crm-contract-detail/{{item.contract_id}}">{{item.contract_nm}}</a></td>
														<td><a routerLink="/opportunity-detail/{{item.salesopt_id}}">{{item.order_nm}}</a></td>
														<td>{{item.salesopt_type_nm}}</td>
														<td>$ {{item.contract_amt | number}}</td>
													</tr> -->
												</tbody>
											</table>
											
										</div>
									</div>
            </div>
          </div>
        </article>
  </section>
</div>
