<div id="content">
  <div class="well well-sm">
    <div class="row">
      <section class="col-lg-8">
        <div class="col col-lg-2 header">
          <label class="input col-lg-12">
            <select select2 class="select2" name="year" required [(ngModel)]="year" [defaultVal]="year"
              style="width:100%" (onSelectedChange)="onYearChange()">
              <option *ngFor="let item of years" value="{{item.val}}">{{item.text}}</option>
            </select>
          </label>
        </div>
        <div class="col col-lg-2 header">
          <label class="input col-lg-12">
            <select select2 class="select2" name="progress" required [(ngModel)]="progress" [defaultVal]="progress"
              style="width:100%" (onSelectedChange)="onFilterChange()">
              <option *ngFor="let item of progressList" value="{{item.val}}">{{item.text}}</option>
            </select>
          </label>
        </div>
        <div class="col col-lg-2 header">
          <label class="input col-lg-12">
            <select select2 class="select2" name="possibility" required [(ngModel)]="possibility"
              [defaultVal]="possibility" style="width:100%" (onSelectedChange)="onFilterChange()">
              <option *ngFor="let item of possibilityList" value="{{item.val}}">{{item.text}}</option>
            </select>
          </label>
        </div>
        <div class="col col-lg-1" style="padding: 0;width: 150px;">
          <button type="button" class="btn btn-default dropdown-toggle col-lg-12" data-toggle="dropdown" tabindex="-1">
            <i class="fa fa-filter"></i>&nbsp;&nbsp;
            {{userSelected.user_nm}}
          </button>
          <ul class="dropdown-menu running-task" role="menu">
            <li>
              <a href="javascript:void(0);" (click)="onFilterChange({user_id: 0, user_nm: 'AM All'})">
                <i class="fa fa-user"></i> AM All
              </a>
            </li>
            <li *ngFor="let item of users">
              <a href="javascript:void(0);" (click)="onFilterChange(item)">
                <i class="fa fa-user"></i> {{item.user_nm}}
              </a>
            </li>
          </ul>
        </div>
        <div class="col col-lg-2 header" style="padding-right: 0;">
          <div class="input-group">
            <input [(ngModel)]="searchKey" (keypress)="checkKeycode($event)" class="form-control input-sm col col-lg-7"
              onclick="this.select()" placeholder="Search sales name...">
            <span class="input-group-addon" style="padding: 0; top: 0px; position: relative; left: -4px; border: none;">
              <button type="button" class="col col-lg-3" style="padding-bottom: 4px;" (click)="onFilterChange()"
                class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row status">
    <div class="col-sm-3">
      <div class="well well-sm txt-color-white text-center" style="background-color:#21ba45;">
        <ng-container *ngIf="ShowStatus1LoadingCenter; else showStatus1">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus1>
          <p class="amount">{{listDataTable.length | number}}</p>
          <h5>NUMBER OF SALES</h5>
        </ng-template>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="well well-sm txt-color-white text-center" style="background-color:#2185d0;">
        <ng-container *ngIf="ShowStatus2LoadingCenter; else showStatus2">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus2>
          <p class="amount">{{sumExpectedAmount | number}}</p>
          <h5>ESTIMATED REVENUE</h5>
        </ng-template>
      </div>
    </div>
  </div>
  <section class="statitics">
    <div class="well well-sm">
      <i class="fa fa-list"></i>
      <h3 class="header"> Sales Forecast {{this.year}}</h3>
    </div>
    <article class="smart-form">
      <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
        <!-- widget div-->
        <div class="col col-lg-12 content">
          <ng-container *ngIf="ShowStatisticLoadingCenter; else elseTemplate">
            <div class="show-loading">
              <img class="center" src="/assets/img/loading-red.gif">
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <h4 *ngIf="!ShowStatisticLoadingCenter && !sumArray.length" class="center">NO DATA</h4>
          </ng-template>
          <div id="ExpectedSalesStatistics" style="width: 100%;height: 320px;top: 12px;"></div>
        </div>
      </div>
    </article>
  </section>
  <section class="margin-top statitics">
    <div class="well well-sm">
      <i class="fa fa-list"></i>
      <h3 class="header"> {{this.year}}</h3>
    </div>
    <article class="smart-form">
      <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
        <!-- widget div-->
        <div class="col col-lg-12 content">
          <div class="widget-body no-padding" style="min-height:0px;margin: 0;">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>{{'SALES-EXPECTED-STATISTICS-TBL-SALES-NAME' | i18n}}</th>
                    <th>{{'SALES-EXPECTED-STATISTICS-TBL-ADMIN' | i18n}}</th>
                    <th>{{'SALES-EXPECTED-STATISTICS-TBL-PROGRESS' | i18n}}</th>
                    <th>{{'SALES-EXPECTED-STATISTICS-TBL-POSSIBILITY' | i18n}}</th>
                    <th>{{'January' | i18n}}</th>
                    <th>{{'February' | i18n}}</th>
                    <th>{{'March' | i18n}}</th>
                    <th>{{'April' | i18n}}</th>
                    <th>{{'May' | i18n}}</th>
                    <th>{{'June' | i18n}}</th>
                    <th>{{'July' | i18n}}</th>
                    <th>{{'August' | i18n}}</th>
                    <th>{{'September' | i18n}}</th>
                    <th>{{'October' | i18n}}</th>
                    <th>{{'November' | i18n}}</th>
                    <th>{{'December' | i18n}}</th>
                    <th>{{'SALES-EXPECTED-STATISTICS-TBL-SUM' | i18n}}</th>
                  </tr>
                </thead>
                <tbody class="table-custom">
                  <ng-container *ngIf="ShowDataTableLoadingCenter; else noDataTable">
                    <div class="show-loading">
                      <img class="center" src="/assets/img/loading-red.gif">
                    </div>
                  </ng-container>
                  <ng-template #noDataTable>
                    <tr *ngFor="let item of listDataTable;let idx = index">
                      <td>
                        <span class="label label-danger label-mini"
                          style="background-color:#db2828;color:white;margin-right:4px "
                          *ngIf="item.contracted">Contract completion
                        </span>
                        <p style="line-height: 21px;">{{item.salesoptnm}}</p>
                      </td>
                      <td class="text-center">{{item.admin_nm}}</td>
                      <td class="text-center">{{item.progress}}</td>
                      <td class="text-center">{{item.possibility}}</td>
                      <td class="text-center">
                        <p>{{item.details[0].value > 0 ? (item.details[0].value | number) : ''}}</p>
                      </td>
                      <td class="text-center">
                        <p>{{item.details[1].value > 0 ? (item.details[1].value | number) : ''}}</p>
                      </td>
                      <td class="text-center">
                        <p>{{item.details[2].value > 0 ? (item.details[2].value | number) : ''}}</p>
                      </td>
                      <td class="text-center">
                        <p>{{item.details[3].value > 0 ? (item.details[3].value | number) : ''}}</p>
                      </td>
                      <td class="text-center">
                        <p>{{item.details[4].value > 0 ? (item.details[4].value | number) : ''}}</p>
                      </td>
                      <td class="text-center">
                        <p>{{item.details[5].value > 0 ? (item.details[5].value | number) : ''}}</p>
                      </td>
                      <td class="text-center">
                        <p>{{item.details[6].value > 0 ? (item.details[6].value | number) : ''}}</p>
                      </td>
                      <td class="text-center">
                        <p>{{item.details[7].value > 0 ? (item.details[7].value | number) : ''}}</p>
                      </td>
                      <td class="text-center">
                        <p>{{item.details[8].value > 0 ? (item.details[8].value | number) : ''}}</p>
                      </td>
                      <td class="text-center">
                        <p>{{item.details[9].value > 0 ? (item.details[9].value | number) : ''}}</p>
                      </td>
                      <td class="text-center">
                        <p>{{item.details[10].value > 0 ? (item.details[10].value | number) : ''}}</p>
                      </td>
                      <td class="text-center">
                        <p>{{item.details[11].value > 0 ? (item.details[11].value | number) : ''}}</p>
                      </td>
                      <td class="text-right">
                        <p>{{item.sum | number}}</p>
                        <p class="color-red">{{item.expect_amt | number}}</p>
                      </td>
                    </tr>
                    <ng-container *ngIf="sumArray.length > 0; else noData">
                      <tr class="sum-bottom">
                        <td colspan="4" class="text-center">Sum</td>
                        <td *ngFor="let item of sumArray" class="text-center">{{item.value | number}}</td>
                        <td>
                          <p class=" text-right">{{sumAll | number}}</p>
                          <p class="color-red text-right">{{sumExpectedAmount | number}}</p>
                        </td>
                      </tr>
                    </ng-container>
                    <ng-template #noData>
                      <tr>
                        <td colspan="17"><h4 class="text-center">NO DATA</h4></td>
                      </tr>
                    </ng-template>
                  </ng-template>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>