<div id="content">
  <div class="well well-sm">
      <div class="row">
          <div class="col-sm-2" style="padding-right: 0;">
              <div class="input-group">
                  <input id="txtKeyword" (keypress)="checkKeycode($event)" class="form-control input-sm col col-lg-7"
                      onclick="this.select()" placeholder="Search anything values...">
                  <span class="input-group-addon" style="padding: 0; top: 0px; position: relative; left: -4px; border: none;">
                      <button type="button" class="col col-lg-3" style="padding-bottom: 4px;" (click)="search()"
                          class="btn btn-default">
                          <i class="fa fa-search"></i>
                      </button>
                  </span>
              </div>
          </div>
      </div>
  </div>
  <sa-widgets-grid>
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
        <div sa-widget class="jarviswidget-atman" color="atman">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-list"></i>
                </span>
                <h2>{{'CONTRACT-TBL-HEADER-CONTRACT-MANAGERMENT'|i18n}}</h2>
            </header>
            <div>
                <div class="widget-body no-padding smart-tbl">
                    <sa-datatable [options]="options" paginationLength="true" filter="false" tableClass="contractTbl table table-striped table-condensed table-hover table-bordered">
                        <thead>
                            <tr class="heading">
                                <th>{{'CONTRACT-TBL-CONTRACT-DATE' | i18n}}</th>
                                <th>{{'CONTRACT-TBL-CONTRACT-END-DATE' | i18n}}</th>
                                <th>{{'CONTRACT-TBL-CONTRACT-NAME' | i18n}}</th>
                                <th>{{'CONTRACT-TBL-CONTRACTOR' | i18n}}</th>
                                <th>{{'CONTRACT-TBL-CONTRACT-PRICE' | i18n}}</th>
                                <th>{{'CONTRACT-TBL-PURCHASE-AMOUNT' | i18n}}</th>
                                <th>{{'CONTRACT-TBL-AMOUNT-OF-ENTRY-AND-EXIT' | i18n}}</th>
                                <th>{{'CONTRACT-TBL-STATUS' | i18n}}</th>
                                <th>{{'CONTRACT-RECENT-BILLING-DAYS' | i18n}}</th>
                                <th>{{'CONTRACT-TBL-MODIFIED-DATE' | i18n}}</th>
                            </tr>
                        </thead>
                    </sa-datatable>
                </div>
            </div>
        </div>
    </section>
</sa-widgets-grid>
</div>


<ng-template #popupContract>
  <sa-popup-modal headerTitle="{{'CONTRACT-HEADER-EDIT-SALES-CONTRACT-DATA-MANAGEMENT' | i18n}}" width="900"
      height="900" (onClose)="closePopup()">
      <sa-contract-popup (childCall)="reloadDatatable($event)" Id={{Id}}></sa-contract-popup>
  </sa-popup-modal>
</ng-template>