<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-4">
        <div sa-widget color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>{{'CLOSING PAYROLL' | i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && onSubmit()" class="smart-form atman-form-small frm-detail"
                novalidate="novalidate" [saUiValidate]="validationOptions">
                <fieldset>
                  <div class="row">
                    <section class="col col-4">
                      <label class="label">{{'YEAR-MONTH' | i18n}}</label>
                      <label class="input">
                        <select name="month" select2 required style="width:100%;" class="select2 required" placeHolder="YYYY-MM">
                          <option value=""></option>
                          <option *ngFor="let m of monthsYear" value={{m.val}}>{{m.text}}</option>
                        </select>
                      </label>
                    </section>

                    <section class="col col-8">
                      <label class="label">{{'CLOSING-PAYROLL-SALARY-KIND' | i18n}}</label>
                      <label class="input">
                        <select [(ngModel)]="model.salary_kind_type" name="salary_kind_type" [defaultVal]="model.salary_kind_type"
                          select2 style="width:100%;" class="select2 required" placeHolder="Select Salary Kind"
                          allowClear='true'>
                          <option *ngFor="let s of salaryKind" [value]="s.gen_cd">{{s.gen_nm}}</option>
                        </select>
                      </label>
                    </section>
                  </div>
                  <div class="row">
                    <section class="col col-5">
                      <label class="label">{{'CLOSING-PAYROLL-LAST-CREATED' | i18n}}</label>
                      <label class="input">
                        <input type="text" readonly name="last_created" class="" [(ngModel)]="model.last_created" />
                      </label>
                    </section>
                    <section class="col col-3">
                      <label class="label">{{'CLOSING-PAYROLL-NUMBER-CREATED' | i18n}}</label>
                      <label class="input">
                        <input type="text" readonly name="number_of_created" class="" [(ngModel)]="model.number_of_created" />
                      </label>
                    </section>
                  </div>

                  <div class="row">
                    <section class=" col col-xs-12">
                      <label class="label">{{'CLOSING-PAYROLL-DESCRIPTION' | i18n}}</label>
                      <label class="textarea">
                        <textarea type="text" name="description" [(ngModel)]="model.description" autocomplete="off"
                          rows="3"></textarea>
                      </label>
                    </section>
                  </div>
                </fieldset>
                <footer>
                  <button type="button" name="btnCloseProgram" (click)="onCloseProgram()" class="btn btn-close btn-xs">
                    <i class="fa fa-times"></i>
                    {{'button-close' | i18n}}
                  </button>
                  <a type="button" href="/#/salary-basic"  class="btn btn-default btn-xs edit-program">
                    <i class="fa fa-undo"></i>
                    {{'Go to Payroll - List' | i18n}}
                  </a>
                  <button type="submit" name="submit" class="btn btn-primary btn-xs edit-program">
                    <i class="fa fa-save"></i>
                    {{'button-create' | i18n}}
                  </button>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
      <article class="col-sm-8">
        <div sa-widget color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>{{'CLOSING-PAYROLL-LIST-SALARY-KIND' | i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="options" id="example" (rowClick)="onRowClick($event)" paginationLength="true"
                filter="true" tableClass="traderListInfo table table-striped table-condensed table-hover table-bordered datagrid_languages">
                <thead>
                  <tr class="heading">
                    <th style="width: 50px;">{{'NO' | i18n}}</th>
                    <th style="width: 130px;">{{'CLOSING-PAYROLL-SALARY-KIND' | i18n}}</th>
                    <th>{{'CLOSING-PAYROLL-LAST-CREATE-THIS-MOMTH' | i18n}}</th>
                    <th>{{'CLOSING-PAYROLL-NUMBER' | i18n}}</th>
                    <th>{{'CLOSING-PAYROLL-TARGET' | i18n}}</th>
                    <th>{{'CLOSING-PAYROLL-CREATED' | i18n}}</th>
                    <th>{{'CLOSING-PAYROLL-FAILED' | i18n}}</th>
                    <th style="width: 300px;">{{'Description' | i18n}}</th>
                  </tr>
                  <tr>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="No" />
                    </th>
                    <th class="hasinput">
                      <select id="filerByType" class="form-control select-filter">
                        <option value="">{{'ALL' | i18n}}</option>
                        <option *ngFor="let s of salaryKind" [value]="s.gen_cd">{{s.gen_nm}}</option>
                      </select>
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Last created" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Number" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Target" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Created" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Failed" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Description" />
                    </th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>