.hr-avatar .label,.sub-data .label{font-size: 10.5px;top:4px}
.hr-avatar input, .hr-avatar .label, .hr-avatar button,.sub-data input, .sub-data .label, .sub-data button{max-height: 19px !important}
.hr-avatar input,.sub-data input{padding: 5px;}
/* .sub-data input, .sub-data .label, .sub-data button{max-height: 23px !important}
.sub-data i.fa-calendar{top:0} */
.hr-avatar .input.type-1{width:26px;}
.hr-avatar .type-1 input{width:27px;}
.hr-avatar i.fa-calendar{top:0;right: 1px;height: 19px; line-height: 19px;}
.hr-avatar .right-column{margin-left: 28px;}
.hr-avatar .right-column button,.hr-avatar .left-column button{line-height: 7px}
.hr-avatar .left-column{padding-right: 30px}
.hr-avatar .hr-img{width:100%;padding-bottom: 10px;}
.hr-avatar .hr-traning label.checkbox,.hr-avatar .right-column label.checkbox{top:-3px;float: right;width: 0px;}
.hr-avatar .hr-traning .checkbox i{left: -2px;}
.hr-avatar .hr-start-end label{padding-right: 5px}
.hr-avatar .hr-start input,.hr-avatar.hr-end input{width:90px}
.hr-avatar .hr-start-end .hr-number{padding: 0;}
.hr-avatar section{margin-bottom: 4px !important;}
.hr-avatar .right-column .lb1{padding-right: 4px;min-width: 94px;max-width: 118px;}
.hr-avatar .right-column .insurance button{margin-right: 4px;}
.hr-avatar .checkbox i{width: 25px;left: -3px;height: 18px;text-indent: 4px}
.hr-avatar .address .input{left:1px}
/* sub data set */
.sub-data .tabs-left{margin-right: 0}
.sub-data .tab-content{padding-left: 100px;margin-left: 0}
.field-2{margin-left: 39px;}
.field-2 section{padding-left: 60px;}
.field-2.traning-list{min-width: 920px;}