button{height: 22px;font: 11px "Open Sans",Arial,sans-serif;line-height: 0;}
.hr-avatar .left-column img{width: 92%;}
.hr-avatar .right-column .row.content{padding-left: 4%;}
.hr-avatar .right-column .column1,.column2{padding: 0 3%; margin-bottom: 0; width: 44%;}
.hr-avatar .right-column .column{padding: 0 3%; margin-bottom: 0; width: 94%;}

.hr-avatar .right-column .lb1{padding-right:8%}
.hr-avatar .type-1 {width:14%}
.hr-avatar .insurance button{margin-right: 6%; width: 80%;}
.hr-cus-button{
    background: rgba(24, 50, 73, 0.66);color: #fff;padding-bottom: 7px;
}
.hr-btn-image{
    padding-bottom: 7px;
}
/* .move-left-top {padding-top: 15px!important;} */
/* .hr-skin {background: #fff} */


/* .hr-avatar .checkbox i{width: 26px; height: 29px; text-indent: 5px; top: 0px; left: 64px;} */
.hr-avatar .hr-start, .hr-avatar .hr-end{margin-right:1.3%}
.hr-avatar .hr-start input, .hr-avatar .hr-end input{width:91%}
.hr-avatar .hr-traning{top: 4px;}
.hr-avatar .hr-traning label{float: right}
.hr-avatar .hr-traning label.checkbox{float: right;left: 8px;}
.hr-avatar .married label.checkbox{float: right; right: -6px;}
.hr-avatar .address input{width: 99%;}
.hr-avatar .btn-cmd{top: 16px;}
.btn-cmd{text-align: right;top: 5px; right: -4px;}
.hr-avatar .btn-main{top: 1px; left: -4px;text-align: left!important}
.btn-cmd button{width: 65px;margin: 0 4px}
.btn-cmd:last-child{margin-right: 0}
/* table */
.jarviswidget-atman > div{border: 1px solid #ccc !important;}
.upload-file{border: none; box-shadow: none; height: 22px !important; line-height: 17px !important;}

/* sub data set */
.sub-data .tabs-left #menu-list-info{margin-right: 0; padding: 0;}
.sub-data .tab-content{padding-left: 2%;margin-left: 0;padding-right: 0}
/* .field-1 fieldset{left: 7px;padding: 25px 0 0 7px;} */
/* .field-2{margin-left: 5%;}
.field-2 section{padding-left: 60px;}
.field-2.traning-list{min-width: 920px;} */
.right-content{padding: 12px 0}
.right-content .field-1{margin-right: -2px;top: 2px}
.right-content .field-2{top: -1px;padding-right: 0;padding-left: 9px;width:67%}
.right-content.basic .field-1,.right-content.basic .field-2{margin: 0}
.right-content.basic .field-1{top: 0}
.right-content.basic .field-2{top: 0;width: 25%;padding-left: 0px}
.right-content.basic .col-lg-5{width: 39%;}
/* media responsive */
@media screen and (min-width: 1200px) and (max-width: 1600px){
    .hr-avatar,.hr-avatar-table{width:50%}
}
@media screen and (min-width: 1600px){
    .tab-content{width: 87.333333%;}
    .sub-data .tabs-left #menu-list-info{width:12%}
    .sub-data .tabs-left .tab-content{width:88%}
    .family-field-2{left: 7%;width: 72%;top: 11px;}
}

.uploadFile {
    display:none;
}