<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['PACKAGE-MASTER-REGISTER-TITLE']" icon="reorder" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-4">
        <div sa-widget color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>{{'PKG-MASTER-EDIT-HEADER'|i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && onSubmit()" class="smart-form atman-form-small frm-detail"
                novalidate="novalidate" [saUiValidate]="validationOptions">
                <fieldset>
                  <div class="row">
                    <section class="col col-2">
                      <label class="label">{{'ID' | i18n}}</label>
                      <label class="input">
                        <input type="text" name="pack_id" [(ngModel)]="detailInfo.pack_id" autocomplete="off" disabled
                          class="disabled text-center" />
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">{{'Pack-Name' | i18n}}</label>
                      <label class="input">
                        <i class="icon-append fa fa-book"></i>
                        <input type="text" name="pack_nm" [(ngModel)]="detailInfo.pack_nm" autocomplete="off" required />
                      </label>
                    </section>
                    <section class="col col-4">
                      <label class="label">{{'Money' | i18n}}</label>
                      <label class="input">
                        <input type="number" name="money_amount" onclick="this.select()" [(ngModel)]="detailInfo.money_amount" autocomplete="off"
                          class="text-right" required />
                      </label>
                    </section>

                  </div>
                  <div class="row">
                    <section class="col col-2">
                      <label class="label">{{'use-yn' | i18n}}</label>
                      <label class="input">
                        <label class="checkbox">
                          <input type="checkbox" name="use_yn" [(ngModel)]="detailInfo.use_yn" checked="detailInfo.use_yn">
                          <i></i>Active
                        </label>
                      </label>
                    </section>
                    <section class="col col-3">
                      <label class="label">{{'user' | i18n}}</label>
                      <label class="input">
                        <i class="icon-append fa fa-user"></i>
                        <input type="text" name="user_amount" onclick="this.select()" [(ngModel)]="detailInfo.user_amount" autocomplete="off" required />
                      </label>
                    </section>
                  </div>
                  <section>
                    <label class="label">{{'Description' | i18n}}</label>
                    <label class="textarea">
                      <textarea name="remark" [(ngModel)]="detailInfo.remark" rows="3"></textarea>
                    </label>
                  </section>
                </fieldset>

                <footer>
                  <button type="button" name="btnCloseProgram" (click)="onCloseProgram()" class="btn btn-close">
                    <i class="fa fa-times"></i>
                    {{'button-close' | i18n}}
                  </button>
                  <button type="button" (click)="onReset(frmDetail)" name="reset" class="btn btn-default btn-xs edit-program">
                    <i class="fa fa-refresh"></i>
                    {{'button-reset' | i18n}}
                  </button>
                  <button type="submit" [disabled]="!this.permission.canSave" name="submit" class="btn btn-primary btn-xs edit-program">
                    <i class="fa fa-save"></i>
                    {{'button-save' | i18n}}
                  </button>
                </footer>
              </form>

            </div>
          </div>
        </div>
      </article>
      <article class="col-sm-8">
        <div sa-widget color="atman" [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-list"></i>
            </span>
            <h2>{{'PKG-MASTER-LIST-HEADER'|i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="options" (rowClick)="onRowClick($event)" paginationLength="true" filter="true"
                tableClass="table table-striped table-condensed table-hover table-bordered">
                <thead>
                  <tr class="heading">
                    <th>{{'ID' | i18n}}</th>
                    <th>{{'Pack-Name' | i18n}}</th>
                    <th>{{'money' | i18n}}</th>
                    <th>{{'user' | i18n}}</th>
                    <th>{{'use' | i18n}}</th>
                    <th>{{'description' | i18n}}</th>
                    <th>{{'CREATED-BY' | i18n}}</th>
                    <th>{{'CREATED-DATE' | i18n}}</th>
                    <th>{{'UPDATED-BY' | i18n}}</th>
                    <th>{{'UPDATED-DATE' | i18n}}</th>
                  </tr>
                  <tr>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter ID" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter Name" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter Money" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter User" />
                    </th>
                    <th class="hasinput">
                      <select id="filerByStatus" class="form-control select-filter">
                        <option value="">All</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter Description" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter User" />
                    </th>
                    <th class="hasinput icon-addon">
                      <i class="fa fa-calendar margin-top-5"></i>
                      <input id="date_created" type="text" placeholder="Filter Date" class="form-control datepicker"
                        [saUiDatepicker]="{}" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter User" />
                    </th>
                    <th class="hasinput icon-addon">
                      <div class="">
                        <i class="fa fa-calendar margin-top-5"></i>
                        <input id="date_updated" type="text" placeholder="Filter Date" class="form-control datepicker"
                          [saUiDatepicker]="{}" />
                      </div>
                    </th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>