<div id="content">
    <button class="btn btn-success dropdown-toggle" (click)="onNewOrder()" data-toggle="dropdown" tabindex="-1"
        type="button">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;
        {{'CRM-COST-ORDER-CREATE-NEW' | i18n}}
    </button>


    <br><br>
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman ">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-list"></i>
                        </span>
                        <h2> {{'CRM-COST-ORDER-TABLE-HEADER-NAME' | i18n}}</h2>
                        
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <sa-datatable [options]="options" paginationLength="true" filter="true"
                                tableClass="table table-striped table-condensed table-hover table-bordered costOrder">
                                <thead>
                                    <tr class="heading">
                                        <th>{{'CRM-COST-ORDER-NAME' | i18n}}</th>
                                        <th>{{'CRM-SALES-ORDER-ACCOUNT' | i18n}}</th>
                                        <th>{{'CRM-COST-ORDER-DATE' | i18n}}</th>
                                        <th>{{'CRM-COST-ORDER-PRICE' | i18n}}</th>
                                        <th>{{'CRM-COST-ORDER-CONDITION' | i18n}}</th>
                                        <th>{{'CREATED-BY' | i18n}}</th>
                                        <th>{{'CRM-COST-ORDER-UPDATED-BY' | i18n}}</th>
                                    </tr>

                                    <tr>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" />
                                            <!-- <select class="form-control select-filter">
                                                <option value="">All</option>
                                                <option *ngFor="let e of employee" value={{e.hr_id}}>{{e.employee_nm}}</option>
                                            </select> -->
                                        </th>
                                        <th class="hasinput ">
                                            <!-- <input id="date_created" type="text" class="form-control datepicker"   saUiDatepicker /> -->
                                            <input type="text" class="form-control" />
                                        </th>

                                        <th class="hasinput ">
                                            <!-- <input id="date_created" type="text" class="form-control datepicker"   saUiDatepicker /> -->
                                            <input type="text" class="form-control" />
                                        </th>
                                        <th class="hasinput ">
                                            <input type="text" class="form-control" />
                                        </th>
                                        <th class="hasinput ">
                                            <input type="text" class="form-control" />
                                        </th>
                                    </tr>
                                </thead>
                            </sa-datatable>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>
</div>


<ng-template #popupContract>
    <sa-popup-modal headerTitle="{{'CONTRACT-HEADER-EDIT-COST-CONTRACT-DATA-MANAGEMENT' | i18n}}" width="900"
        height="900" (onClose)="closePopup()">
        <sa-contract-popup (childCall)="reloadDatatable($event)" Id="0" [orderInfo]="costOrderModel"></sa-contract-popup>
    </sa-popup-modal>
</ng-template>