<div id="content">
  <div class="well well-sm">
    <div class="row">
      <section class="col-lg-8">
        <div class="col col-lg-2 header">
          <label class="input col-lg-12">
            <select select2 class="select2" name="sales_status_gen_cd" required [(ngModel)]="year" [defaultVal]="year"
              style="width:100%" (onSelectedChange)="onYearChange()">
              <option *ngFor="let item of years" value="{{item.val}}">{{item.text}}</option>
            </select>
          </label>
        </div>
        <div class="col col-lg-1" style="padding: 0;width: 150px;">
          <button type="button" class="btn btn-default dropdown-toggle col-lg-12" data-toggle="dropdown" tabindex="-1">
            <i class="fa fa-filter"></i>&nbsp;&nbsp;
            {{admin_selected.nm}}
          </button>
          <ul class="dropdown-menu running-task" role="menu">
            <li>
              <a href="javascript:void(0);" (click)="onAMChange('0','all')">
                <i class="fa fa-user"></i> AM All
              </a>
            </li>
            <li *ngFor="let item of users">
              <a href="javascript:void(0);" (click)="onAMChange(item.user_id,item.user_nm)">
                <i class="fa fa-user"></i> {{item.user_nm}}
              </a>
            </li>
          </ul>
        </div>
        <div class="col col-lg-2 check" style="padding-left: 35px;top: 6px;">
            <label class="input">
                <label class="checkbox" style="margin: 0;">
                    <input type="checkbox" name="percentCheck" [(ngModel)]="percentCheck" (click)="viewAsPercent(!percentCheck)" >
                    <i></i> View as Percent
                  </label>
            </label>
        </div>
      </section>
    </div>
  </div>
  <div class="row status">
    <div class="col-sm-3">
      <div class="well well-sm txt-color-white text-center" style="background-color:#2185d0;">
        <ng-container *ngIf="ShowStatus1LoadingCenter; else showStatus1">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus1>
          <p class="amount">{{listStatus.total | number}}</p>
          <h5>TOTAL</h5>
        </ng-template>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="well well-sm txt-color-white text-center" style="background-color:#21ba45;">
        <ng-container *ngIf="ShowStatus2LoadingCenter; else showStatus2">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus2>
          <p class="amount">{{listStatus.success | number}}
              <span *ngIf="percentCheck">%</span>
          </p>
          <h5>SUCCESS</h5>
        </ng-template>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="well well-sm  txt-color-white text-center" style="background-color:#db2828;">
        <ng-container *ngIf="ShowStatus3LoadingCenter; else showStatus3">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus3>
          <p class="amount">{{listStatus.failure | number}}
              <span *ngIf="percentCheck">%</span>
          </p>
          <h5>FAILURE</h5>
        </ng-template>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="well well-sm txt-color-white text-center" style="background-color:#fbbd08;">
        <ng-container *ngIf="ShowStatus4LoadingCenter; else showStatus4">
          <div class="loading center-loading">
            <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
        </ng-container>
        <ng-template #showStatus4>
          <p class="amount">{{listStatus.proceeding | number}}
            <span *ngIf="percentCheck">%</span>
          </p>
          <h5>PROCEEDING</h5>
        </ng-template>
      </div>
    </div>
  </div>
  <section class="statitics column-chart">
    <div class="well well-sm">
      <i class="fa fa-list"></i>
      <h3 class="header"> Number of Opportunities for {{this.year}}</h3>
    </div>
    <article class="smart-form">
      <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
        <!-- widget div-->
        <div class="col col-lg-12 content">
          <ng-container *ngIf="ShowStatisticLoadingCenter; else elseTemplate">
            <div class="show-loading"> 
                <img class="center"
                src="/assets/img/loading-red.gif">
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <h4 *ngIf="!ShowStatisticLoadingCenter && !listSalesOptFiltered.length" class="center">NO DATA</h4>
          </ng-template>
          <div id="SalesOptstatistics" style="width: 100%;height: 320px;top: 12px;"></div>
        </div>
      </div>
    </article>
  </section>
  <section class="statitics pie-list">
      <div class="col col-lg-4 pie1">
          <div class="well well-sm">
              <i class="fa fa-list"></i>
              <h3 class="header"> success</h3>
            </div>
            <article class="smart-form">
              <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
                <!-- widget div-->
                <div class="col col-lg-12 content">
                  <ng-container *ngIf="ShowPie1LoadingCenter; else elseTemplate">
                    <div class="show-loading"> 
                        <img class="center"
                        src="/assets/img/loading-red.gif">
                    </div>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <h4 *ngIf="!ShowPie1LoadingCenter && !listStatisticbyStatus.length" class="center">NO DATA</h4>
                  </ng-template>
                  <div id="SuccessPieStatistics" style="width: 100%;height: 250px;"></div>
                </div>
              </div>
            </article>
      </div>
      <div class="col col-lg-4 pie2">
          <div class="well well-sm">
              <i class="fa fa-list"></i>
              <h3 class="header"> failure</h3>
            </div>
            <article class="smart-form">
              <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
                <!-- widget div-->
                <div class="col col-lg-12 content">
                  <ng-container *ngIf="ShowPie2LoadingCenter; else elseTemplate">
                    <div class="show-loading"> 
                        <img class="center"
                        src="/assets/img/loading-red.gif">
                    </div>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <h4 *ngIf="!ShowPie2LoadingCenter && !listStatisticbyStatus.length" class="center">NO DATA</h4>
                  </ng-template>
                  <div id="FailurePieStatistics" style="width: 100%;height: 250px;"></div>
                </div>
              </div>
            </article>
      </div>
      <div class="col col-lg-4 pie3">
          <div class="well well-sm">
              <i class="fa fa-list"></i>
              <h3 class="header"> Proceeding</h3>
            </div>
            <article class="smart-form">
              <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
                <!-- widget div-->
                <div class="col col-lg-12 content">
                  <ng-container *ngIf="ShowPie3LoadingCenter; else elseTemplate">
                    <div class="show-loading"> 
                        <img class="center"
                        src="/assets/img/loading-red.gif">
                    </div>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <h4 *ngIf="!ShowPie3LoadingCenter && !listStatisticbyStatus.length" class="center">NO DATA</h4>
                  </ng-template>
                  <div id="ProceedPieStatistics" style="width: 100%;height: 250px;"></div>
                </div>
              </div>
            </article>
      </div>
  </section>
</div>