<div id="content">
  <div class="well well-sm">
    <div class="row">
      <div class="col-lg-1" style="padding-right: 0;">
        <label class="input" class="col-lg-12">
          <select name="year" select2 required style="width:100%;" class="select2 required"
            placeHolder="----- Selection -----" [(ngModel)]="year"
            [defaultVal]="year" (onSelectedChange)="onYearChange()">
            <option *ngFor="let y of years" value={{y.val}}>{{y.text}}</option>
          </select>
        </label>
      </div>
      <div class="col-sm-3" style="padding-left: 0;">
        <button type="button" (click)="onSave()" style="height: 32px;" class="btn btn-success">
          {{'SALES-TARGET-SAVE' | i18n}}
        </button>
      </div>
    </div>
  </div>
  <section class="col col-lg-12">
    <div class="widget-body no-padding">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" style="border: 1px solid #e5e5e5 !important">
          <thead>
            <tr>
              <th>{{'SALES-TARGET-SECTION' | i18n}}</th>
              <th>{{'SALES-TARGET-TOTAL-BY-SECTION' | i18n}}</th>
              <th>{{'January' | i18n}}</th>
              <th>{{'February' | i18n}}</th>
              <th>{{'March' | i18n}}</th>
              <th>{{'April' | i18n}}</th>
              <th>{{'May' | i18n}}</th>
              <th>{{'June' | i18n}}</th>
              <th>{{'July' | i18n}}</th>
              <th>{{'August' | i18n}}</th>
              <th>{{'September' | i18n}}</th>
              <th>{{'October' | i18n}}</th>
              <th>{{'November' | i18n}}</th>
              <th>{{'December' | i18n}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of salesTargetInfo;let i = index;">
              <td style="width: 200px;vertical-align: middle;">
                {{item.crm_service_cate_nm}}
                <label class="label label-info" 
                  style="float: right; padding: 4px; margin: 0;position: relative; top: 1px;">
                {{item.parent_nm}}</label>
              </td>
              <td style="width: 190px;">
                  <div class="input-group">
                    <input class="form-control input-sm" [(ngModel)]="item.total_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalYear()" onclick="this.select()">
                    <span class="input-group-addon" style="padding: 0; top: 0px; position: relative; left: -4px; border: none;">
                      <button type="button" style="padding-bottom: 4px;width: 55px;" (click)="Average(i)" class="btn btn-default">
                        <!-- <i class="fa fa-search"></i> -->
                        /
                      </button>
                    </span>
                  </div>
              </td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[0].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(0,i)" onclick="this.select()"></td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[1].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(1,i)" onclick="this.select()"></td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[2].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(2,i)" onclick="this.select()"></td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[3].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(3,i)" onclick="this.select()"></td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[4].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(4,i)" onclick="this.select()"></td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[5].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(5,i)" onclick="this.select()"></td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[6].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(6,i)" onclick="this.select()"></td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[7].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(7,i)" onclick="this.select()"></td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[8].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(8,i)" onclick="this.select()"></td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[9].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(9,i)" onclick="this.select()"></td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[10].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(10,i)" onclick="this.select()"></td>
              <td><input class="form-control input-sm" [(ngModel)]="item.sales_target_details[11].monthly_target_amt" currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" (focusout)="onChangeTotalMonth(11,i)" onclick="this.select()"></td>
            </tr>
            <tr style="text-align:right;color:#3B83C0">
              <td style="color:black">
                {{'SALES-TARGET-MONTHLY-TOTAL' | i18n}}
              </td>
              <td style="color:#D95C5C">
                  {{sumYear | number}}
              </td>
              <td>
                  {{sumMonth[0] | number}}
              </td>
              <td>
                  {{sumMonth[1] | number}}
              </td>
              <td>
                  {{sumMonth[2] | number}}
              </td>
              <td>
                  {{sumMonth[3] | number}}
              </td>
              <td>
                  {{sumMonth[4] | number}}
              </td>
              <td>
                  {{sumMonth[5] | number}}
              </td>
              <td>
                  {{sumMonth[6] | number}}
              </td>
              <td>
                  {{sumMonth[7] | number}}
              </td>
              <td>
                  {{sumMonth[8] | number}}
              </td>
              <td>
                  {{sumMonth[9] | number}}
              </td>
              <td>
                  {{sumMonth[10] | number}}
              </td>
              <td>
                  {{sumMonth[11] | number}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
