<article class="col-sm-12 col-md-12 col-lg-12 human-resources">
  <div class="row">
    <div class="no-padding ">
      <section class="col-lg-5" style="padding-top: 10px">
        <form class="smart-form frm-detail atman-form-small frmContract" #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && onSubmit()"
          novalidate="novalidate" [saUiValidate]="validationOptions">
          <fieldset>
            <div class="col-lg-12">
                  <section class="col col-2 form-group" style="padding: 0;">
                    <label class="label">{{'Times'|i18n}}</label>
                    <label>
                        <input class="form-control" id="contract_no" required name="contract_no" [(ngModel)]="contractInfo.contract_no" style="height:14px !important">
                      </label>
                  </section>
                    <section class="col col-2">
                      <label class="label">{{'Limited'|i18n}}</label>
                      <label class="input">
                        <label class="checkbox">
                          <input checked="contractInfo.unlimitted" [(ngModel)]="contractInfo.unlimitted" name="unlimitted" type="checkbox">
                          <i></i>
                        </label>
                      </label>
                    </section>
                    <section class="col col-4" style="padding: 0 5px 0 3px;">
                        <label class="label">{{'Contract-From'|i18n}}</label>
                        <label class="input">
                          <i class="icon-append fa fa-calendar"></i>
                          <input type="text" class="contract-from-datepicker" required autocomplete="off" name="from_ymd" [(ngModel)]="contractInfo.from_ymd"
                            autocomplete="off" placeholder="yyyy-mm-dd">
                        </label>
                    </section>
                    <section class="col col-4" style="padding: 0 0 5px;">
                        <label class="label">{{'Contract-To'|i18n}}</label>
                        <label class="input">
                          <i class="icon-append fa fa-calendar"></i>
                          <input type="text" class="contract-to-datepicker" autocomplete="off" name="to_ymd" [(ngModel)]="contractInfo.to_ymd"
                            [disabled]="!contractInfo.unlimitted" [ngClass]="{'disabled': !contractInfo.unlimitted}" [value]="!contractInfo.unlimitted ? '' : contractInfo.to_ymd" autocomplete="off" placeholder="yyyy-mm-dd">
                        </label>
                      </section>
              </div>
              <section class="col-lg-12">
                <label class="label">{{'Description'|i18n}}</label>
                <label class="textarea">
                  <textarea rows="5" class="custom-scroll" name="remark" [(ngModel)]="contractInfo.remark"></textarea></label>
                <div class="note">
                </div>
                <input type="file" class="btn btn-default upload-file" name="attachment" [(ngModel)]="contractInfo.attachment" multiple (change)="getFileDetails($event)" id="exampleInputFile1">
              </section>
            <div class="btn-cmd">
              <button type="submit" [disabled]="!permission.canSave" name="submit" class="btn btn-small btn-primary" style="margin:0 4px">
                <i class="fa fa-save"></i>
                {{'BUTTON-SAVE'|i18n}}
              </button>
              <button type="button" (click)="onReset()" name="reset" class="btn btn-default btn-xs edit-program">
                <i class="fa fa-refresh"></i>
                {{'BUTTON-RESET'|i18n}}
              </button>
            </div>
          </fieldset>
        </form>
      </section>
      <section class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="padding-top:20px">
        <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="options" (rowClick)="onRowClick($event)" paginationLength="true" filter="true"
                tableClass="eplContractInfoList table table-striped table-condensed table-hover table-bordered">
                <thead>
                  <tr class="heading">
                    <th>{{'Times'|i18n}}</th>
                    <th> {{'Contract-From'|i18n}}</th>
                    <th> {{'Contract-To'|i18n}}</th>
                    <th>{{'Description'|i18n}}</th>
                  </tr>
                  <tr>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter Type" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter Rate" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="Filter Money" />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" placeholder="apply Y/N" />
                    </th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</article>