<div id="content" class="customer-detail">
  <div class="row">
    <sa-big-breadcrumbs [items]="[('Customer-Detail'|i18n)]" icon="users" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="well well-sm" style="margin: 0;">
    <h3 style="margin:0">{{customerDetail.trader_local_nm}}</h3>
    <div class="btn-actions">
      <a href="javascript:void(0);" class="btn btn-default btn-sm" (click)="openEditTraderPopup()"><i class="fa fa-edit"></i></a>
      <!-- <a href="javascript:void(0);" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></a> -->
      <a  routerLink="/customer-master" class="btn btn-default btn-sm"><i class="fa fa-mail-reply"></i></a>
    </div>

  </div>
  <article class="smart-form">
    <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
      <!-- widget div-->
      <div style="width: auto;top: -21px">
        <div class="col-lg-8">
          <section class="col col-lg-6">
            <label class="label col-lg-3">{{'CEO' | i18n}}</label>
            <label class="input col-lg-9 data">
              <input style="cursor: not-allowed; background:#ededed; border-color: #e04d1061 !important" type="text" readonly name="ceo_nm" required class="" [(ngModel)]="customerDetail.ceo_nm" />
              <!-- {{customerDetail.trader_eng_nm}} -->
            </label>
          </section>
          <section class="col col-lg-6">
            <label class="label col-lg-3">{{'BIZ-TYPE' | i18n}}</label>
            <label class="input col-lg-9 data">
              <input style="cursor: not-allowed; background:#ededed; border-color: #e04d1061 !important"  type="text" readonly name="biz_type" required class="" [(ngModel)]="customerDetail.biz_type" />
              <!-- {{customerDetail.biz_type}} -->
            </label>
          </section>
        </div>
        <div class="col-lg-8">
          <section class="col col-lg-6">
            <label class="label col-lg-3">{{'BIZ-REGIST-NUM' | i18n}}</label>
            <label class="input col-lg-9 data">
              <input style="cursor: not-allowed; background:#ededed; border-color: #e04d1061 !important"  type="text" readonly name="biz_regist_num" required class="" [(ngModel)]="customerDetail.biz_regist_num" />
              <!-- {{customerDetail.biz_regist_num}} -->
            </label>
          </section>
          <section class="col col-lg-6">
            <label class="label col-lg-3">{{'BIZ-CONDITIONS' | i18n}}</label>
            <label class="input col-lg-9 data">
              <input style="cursor: not-allowed; background:#ededed; border-color: #e04d1061 !important"  type="text" readonly name="biz_conditions" required class="" [(ngModel)]="customerDetail.biz_conditions" />
              <!-- {{customerDetail.biz_conditions}} -->
            </label>
          </section>
        </div>
        <div class="col-lg-8">
          <section class="col col-lg-6">
            <label class="label col-lg-3">{{'Phone' | i18n}}</label>
            <label class="input col-lg-9 data">
              <input style="cursor: not-allowed; background:#ededed; border-color: #e04d1061 !important"  type="text" readonly name="phone" required class="" [(ngModel)]="customerDetail.phone" />
              <!-- {{customerDetail.phone}} -->
            </label>
          </section>
          <section class="col col-lg-6">
            <label class="label col-lg-3">{{'PEOPLES' | i18n}}</label>
            <label class="input col-lg-9 data">
              <input style="cursor: not-allowed; background:#ededed; border-color: #e04d1061 !important"  type="text" readonly name="num_people" required class="" [(ngModel)]="customerDetail.num_people" />
              <!-- {{customerDetail.num_people}} -->
            </label>
          </section>
        </div>
        <div class="col-lg-8">
          <section class="col col-lg-6">
            <label class="label col-lg-3">{{'Home-Page' | i18n}}</label>
            <label class="input col-lg-9 data">
              <input style="cursor: not-allowed; background:#ededed; border-color: #e04d1061 !important"  type="text" readonly name="home_page" required class="" [(ngModel)]="customerDetail.home_page" />
              <!-- {{customerDetail.home_page}} -->
            </label>
          </section>
          <section class="col col-lg-6">
            <label class="label col-lg-3">{{'SALE-AMOUNT' | i18n}}</label>
            <label class="input col-lg-9 data">
              <input style="cursor: not-allowed; background:#ededed; border-color: #e04d1061 !important"  type="text" readonly name="sale_amount" required class="" [(ngModel)]="customerDetail.sale_amount" />
              <!-- {{customerDetail.sale_amount}} -->
            </label>
          </section>
        </div>
        <div class="col-lg-8">
          <section class="col col-lg-12 address">
            <label class="label col-lg-2">{{'ADDRESS' | i18n}}</label>
            <label class="input col-lg-10 data">
              <input style="cursor: not-allowed; background:#ededed; border-color: #e04d1061 !important" type="text" readonly name="address" required class="" [(ngModel)]="customerDetail.address" />
              <!-- {{customerDetail.address}} -->
            </label>
          </section>
        </div>
      </div>
    </div>
  </article>
  <article style="margin-top: 30px;">
    <div class="jarviswidget" data-widget-editbutton="false" data-widget-fullscreenbutton="false"
      data-widget-custombutton="false" data-widget-sortable="false">
      <header>
        <ul class="nav nav-tabs pull-left in new-activity">
          <li style="height: 32px;">
            <div style="top: -7px; position: relative;">
              <button type="button" [ngClass]="{'disabledTab': !showTab}" class="btn btn-success dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;{{'TAB-NEW-ACTIVITY' | i18n}}
              </button>
              <ul class="dropdown-menu running-task" role="menu">
                <li><a href="javascript:void(0);" (click)="openPopup('email')"><i class="fa fa-envelope-o"></i>{{'TAB-EMAIL'
                    | i18n}}</a></li>
                <li><a href="javascript:void(0);" (click)="openPopup('tel')"><i class="fa fa-phone"></i>{{'TAB-TELEPHONE'
                    | i18n}}</a></li>
                <li><a href="javascript:void(0);" (click)="openPopup('meeting')"><i class="fa fa-comments-o"></i>{{'TAB-CONFERENCE'
                    | i18n}}</a></li>
                <li><a href="javascript:void(0);" (click)="openPopup('issue')"><i class="fa fa-info-circle"></i>{{'TAB-ISSUE'
                    | i18n}}</a></li>
              </ul>
              <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1"></button> -->
            </div>
          </li>
          <li class="active" (click)="loadInfo('timeline')">
            <a data-toggle="tab" [ngClass]="{'disabledTab': !showTab}" href="#timeline"> <i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet"></span>
              {{'TAB-TIME-LINE' | i18n}}</a>
          </li>
          <li (click)="loadInfo('email')">
              <a data-toggle="tab" [ngClass]="{'disabledTab': !showTab}" href="#email"> <i class="fa fa-envelope-o"></i> <span class="hidden-mobile hidden-tablet"></span>
                {{'TAB-EMAIL-ACTIVITY' | i18n}}</a>
            </li>
            <li (click)="loadInfo('tel')">
              <a data-toggle="tab" [ngClass]="{'disabledTab': !showTab}" href="#telephone"> <i class="fa fa-phone"></i> <span class="hidden-mobile hidden-tablet"></span>
                {{'TAB-TELEPHONE-ACTIVITY' | i18n}}</a>
            </li>
            <li (click)="loadInfo('meeting')">
              <a data-toggle="tab" [ngClass]="{'disabledTab': !showTab}" href="#conference"> <i class="fa fa-comments-o"></i> <span class="hidden-mobile hidden-tablet"></span>
                {{'TAB-CONFERENCE-ACTIVITY' | i18n}}</a>
            </li>
            <li (click)="loadInfo('issue')">
              <a data-toggle="tab" [ngClass]="{'disabledTab': !showTab}" href="#issue"> <i class="fa fa-info-circle"></i> <span class="hidden-mobile hidden-tablet"></span>
                {{'TAB-ISSUE-ACTIVITY' | i18n}}</a>
            </li>
        </ul>
      </header>
      <div>
        <div class="widget-body">
          <div class="tab-content">
            <div class="tab-pane active" id="timeline">
              <sa-timeline></sa-timeline>
            </div>
            <div class="tab-pane" id="email">
                <sa-email-detail ></sa-email-detail>
              </div>
              <div class="tab-pane" id="telephone">
                <sa-telephone-detail></sa-telephone-detail>
              </div>
              <div class="tab-pane" id="conference">
                <sa-conference-detail></sa-conference-detail>
              </div>
              <div class="tab-pane" id="issue">
                <sa-issue-detail></sa-issue-detail>
              </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>

<ng-template #popupEmail>
    <sa-popup-modal headerTitle="{{'NEW-ACTIVITY-LB-EDIT-EMAIL' | i18n}}" width="750" height="600" (onClose)="closePopup()">
      <sa-email companyId="{{customerDetail.company_id}}" inputFuncId="{{inputFuncId}}" funcRefCd="{{funcRefCd}}" Id={{Id}}
        (childCall)="reloadList($event)" customer="{{customer|json}}"  contactor="{{contactor|json}}"  user="{{user|json}}" ></sa-email>
    </sa-popup-modal>
  </ng-template>
  <ng-template #popupTelephone>
    <sa-popup-modal headerTitle="{{'NEW-ACTIVITY-LB-EDIT-TELEPHONE' | i18n}}" width="750" height="600" (onClose)="closePopup()">
      <sa-telephone companyId="{{customerDetail.company_id}}" inputFuncId="{{inputFuncId}}" funcRefCd="{{funcRefCd}}"
        Id={{Id}} (childCall)="reloadList($event)" customer="{{customer|json}}"  contactor="{{contactor|json}}"  user="{{user|json}}"></sa-telephone>
    </sa-popup-modal>
  </ng-template>
  <ng-template #popupConference>
    <sa-popup-modal headerTitle="{{'NEW-ACTIVITY-LB-EDIT-CONFERENCE' | i18n}}" width="750" height="600" (onClose)="closePopup()">
      <sa-conference companyId="{{customerDetail.company_id}}" inputFuncId="{{inputFuncId}}" funcRefCd="{{funcRefCd}}"
        Id={{Id}} (childCall)="reloadList($event)" customer="{{customer|json}}"  contactor="{{contactor|json}}"  user="{{user|json}}"></sa-conference>
    </sa-popup-modal>
  </ng-template>
  
  <ng-template #popupIssue>
    <sa-popup-modal headerTitle="{{'NEW-ACTIVITY-LB-EDIT-ISSUE' | i18n}}" width="750" height="600" (onClose)="closePopup()">
      <sa-issue companyId="{{customerDetail.company_id}}" inputFuncId="{{inputFuncId}}" funcRefCd="{{funcRefCd}}" Id={{Id}}
        (childCall)="reloadList($event)" customer="{{customer|json}}"  contactor="{{contactor|json}}"  user="{{user|json}}"></sa-issue>
    </sa-popup-modal>
  </ng-template>

<ng-template #popupTraderEditData>
  <sa-popup-modal class="hide-border-bottom-popup" headerTitle="Customer Information" width="1000" height="900" (onClose)="closeCustomerPopup()">
    <sa-customer-edit traderId="{{customerDetail.trader_id}}" traderJson="{{customerDetail|json}}" (childCall)="reloadDetail($event)"></sa-customer-edit>
  </sa-popup-modal>
</ng-template>