<div id="content">
  <div class="well well-sm">
    <div class="row">
      <section class="col-lg-8">
        <div class="col col-lg-2 header">
          <label class="input col-lg-12">
            <select select2 class="select2" name="sales_status_gen_cd" required [(ngModel)]="year" [defaultVal]="year"
              style="width:100%" (onSelectedChange)="onFilterChange()">
              <option *ngFor="let item of years" value="{{item.val}}">{{item.text}}</option>
            </select>
          </label>
        </div>
        <div class="col col-lg-2 header">
          <label class="input col-lg-12">
            <select select2 class="select2" name="sales_status_gen_cd" required [(ngModel)]="division"
              [defaultVal]="division" style="width:100%" (onSelectedChange)="onFilterChange()">
              <option value="all" >Customer divisions</option>
              <option *ngFor="let item of divisions" value="{{item.gen_cd}}">{{item.gen_nm}}</option>
            </select>
          </label>
        </div>
        <div class="col col-lg-2 header" style="padding-right: 0;">
          <div class="input-group">
            <input [(ngModel)]="accountName" (keypress)="checkKeycode($event)"
              class="form-control input-sm col col-lg-7" onclick="this.select()" placeholder="Search account name...">
            <span class="input-group-addon" style="padding: 0; top: 0px; position: relative; left: -4px; border: none;">
              <button type="button" class="col col-lg-3" style="padding-bottom: 4px;" (click)="search()"
                class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </section>
    </div>
  </div>
  <section class="margin-top statitics">
    <div class="col-lg-6 none-padding-left">
      <div class="well well-sm">
        <i class="fa fa-list"></i>
        <h3 class="header"> Yearly ranking ({{this.year}})</h3>
      </div>
      <article class="smart-form">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
          <!-- widget div-->
          <div class="col col-lg-12 content">
            <div class="widget-body no-padding" style="min-height:0px;margin: 0;">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="text-center text-middle">{{'SALES-BY-CUSTOMER-TBL1-RANK' | i18n}}</th>
                      <th class="text-center text-middle">{{'SALES-BY-CUSTOMER-TBL1-ACCOUNT' | i18n}}</th>
                      <th class="text-center text-middle">{{'SALES-BY-CUSTOMER-TBL1-DIVISION' | i18n}}</th>
                      <th class="text-center text-middle">{{'SALES-BY-CUSTOMER-TBL1-TAKE' | i18n}}</th>
                      <th class="text-center text-middle">{{'SALES-BY-CUSTOMER-TBL1-NUMBER-OF-CONTRACTS' | i18n}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listContractByYear;let idx = index"
                      [ngStyle]="{'background': idx+1 < 11 ? '#fff6f6' : 'transparent','color': idx+1 < 11 ? '#9f3a38' : 'inherit'}">
                      <td style="text-align:center;width: 30px">{{idx+1}}</td>
                      <td>{{item.group_nm}}</td>
                      <td class="text-center">{{item.division_nm}}</td>
                      <td class="text-right">$ {{item.data | number}}</td>
                      <td class="text-center" style="width: 65px;">{{item.count | number}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="col-lg-6 none-padding-right">
      <div class="well well-sm">
        <i class="fa fa-list"></i>
        <h3 class="header"> Overall ranking</h3>
      </div>
      <article class="smart-form">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
          <!-- widget div-->
          <div class="col col-lg-12 content">
            <div class="widget-body no-padding" style="min-height:0px;margin: 0;">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="text-center text-middle">{{'SALES-BY-CUSTOMER-TBL2-RANK' | i18n}}</th>
                      <th class="text-center text-middle">{{'SALES-BY-CUSTOMER-TBL2-ACCOUNT' | i18n}}</th>
                      <th class="text-center text-middle">{{'SALES-BY-CUSTOMER-TBL2-DIVISION' | i18n}}</th>
                      <th class="text-center text-middle">{{'SALES-BY-CUSTOMER-TBL2-TAKE' | i18n}}</th>
                      <th class="text-center text-middle">{{'SALES-BY-CUSTOMER-TBL2-NUMBER-OF-CONTRACTS' | i18n}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listTotalContract;let idx = index"
                      [ngStyle]="{'background': idx+1 < 11 ? '#fff6f6' : 'transparent','color': idx+1 < 11 ? '#9f3a38' : 'inherit'}">
                      <td style="text-align:center;width: 30px">{{idx+1}}</td>
                      <td>{{item.group_nm}}</td>
                      <td class="text-center">{{item.division_nm}}</td>
                      <td class="text-right">$ {{item.data | number}}</td>
                      <td class="text-center" style="width: 65px;">{{item.count | number}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>