#content {
    padding: 50px 0 0 0;
}

.home-crm {
    height: 100%;
}

    .home-crm h5 {
        font-weight: 900;
        font-size: 1.1em;
    }

    .home-crm .memo {
        padding-left: 0;
        flex: 0 0 75%;
        max-width: 75%;
        padding-right: 10px;
        text-align: justify;
    }

    .home-crm .title {
        font-weight: 900;
    }

.circle {
    font-weight: bold;
    padding: 14px 21px;
    border-radius: 50%;
    background-color: #bfbfbf;
    color: #e4e4e4;
    max-height: 50px;
    z-index: 2;
    font-size: 14px;
}

.how-it-works.row {
    display: flex;
}

    .how-it-works.row .col-2 {
        display: inline-flex;
        align-self: stretch;
        /* align-items: center; */
        justify-content: center;
    }

        .how-it-works.row .col-2::after {
            content: "";
            position: absolute;
            border-left: 3px solid #bfbfbf;
            z-index: 1;
        }

        .how-it-works.row .col-2.bottom::after {
            height: 50%;
            left: 50%;
            top: 50%;
        }

        .how-it-works.row .col-2.full::after {
            height: 91%;
            left: calc(50% - 3px);
            top: 26%;
        }

.left-full.row .col-2.full::after {
    left: 50%;
    height: 74%;
}

.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}

.timeline div {
    padding: 0;
    height: 40px;
}

.timeline hr {
    border-top: 3px solid #bfbfbf;
    margin: 0;
    top: 9px;
    position: relative;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid #bfbfbf;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -70%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -70%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 17px);
}

.align-items-center {
    color: gray;
}
/* .align-items-center:hover{
    color: black;
}
.align-items-center:hover .circle{
    background-color: #03A9F4;
    color: white;
} */

.cluster:hover .align-items-center {
    color: black;
}

.cluster:hover .circle {
    background-color: #03A9F4;
    color: white;
}

.cluster:hover .text-center::after, .cluster:hover .timeline .col-2 .corner, .cluster:hover .timeline .col-8 hr {
    border-color: #03A9F4;
}

.cluster .memo a {
    color: #3276b1;
}

.cluster:hover .memo a {
    color: #007bff;
    text-decoration: underline;
}
