<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
<div id="content">
<div class="container-fluid home-crm">
  <div class="container">
    <h2 class="pb-3 pt-2 title">Welcome to BeyeBook !</h2>
    <p class="pb-5">BeyeBook을 신청하고 승인받은 최초 사용자인 슈퍼유저께서는 시스템의 원활한 사용을 위해 아래의 기본 단계를 순서별로 진행하여 주세요.</p>
    <div class="cluster cluster-first">
      <!--first section-->
      <div class="row align-items-center how-it-works">
          <div class="col-2 text-center bottom">
            <div class="circle">1</div>
          </div>
          <div class="col-6 memo">
            <h5>조직구조 설정하기 Organization Setting</h5>
            <p>
              CRM을 사용하는 회사의 조직명을 등록합니다. 기본 값으로 세팅되어 있는 조직명을 바꾸시고 추가로 부모코드를 지정하여 수직-수평적 구조로 마음대로 등록하고 사용하실 수 있습니다.
              <a (click)="goto(1,$event)">Go to Step 1</a>
            </p>
          </div>
        </div>
        <!--path between 1-2-->
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2" style="top: -8px;">
            <div class="corner left-bottom" style="height: 55px;"></div>
          </div>
        </div>
    </div>
    <div class="cluster cluster-second">
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 memo text-right">
          <h5>포지션 설정하기 Position Setting</h5>
          <p>
            CRM을 사용자의 직위를 등록합니다. 기본 값으로 세팅되어 있는 직위명을 바꾸시고 추가로 등록하고 사용하실 수 있습니다. <a (click)="goto(2,$event)">Go to Step 2</a>
          </p>
        </div>
        <div class="col-2 text-center full" style="top: -9px;">
          <div class="circle">2</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom" style="top: calc(50% - 11px); height: 45px;"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
    </div>
    <div class="cluster cluster-third">
      <!--third section-->
      <div class="row align-items-center how-it-works left-full">
        <div class="col-2 text-center full">
          <div class="circle">3</div>
        </div>
        <div class="col-6  memo">
          <h5>권한그룹 설정하기 Autority Group Setting</h5>
          <p>
            BeyeBook의 사용권한을 그룹별로 할당합니다. 기본 값으로 세팅되어 있는 권한그룹을 마음대로 변경 ∙ 추가하여 권한 별로 프로그램메뉴를 할당하여 사용하실 수 있습니다.
            <a (click)="goto(3,$event)">Go to Step 3</a>
          </p>
        </div>
      </div>
      <!--path between 3-4-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner left-bottom" style="top: calc(50% - 11px); height: 50px;"></div>
        </div>
      </div>
    </div>
    <div class="cluster cluster-fourth">
      <!--fourth section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6  memo text-right">
          <h5>권한그룹 메뉴할당하기 Authority Group Menu Setting</h5>
          <p>
            권한그룹별로 사용할 수 있는 메뉴를 매핑하여 해당그룹에 시스템 사용권한을 부여하세요. <a (click)="goto(4,$event)">Go to Step 4</a>
          </p>
        </div>
        <div class="col-2 text-center full" style="top: -9px;">
          <div class="circle">4</div>
        </div>
      </div>
      <!--path between 4-5-->
      <div class="row timeline">
        <div class="col-2" style="top: 9px;height: 51px;">
          <div class="corner right-bottom" style="height: 65px;top: 0px;"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
    </div>
    <div class="cluster cluster-fifth">
      <!--fifth section-->
      <div class="row align-items-center how-it-works left-full">
        <div class="col-2 text-center full" style="top: 9px;height: 95px;">
          <div class="circle">5</div>
        </div>
        <div class="col-6  memo" style="top: -7px;">
          <h5>사용자 등록하기 Registor User</h5>
          <p>
              조직, 직위, 권한그룹 설정을 마친 후 사용자를 슈퍼유저가 추가로 일괄 등록합니다. 추가로 등록된 사용자를 위하여 시스템이 자동으로 생성한 사용자 ID의 임시번호 “ID1234”를 해당 사용자에게 통보합니다. 추가로 등록된 사용자는 자신의 임시비번을 이용하여 BeyeBook에 로그인하고 비밀번호를 변경한 후 시스템을 사용할 수 있습니다. 단, 추가 등록된 사용자는 슈퍼유저가 사용자별로 메뉴를 할당해주기 전에는 사용할 수 있는 메뉴가 없으므로  슈퍼유저는 다음단계의 사용자별 메뉴를 할당 해주도록 합니다.
              <a (click)="goto(5,$event)">Go to Step 5</a>
            </p>
        </div>
      </div>
      <!--path between 5-6-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2" style="top: -8px;">
          <div class="corner left-bottom"></div>
        </div>
      </div>
    </div>
    <div class="cluster cluster-sixth">
      <!--sixth section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6  memo text-right">
          <h5>사용자별 메뉴할당하기 User Menu Setting</h5>
          <p>
              추가로 등록한 사용자별로 메뉴를 할당하여 사용권한을 부여합니다. <a (click)="goto(6,$event)">Go to Step 6</a>
          </p>
        </div>
        <div class="col-2 text-center full" style="top: -9px;">
          <div class="circle">6</div>
        </div>
      </div>
      <!--path between 6-7-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom" style="top: 9px;height: 45px;"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
    </div>
    <div class="cluster cluster-seventh">
      <!--seventh section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top">
          <div class="circle">7</div>
        </div>
        <div class="col-6  memo">
          <h5>데이터 공유그룹 설정하기 Data Sharing Group Setting</h5>
          <p>
              BeyeBook은 권한기능 외에 모든 자료에 대해 특정사용자, 특정 공유그룹 또는 전체사용자에게 등록한 자료의 공유범위를 지정할 수 있습니다. 기본 값으로 세팅되어 있는 공유그룹명을 변경하고, 공유그룹을 추가합니다. 
              <a (click)="goto(7,$event)">Go to Step 7</a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
