<div id="content">
  <div class="well well-sm">
    <div class="row">
        <div class="col-sm-2" style="padding-right: 0;">
            <div class="input-group">
                <span class="input-group-addon" style="padding: 0; top: 0px; position: relative; border: none;">
                    <button type="button"[disabled]="!permission.canSearch" (click)="searchFavourite()" class="customer-star">
                        <i class="fav-style fa fa-star-o"></i>
                      </button>
                </span>
              <input id="txtKeyword"[disabled]="!permission.canSearch" (keypress)="checkKeycode($event)" class="form-control input-sm col col-lg-7" onclick="this.select()"
                placeholder="Search anything values...">
              <span class="input-group-addon" style="padding: 0; top: 0px; position: relative; left: -4px; border: none;">
                <button type="button"[disabled]="!permission.canSearch" class="col col-lg-3" style="padding-bottom: 4px;" (click)="search()" class="btn btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="col-sm-3" style="padding-left: 0;">
            <button type="button" (click)="openPopup(null)" style="padding-bottom: 4px;" class="btn btn-success">
              <i class="fa fa-plus"></i>
              {{'OPPORTUNITY-New' | i18n}}
            </button>
          </div>
      <div class="dropdown-toggle dropdown pull-right" style="padding: 5px 20px 0 0;">
        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-down"></i> Sort by</a>
        <ul class="dropdown-menu">
          <li>
            <a><b>Last Modified</b></a>
          </li>
          <li>
            <a>Contactor Name</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let item of contactor" class="col-sm-2">
      <div class="panel panel-default">
        <div class="panel-body status contactorListInfo">
          <div class="who clearfix">
            <div class="name"><a (click)="goto(item.contactor_id,$event)"> <b> {{item.contactor_nm}}</b></a>
            </div>
            <a class="pull-right tag">
                {{getContactorName(item.contactor_type_gen_cd)}}
              </a>
              <a class="pull-right text-warning star_contactor" *ngIf="item.favourite_yn">
                <i class="fa fa-star"></i>
              </a>&nbsp;
              <a class="pull-right text-warning star_contactor" *ngIf="!item.favourite_yn">
                <i class="fa fa-star-o"></i>
              </a>

          </div>
          <div class="text">
            <div style="margin-right:6px" class="round round blue">
              <i class="fa fa-user"></i>
            </div> {{item.contactor_position_nm}}<br>
            <div style="margin-right:6px" class="round round orange">
              <i class="fa fa-envelope"></i>
            </div><a href="{{item.email}}"> {{item.email}}</a>
          </div>
          <ul class="links">
            <div style="margin-right:6px" class="round round green">
              <i class="fa fa-phone"></i>
            </div> {{item.mobile_no}}
            <li class="dropdown-toggle dropdown pull-right">
              <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu" id="drop-menu">
                <li>
                  &nbsp;&nbsp; AM : {{getAmName(item.am_id)}}
                </li>
                <li>
                  &nbsp;&nbsp; Rule : {{getRuleName(item.rule_gen_cd)}}
                </li>
                <li>
                  &nbsp;&nbsp; Level : {{getLevelName(item.level_gen_cd)}}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row center" >
      <!-- <span class=" pull-right">Total {{pager.totalItems}} record(s)</span> -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-md">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="loadPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="loadPage(pager.currentPage - 1)"><i class="fa fa-angle-left"></i></a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a (click)="loadPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="loadPage(pager.currentPage + 1)"><i class="fa fa-angle-right"></i></a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="loadPage(pager.totalPages)">Last</a>
          </li>
      </ul>
</div>
</div>

<ng-template #popupContactorEditData>
  <sa-popup-modal  class="hide-border-bottom-popup" headerTitle="Contactor data management" width="1000" height="900" (onClose)="closeContactorPopup()">
    <sa-contactor-edit contactorJson="{{contactorInfo|json}}" (childCall)="reloadListContactor($event)"></sa-contactor-edit>
  </sa-popup-modal>
</ng-template>