.status .who{padding: 15px}
.status .text {
    padding: 15px;
}
.status .text div {
    margin-bottom: 10px;
}
.status .links{
    padding: 15px;
}
.status .links li {
    padding-right: 0;
}
.panel-default:hover {
    border-color: #9da4ab;
    box-shadow: 0 1px 3px 1px rgb(136, 140, 144);
}

.dropdown-menu {
    background: #fff;
    border-bottom: 2px solid #efefef;
}
.dropdown-menu>li>a {
    color: #333!important;
}
.dropdown-menu > li > a:hover{
    background-color: #efefef;
        color: #333;
}

.circular {
    border-radius: 500em!important;
    line-height: 1!important;
    padding: .5em .5em!important;
    -webkit-box-shadow: 0 0 0 0.1em rgba(0,0,0,.1) inset;
    box-shadow: 0 0 0 0.1em rgba(0,0,0,.1) inset;
    width: 2em!important;
    height: 2em!important;
}
.tag{
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 17px;
    position: relative;
    margin: -22px 1px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}
.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 6px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
  .tag::after {
    background: #f2f6f8;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .tag:hover {
    background-color: crimson;
    color: white;
  }
  
  .tag:hover::after {
     border-left-color: crimson; 
  }

#drop-menu li{
    display: block;
}

.customer-star{
    padding: 5px 9px 7px 10px;
}
.pagination li.disabled a {
    cursor: not-allowed!important;
    pointer-events: none;
 }
/* #pagination-customer {
    display: inline-block;
    padding-left: 0;
    margin: 18px 0;
    border-radius: 2px;
   
    
}
#pagination-customer .active>a{
    color: #fff;
    background-color: #3276b1;
    }
#pagination-customer>li{
display: inline;

}
#pagination-customer .pagination-alt>li>a{
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
}

#pagination-customer .pagination-lg>li>a{
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
}
#pagination-customer>li>a{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #3276b1;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
} */
.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}
.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}
.round.blue {
    background-color: #3EA6CE;
}
.round.orange {
    background-color: #FF6701;
}
.round.green {
    background-color: #42A129;
}
 a.ng-star-inserted>i.fa-star{
    margin-left:7px
 }
 div.who{
    background: #f2f6f8;
    height: 49px;
 }
 i.fa-angle-down{
    margin-top: 8px;
 }
 div.name{
     width: 100px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }
a.star_contactor{
 margin: -18px 15px 10px 0
}