.select2-results__option[aria-disabled="true"]{
    background: #eaeaea;
    color: #696464;
    cursor: not-allowed;
}
/*for smart-form button in the footer(all button float right*/
.smart-form footer .btn {
    float: right;
    height: 27px;
    margin: 5px 0 0 5px;
    padding: 0 10px;
    font: 300 13px/25px 'Open Sans',Helvetica,Arial,sans-serif;
}

/* .page-title {
    margin: 12px 0 12px;
    font-size: 17px;
} */
.page-title i.fa{
    margin-right: 4px;
}

/* custom crm skin */
.smart-style-0 ul.open-progs-panel{
    background: #2a2725!important;
}
.smart-style-0 ul.open-progs-panel li a {
    color: #c5c5c5!important;
}
.smart-style-0 ul.open-progs-panel li.active a {
    background: none!important;
}
.smart-style-0 ul.open-progs-panel li a:hover {
    background: none!important;
    color: #fff!important;
}
.smart-style-0 .open-progs-panel .close-prog {
    color: #929292;
}
.smart-style-0 .open-progs-panel .close-prog:hover{
    color: #fff !important;
}

.smart-style-0 .open-program-link-footer {
    color: #c3c3c3;
}
.smart-style-0 .open-program-link-footer:hover {
    color: #474544 !important;
}

.smart-style-1 ul.open-progs-panel{
    background: #22262e!important;
}
.smart-style-1 ul.open-progs-panel li a {
    color: #c5c5c5!important;
}
.smart-style-1 ul.open-progs-panel li.active a {
    background: none!important;
}
.smart-style-1 ul.open-progs-panel li a:hover {
    background: none!important;
    color: #fff!important;
}
.smart-style-1 .open-progs-panel .close-prog {
    color: #929292;
}
.smart-style-1 .open-progs-panel .close-prog:hover{
    color: #fff !important;
}

.smart-style-3 .open-progs-panel .close-prog {
    color: #fff;
}
.smart-style-3 .open-progs-panel .close-prog:hover{
    color: #DD7C37 !important;
}
.smart-style-3 .open-program-link-footer {
    color: #fff;
}
.smart-style-3 .open-program-link-footer:hover {
    color: #DD7C37 !important;
}

/* .second-level-nav {
    margin-left: 10px;
} */

/* .third-level-nav {
    margin-left: 20px;
} */

nav > ul > li.open ul li > a.third-level-nav {
    padding-left: 39px!important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
nav > ul ul li a i {
    font-size: 13px !important;
    width: 12px !important;
}

.smart-form input.input-xs {
    height: 24px !important;
    padding: 2px 10px !important;
    font-size: 11px !important;
    line-height: 1.5 !important;
}

.smart-form section.top-bottom-padding {
    padding: 12px 10px;
}

.text-error {
    margin: 5px 0 0 10px;
}

.textarea-padding {
    padding: 12px 10px 42px 10px;
}

.logo-text {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 17px;
}

.logo-text2 {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}
.logo-beye {
    margin-top: -7px;
}
.logo-beye-text {
    margin-top: -1px;
}

.logo-text2-beye {
    margin-top: 0px;
}
.iphoneatman{
    padding-top: 22px;
    padding-right: 20px;
}
.logindes, .logindes p {
    font: 11px "Open Sans",Verdana,Arial,sans-serif;
    color: #6d6d6d;
}
#extr-page h4.paragraph-header {
    color: #565656;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    margin-top: 15px;
    width: 301px;
}
.Knowledge{
    padding-left:50px;
}
.btn-close, .btn-close:focus{
    background: #2d2a2a; color: white;
}
.btn-close:hover{
    background: rgb(59, 59, 59); color: white;
} 
.btn-save,.btn-delete,.btn-reset,.btn-close{
    font: 300 13px/25px 'Open Sans',Helvetica,Arial,sans-serif !important;
    cursor: pointer !important;
}
.float-left{
    float: left !important
}
.custom-footer{
    float: right;
    background: none !important;
    border: none !important;
}
.scroll-both-h500{
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
}
.scroll-both-h500::-webkit-scrollbar-thumb
{
    background-color: #908e8e;
}
.scroll-both-h500::-webkit-scrollbar
{
    width: 8px;
    height:8px;
	background-color: #f4f4f4;
}
.scroll-both-h500::-webkit-scrollbar-track
{
	background-color: #f4f4f4;
}