/*Custom datatable*/
/* .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f5f5f5;
} */
.dataTable th, td { overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
.dataTable tbody tr td{
    vertical-align: middle;
}
.dataTables_processing{
    margin-top: 17px;
    border: none!important;
    z-index: 99;
    width: 100%;
    height: 100px;
    background: #fff;
    opacity: 0.6;
    margin-left: -50%!important;
}
.dataTable td.wrap-text {
    white-space: normal!important;
    min-width: 150px!important;
}
.dataTable td.no-wrap {
    white-space: nowrap!important;
    max-width: 500px!important;
    
}
.dataTable td.w300{
    min-width: 300px!important;
    width: 300px!important;
}
.dataTable td.w200{
    min-width: 200px!important;
    width: 200px!important;
}


.dataTables_scrollBody thead tr[role="row"]{
    visibility: collapse !important;
}
.dataTable tbody tr.selected{
    background: #e2f0d982;
}
.dataTable tbody tr:hover{
    background:#9cc0d23b;
}
table.dataTable thead>tr>th .select2-selection__rendered, table.dataTable thead>tr>th select {
    font-weight: 400;
    font-size: 11px;
    height: 22px!important;
    padding: 2px 3px!important;
    width: 100%!important;;
}

/* div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    } */

    .dt-toolbar-footer {
        background-image:linear-gradient(to bottom, #4c4f53, #475563);
        padding: 0px 5px;
        border-top: 0;
        /* -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        -ms-box-shadow: 0;
        box-shadow: 0; */
        -ms-box-shadow: inset 0 1px #614e4e;
        -moz-box-shadow: inset 0 1px #614e4e;
        -webkit-box-shadow: inset 0 1px #614e4e;
        box-shadow: inset 0 1px #614e4e;
    } 
div.dataTables_info {
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    color: #ffffff;
    height: 33px;
    padding-top: 9px;
}
div.dataTables_paginate {
    padding-top: 4.5px;
}
.dataTables_paginate .pagination>li>a, 
.dataTables_paginate .pagination>li>span {
    border-style: solid;
    border-width: 1px;
    border-color: #586977;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #eef6f9, #bdc6cd);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
    color: rgb(0, 0, 0);
}
.dataTables_paginate .pagination>li>a:hover {
    color: #fdfdfd!important;
    background-image: linear-gradient(to bottom,#767a7f, #50677d);
    border-color: #38414c!important;
}
.dataTables_paginate .pagination>.active>a, 
.dataTables_paginate .pagination>.active>a:focus, 
.dataTables_paginate .pagination>.active>a:hover, 
.dataTables_paginate .pagination>.active>span, 
.dataTables_paginate .pagination>.active>span:focus, 
.dataTables_paginate .pagination>.active>span:hover {
    background-image: linear-gradient(to bottom, #50677d,#5d6065);
    border-color: #38414c!important;
    color: #fdfdfd!important;
}
.dataTables_paginate .pagination>.disabled>a, 
.dataTables_paginate .pagination>.disabled>a:focus, 
.dataTables_paginate .pagination>.disabled>a:hover, 
.dataTables_paginate .pagination>.disabled>span, 
.dataTables_paginate .pagination>.disabled>span:focus, 
.dataTables_paginate .pagination>.disabled>span:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #586977;
    border-radius: 2px;
    background-image: linear-gradient(to bottom,#eef6f9, #bdc6cd);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
    color: #000000!important;
}.dt-toolbar {
    padding: 3px 0px 3px 0px;
}
.dt-toolbar div:first-child{
    padding-left: 3px;
}
.dt-toolbar .dataTables_filter label,.dt-toolbar .dataTables_length label{
    margin-bottom: 0px!important;
}
.dt-toolbar .child-right{
    padding-right: 0px;
}
.dt-toolbar .child-right > div{
    float: right!important;
}
.dt-toolbar .dataTables_filter input{
    height: 28px;
    padding: 5px 8px;
}
.dataTables_filter .input-group-addon {
    height: 28px;
    padding-top: 6px;
}
.dt-toolbar .dataTables_length{
    padding-right: 5px;
}.dt-toolbar .dataTables_length select{
    height: 23px;
    padding: 2px 5px;
    font-size: 11px;
}
.dt-toolbar-footer .dataTables_length label{
    margin: 3px 3px 3px 5px;
    color: #e6e5e5;
}
.dt-toolbar-footer .dataTables_length select.input-sm {
    height: 27px;
    line-height: 24px;
    width: 45px!important;
    padding: 5px 0px;
}

.dt-toolbar .child-right .btn{
    font-size: 12px!important;
    padding: 5px 10px!important;
}

.dataTables_scrollBody::-webkit-scrollbar-track
{
	background-color: #f4f4f4;
}

.dataTables_scrollBody::-webkit-scrollbar
{
    width: 8px;
    height:8px;
	background-color: #f4f4f4;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb
{
    /* 5a5959; */
	background-color: #908e8e;
}
.table-1900 .dataTables_wrapper{
    margin: 0 auto;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #ddd!important;
    margin-bottom: 0 !important;
}
.dt-toolbar-footer .pagination>li>a, 
.dt-toolbar-footer .pagination>li>span {
    padding: 2px 7px;
}
table.dataTable thead>tr.heading>th {
    padding: 3px 5px!important;
    padding-right: 15px!important;
    font-weight: normal!important;
}
.dataTables_scrollHead .dataTable thead>tr>th {
    border-right: solid 1px #ddd;
}
table.dataTable thead>tr>th.hasinput {
    padding: 3px!important;
}
table.dataTable tfoot>tr>th input, 
table.dataTable thead>tr>th input {
    height: 22px;
    padding: 2px 4px;
    font-size: 11px;
    line-height: 22px;
}
.table-condensed.table > thead > tr > th {
    padding: 4px 6px!important;  
}
.table-condensed.table>tbody>tr>td, 
.table-condensed.table>tbody>tr>th, 
.table-condensed.table>tfoot>tr>td, 
.table-condensed.table>tfoot>tr>th, 
.table-condensed.table>thead>tr>td{
    padding: 3px 5px!important;
    min-width: 40px;
    font-size: 11px!important;
    
}
.table-condensed.table>thead>tr>th{
    font-weight: normal!important;
    text-align: center;
}


.dataTable .icon-addon .form-control, 
.dataTable .icon-addon.addon-md .form-control {
    padding-left: 20px;
}
.dataTable .icon-addon .fa {
    left: 5px;
    margin-left: 0px;
    padding: 3px 0;
}
.dt-toolbar .btn{
    padding: 5px 10px!important;
    font-size: 11px!important;
    line-height: 12px!important;
}

.table-footer-light > .dataTables_wrapper > .dt-toolbar-footer{
    background: #e0e0e0!important;
    background-image: none!important;
}
.table-footer-light > .dataTables_wrapper > div.dataTables_info {
    color: #333!important;
}
.no-padding .dataTables_wrapper table tbody tr:last-child td {
    border-bottom: solid 1px #ddd;
}

.human-resources .dt-toolbar-footer{
    
}
.human-resources .dt-toolbar-footer .dataTables_info{color:#efeaea}
.human-resources .dt-toolbar-footer .pagination>li>a{color:#000;border-color:#929292}

.my-pagination /deep/ .ngx-pagination>li>a, 
.my-pagination /deep/ .ngx-pagination>span {
      border-style: solid;
      border-width: 0.25px;
      border-color: #586977;
      border-radius: 1.5px;
      background-image: linear-gradient(to bottom, #eef6f9, #bdc6cd);
      box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
      color: rgb(0, 0, 0);
  }  
  .my-pagination /deep/ .ngx-pagination>li>a:hover {
    color: #fdfdfd!important;
    background-image: linear-gradient(to bottom,#767a7f, #50677d);
    border-color: #38414c!important;
}

.my-pagination /deep/ .ngx-pagination>.active>a, 
.my-pagination /deep/ .ngx-pagination>.active>a:focus, 
.my-pagination /deep/ .ngx-pagination>.active>a:hover, 
.my-pagination /deep/ .ngx-pagination>.active>span, 
.my-pagination /deep/ .ngx-pagination>.active>span:focus, 
.my-pagination /deep/ .ngx-pagination>.active>span:hover {
    background-image: linear-gradient(to bottom, #50677d,#5d6065);
    border-color: #38414c!important;
    color: #fdfdfd!important;
}

.my-pagination /deep/ .ngx-pagination {
    margin: 7px;
    float: right;
    
  }
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before,
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after { 
    content: '' !important; 
}

.my-pagination /deep/ .ngx-pagination .disabled:hover,
.pagination-previous.disabled,
.pagination-next.disabled{
    background-image: linear-gradient(to bottom,#eef6f9, #bdc6cd);
}

.my-pagination /deep/ .ngx-pagination .disabled{
    cursor: not-allowed;
    color:#000;
}

.table-grid thead tr th{
    vertical-align:middle;
    background-color: #F4F4F4;
    white-space: nowrap;
    border: 1px solid #b7b7b7;
    color:#fff;
    background:linear-gradient(to bottom,#4c4f53c4,#2c3742bd);
}
.widget-body.no-padding.payroll{
    overflow: auto;
    max-width:1655px;
}
.widget-body.no-padding.payroll::-webkit-scrollbar {
    height: 8px;
}

.widget-body.no-padding.payroll::-webkit-scrollbar-track {
    background:#f4f4f4; 
}
 
.widget-body.no-padding.payroll::-webkit-scrollbar-thumb {
    background: #908e8e;
}

.table-grid .select2-selection {
    height: 20px!important;
    line-height: 19px!important;
    font-size: 9px!important;
  }

  /* .smart-form .button, 
.smart-form .checkbox, 
.smart-form .input, 
.smart-form .radio, 
.smart-form .select, 
.smart-form .textarea,  */
.table-grid .toggle {
    position: relative;
    display: block;
    font-weight: 400;
}
.table-grid .toggle {
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 25px;
    color: #404040;
    cursor: pointer;
}
.table-grid .toggle input {
    position: absolute;
    left: -9999px;
}
.table-grid .checkbox input:checked+i, 
.table-grid .radio input:checked+i, 
.table-grid .toggle input:checked+i {
    border-color: #3276B1;
}
.table-grid .toggle input:checked+i:before {
    right: 33px;
}
.table-grid .toggle i {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    display: block;
    width: 49px;
    height: 17px;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    background: #fff;
}
.table-grid .toggle i {
    border-color: #BDBDBD;
    transition: border-color .3s;
    -o-transition: border-color .3s;
    -ms-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;
}

.table-grid .toggle i:before {
    background-color: #3276B1;
}
.table-grid .toggle i:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 3px;
    right: 4px;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    opacity: 1;
    transition: right .2s;
    -o-transition: right .2s;
    -ms-transition: right .2s;
    -moz-transition: right .2s;
    -webkit-transition: right .2s;
}
.table-grid .toggle input:checked+i:after {
    content: attr(data-swchon-text);
    text-align: right;
}
.table-grid .toggle i:after {
    content: attr(data-swchoff-text);
    position: absolute;
    top: 1px;
    right: 8px;
    left: 8px;
    font-style: normal;
    font-size: 9px;
    line-height: 13px;
    font-weight: 700;
    text-align: left;
    color: #5f5f5f;
}

.reduce_width_column.table>tbody>tr>td, 
.reduce_width_column.table>tbody>tr>th, 
.reduce_width_column.table>tfoot>tr>td, 
.reduce_width_column.table>tfoot>tr>th, 
.reduce_width_column.table>thead>tr>td, 
.reduce_width_column.table>thead>tr>th {
    min-width: 15px;
}
.datatable_title {
    background:#6d6c6e !important;
    color:#fff !important;
}
.filerByFac{
    text-align: center;
}
.table_filter th{
    background:#e3e3e3;
}
.table_filter th:active{
    border-color:rgb(83, 66, 235);
}
.table_filter input[type=text]{
    border-color:#989898;
}
table.dataTable thead>tr>th.table_border_filter{
    border: none;
}
.dataTables_scrollHead .dataTable thead>tr.datatable_title>th,
#DataTables_Table_0 thead>tr.datatable_title>th  {
    border-right: solid 1px #7d7d7d !important;
}
input.form-control:hover{
    border-color:#3493D7;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc{
    background-size: 15px;
}
table.dataTable thead>tr.datatable_title>th {
    padding: 5px 13px !important;
}
#FilterByFac, #FilterDropdown, #FilterByStatus, option {
    border-color:#52494487;
    border-radius: 3px !important;
    text-align-last: center; text-align: center;
    text-indent: 12px;
}
#FilterDropdownNoAlign{
    border-color:#52494487;
    border-radius: 3px !important;
}
#FilterBySuperYN{
    border-color:#52494487;
    border-radius: 3px !important;
    text-align-last: center; text-align: center;
    text-indent: 10px;
}
#FilterByUseYN{
    border-color:#52494487;
    border-radius: 3px !important;
    text-align-last: center; text-align: center;
    text-indent: 6px;
}
.org_date .ui-datepicker {
    width: 237px;
    padding: .2em .2em 0;
    display: none;
}
.table-bordered > thead > tr.datatable_title > th{
    border-width: 0px !important;
}
.widget-foot.shiftwork{
    padding-top:0px;
}
#seq-display{
    width:74px !important;
}
#payroll-item-name{
    width:140px !important;
}

/* custom header auto width when expand, collapse */
.dataTables_scrollHeadInner{width: 100% !important}
.dataTables_scrollHeadInner .dataTable{width: 100% !important}