/*Custom global*/

.toast-top-right {
  top: 45px;
  right: 12px;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.state-error em.invalid {
  color: #ed1c24;
  font-size: 10px;
}
.state-error .select2-selection__arrow {
  color: #ed1c24;
}

input:required,
select:required,
input.required {
  border-color: #e04d1061 !important; /*bf940e!important;*/
}
/* input.required_input:required,
select.required_input:required, */
input.required_input:required.ng-invalid{
  border-color: #e04d1061 !important; /*bf940e!important;*/
  background: url(../img/alert.png) no-repeat right 2px center !important;
  background-size: 15px !important;
}

input.required_input:required.ng-valid{
  border-color: #ccc !important; /*bf940e!important;*/
}

input.required_input:required.ng-invalid{
  border-color: #e04d1061 !important; /*bf940e!important;*/
  background: url(../img/alert.png) no-repeat right 2px center !important;
  background-size: 15px !important;
}
/* select.select2:required.ng-invalid :invalid,
span.select2-selection{
  background: url(../img/alert.png) no-repeat right 25px center !important;
  background-size: 15px !important;
} */
input:required:hover,
select:required:hover,
input.required:hover {
  border:solid 1px #5D98CC !important; /*bf940e!important;*/
}
input.disabled {
  cursor: not-allowed !important;
  background: #eceaea !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.form-group.input-inline input {
  float: left;
}
.form-group.input-inline input:first-child {
  margin-right: -1px;
}

#extr-page-header-space {
  line-height: 52px;
  color: #fff;
}
#extr-page  #content{
  overflow-y: auto;
  height: auto;
}
#logo {
  display: inline-block;
  width: 175px;
  margin-top: -8px!important;
  margin-left: 0px!important;
}
img#logo {
  margin-top: -6px !important;
  padding-left: 49px !important;
  width: auto !important;
  height: 26px !important;
}
img#logo2{
  margin-top: -7px !important;
  padding-left: 7px !important;
  width: auto !important;
  height: 17px !important;
}
#logo p{
  font-size: 10px;
  color: #fff;
  font-style: italic
}
#logo div{
  float: left;
  font-size: 14px;
  color: #fff;
  padding-top: 9px;
  padding-left: 5px;
  font-weight: bold;
}

#logo2 {
  display: inline-block;
  width: 175px;
  margin-top: -8px!important;
  margin-left: 0px!important;
}
#logo2 img {
  margin-top: -65px !important;
  padding-left: 59px !important;
  width: auto !important;
  height: 17px !important;
}
#logo2 p{
  font-size: 10px;
  color: #fff;
  font-style: italic
}
#logo2 div{
  float: left;
  font-size: 14px;
  color: #fff;
  padding-top: 9px;
  padding-left: 5px;
  font-weight: bold;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#extr-page #header {
  height: 55px;
  background-color: #2c3742;
  background-image: -moz-linear-gradient(top, #2c3742, #2c3742) !important;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#2c3742),
    to(#2c3742)
  ) !important;
  background-image: -webkit-linear-gradient(top, #2c3742, #2c3742) !important;
  background-image: -o-linear-gradient(top, #2c3742, #2c3742) !important;
  background-image: linear-gradient(to bottom, #2c3742, #2c3742) !important;
}
img.logo-beye{
  max-width: 30px;
}
img.logo-beye-text{
  max-width: 150px;
}
img.logo-beye-gray1{
  max-width: 55px;
  margin-left: 75px;
  margin-top: 5px;
}
img.logo-beye-gray2{
  max-width: 220px;
  margin-left: 0px;
  margin-top: 10px;
}
.logo-text2-beye img{
  max-width: 180px;
  margin-left: 17px;
}

/*Moving Activities*/
div#activity {
  box-sizing: content-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer !important;
  display: inline-block;
  font-weight: 700;
  height: 24px;
  width: 24px;
  padding: 2px;
  text-align: center;
  text-decoration: none !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f8f8f8),
    to(#f1f1f1)
  );
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #bfbfbf;
  color: #c4bab6;
  font-size: 19px;
  margin: 10px 0 0;
  position: relative;
}
.ajax-dropdown {
  right: 16px;
  left: unset;
  box-sizing: content-box;
}
.ajax-dropdown:before {
  right: 183px;
  left: unset;
}
.ajax-dropdown:after {
  right: 183px;
  left: unset;
}

.activity-dropdown + .ajax-dropdown {
  -webkit-animation-name: flipInY;
  -moz-animation-name: flipInY;
  -o-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*End of activities*/
#mobile-profile-img {
  display: block !important;
  padding-right: 5px !important;
}
#mobile-profile-img a.userdropdown img {
  float: left;
}
/*No use*/
.top-user-profile {
  display: block;
  font-size: 12px;
  width: 200px;
  margin: 0 !important;
  position: absolute;
  left: 220px;
  top: 6px;
}

.top-user-profile .dropdown-menu .divider {
  margin: 6px 0;
}
.top-user-profile .dropdown-menu li a:hover {
  background-color: #fff;
  color: #b74c4b;
}
.top-user-profile div a.username {
  text-decoration: none !important;
  color: #2d2c2b;
  display: inline-block;
  margin-top: 6px;
}
.top-user-profile img {
  width: 25px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-top: 1px;
  margin-right: 5px;
  margin-left: 0;
  border-left: 3px solid #fff;
}
.top-user-profile a.username span {
  text-transform: capitalize;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
/*end of No use*/

/*Clock*/
.header-clock {
  vertical-align: middle;
  margin-top: 7px;
  height: 49px;
  float: left;
  width: 100px;
  text-align: right;
  margin-right: 25px;
}
.header-clock .hour {
  font-size: 15px;
  /* font-weight: bold; */
}
.header-clock .day {
  font-style: italic;
  font-size: 11px;
}

/*todo-list*/
#todo-list {
  vertical-align: middle;
  height: 49px;
  float: left;
}
.project-context > :first-child{
  font-weight: normal;
}
/*Latest News*/
#hot-news {
  height: 49px;
  float: left;
}

.latest-news {
  padding: 7px 40px 0;
}
.latest-news > span {
  display: block;
}
.latest-news > :first-child {
  display: block;
  color: #bfbfbf;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  /* text-shadow: 0 0 1px white; */
  padding-left: 0px;
  text-align: left;
}
.hot-news {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px!important;
}
.latest-news .news-panel li{
  font-size: 12px!important;
}
.news-panel {
  max-height: 300px;
  overflow-y: auto;
}

.news-panel::-webkit-scrollbar-track {
  background-color: #2f80a0;
}

.news-panel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #2f80a0;
}

.news-panel::-webkit-scrollbar-thumb {
  background-color: #054f6d;
}
.btn-with-badge {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default !important;
  display: inline-block;
  font-weight: bold;
  height: 30px;
  width: 30px;
  padding: 2px;
  text-align: center;
  text-decoration: none !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f8f8f8),
    to(#f1f1f1)
  );
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #bfbfbf;
  color: #c4bab6;
  font-size: 19px;
  margin: 10px 0 0 0;
  position: relative;
}
.btn-with-badge b.badge {
  position: absolute;
  top: -9px;
  right: -9px;
  cursor: pointer;
  background: #0091d9;
  display: inline-block;
  font-size: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  color: #fff;
  font-weight: 400;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  /* padding: 2px 4px 3px; */
  text-align: center;
  line-height: normal;
}

#project-selector,
.project-selector {
  font-size: 14px;
}

/*Fix left nav bar when fix position(sa-login-info removed)*/
.fixed-navigation nav {
  overflow-y: hidden;
  overflow-x: hidden;
}

/*Fix conflict select2 with smart-admin form*/
.select2-container .select2-choice,
.select2-selection {
  padding: 0 8px !important;
  border-radius:3px;
}
.select2-container .select2-choice .select2-arrow,
.select2-selection__arrow {
  width: 20px;
  background-image: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
}
.select2-selection__arrow:hover{
  background:linear-gradient(to bottom, #ffff88 0%,#ffff88 100%);
}
.select2-selection .select2-selection__placeholder {
  color: #a2a0a0;
}
.select2-search-choice-close,
.select2-selection__clear {
  display: block;
  float: right;
  margin-right: 16px !important;
  font-size: 13px;
  cursor: pointer;
  /* border: solid 1px #ccc; */
  /* border-radius: 5px; */
  /* background: #fffbfb; */
}
.select2-container--disabled .select2-selection,
.select2-container--disabled .select2-selection .select2-selection__arrow {
  cursor: not-allowed !important;
  background: linear-gradient(to bottom, #ededed 0%,#f6f6f6 53%,#ffffff 100%) !important;
}
.select2-container--disabled .select2-selection .select2-selection__rendered {
  color: #a2a0a0;
}
.select2-results li {
  padding: 3px 5px 4px !important;
  font-size: 12px;
}
.select2-display-none,
.select2-hidden-accessible {
  display: none !important;
}
.select2-search input {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}
label.state-error .select2-container .select2-selection {
  background: #fff0f0;
  border-color: #e04d1061;
}
/* label.state-success .select2-container .select2-selection{
    background: #f0fff0;
    border-color: #7DC27D;
} */

select.required + span.select2 > .selection > .select2-selection {
  border-color: #e04d1061;
}
select.required + span.select2 > .select2-drop-active{
  border-color: #e04d1061;
}

/*Custom message box*/
.divMessageBox {
  background: rgba(0, 0, 0, 0.4);
}
/* .MessageBoxContainer {
    margin: auto;
    max-width: 600px;
    width: 95%;
    
}
.MessageBoxMiddle {
    left: 0;
    width: 100%;
} */
.MessageBoxMiddle .MsgTitle {
  font-size: 20px;
}
.MessageBoxMiddle .pText {
  font-size: 12px;
}
.MessageBoxMiddle .pText .warning-emphasize{
  color:#21BA45;
}
.MessageBoxButtonSection button {
  font-size: unset;
  font-weight: unset;
}

.widget-body.no-padding .cke_chrome {
  border: 1px solid #d1d1d1;
}

/*LEFT BOTTOM MENU*/
.left-bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  border-top: solid 1px #ccc;
}
.btn-opened-prog b.badge {
  position: absolute;
  top: -3px;
  right: 4px;
  cursor: pointer;
  background: #0091d9;
  display: inline-block;
  font-size: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  line-height: normal;
}
.btn-opened-prog {
  width: 50px;
  height: 40px;
  display: block;
  position: relative;
}

.btn-opened-prog > i {
  font-size: 18px;
  color: #f5f5f5;
  padding-top: 13px;
  padding-left: 10px;
}
ul.open-progs-panel {
  width: 100%;
}
ul.open-progs-panel li {
  height: 25px;
  position: relative;
}
ul.open-progs-panel li a {
  padding: 3px 5px !important;
  font-size: 12px !important;
  font-weight: normal !important;
}
ul.open-progs-panel > .active > a {
  font-size: 12px !important;
  font-weight: normal !important;
}

.open-progs-panel .close-prog {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
}
.open-progs-panel .close-prog:hover {
  color: #f5f5f5;
}

.page-footer {
  height: 40px;
  padding: 9px 13px 0;
  padding-left: 233px;
}
.page-footer span.txt-color-white{
  font-size: 11px;
  color: #bab5b5!important;
}
.page-footer b.badge {
  position: relative;
  top: -8px;
  right: 8px;
  cursor: pointer;
  background: #0091d9;
  display: inline-block;
  font-size: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  line-height: normal;
}

.open-program-link-footer {
  position: relative;
  top: -22px;
  left: 170px;
}

.dropdown-menu-footer {
  right: 0px;
  left: auto;
  width: 190px!important;
}

.menu-on-top #hide-menu,
.menu-on-top #logout {
  display: block !important;
}

#left-panel .dropdown-menu > .active > a:before {
  display: none;
}

.page-footer #drlZomm {
  width: 80px;
  height: 23px;
  margin-left: 10px;
  float: right;
  padding: 0px 10px;
}
/* 
.open > .dropdown-menu {
    -webkit-animation-name: flipInY;
    -moz-animation-name: flipInY;
    -o-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    -o-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
} */
/* .fixed-navigation nav {
    padding-bottom: 0;
} */
.jarviswidget>div{
  font-size: 11px;
}
.jarviswidget>header {
  height: 31px;
  border: none;
}
.jarviswidget>header>.widget-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.jarviswidget>header h2 {
  font-size: 13px;
  line-height: 29px;
}

.jarviswidget-atman > div {
  border-width: 1px;
  border-style: solid;
  border-top: none;
  /* border-right-color: #505252 !important;
  border-bottom-color: #505252 !important;
  border-left-color: #505252 !important; */
}
.jarviswidget-color-atman > header {
  border-color: #2c3742 !important;
  background-image: linear-gradient(to bottom,#4c4f53,#2c3742);
  color: #fff;
  font-weight:bold;
}
/* .jarviswidget-color-atman > .nav-tabs > li:not(.active) > a, */
.jarviswidget-color-atman > header > .jarviswidget-ctrls a {
  color: #fff !important;
}
/* .fixed-navigation .minifyme, 
.hidden-menu .minifyme, 
.minified #hide-menu {
    display: block;
} */
/* .minified #hide-menu>:first-child>a {
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(top,#5a5a5a 0,#686868 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5a5a5a),color-stop(100%,#686868));
    background-image: -webkit-linear-gradient(to bottom,#5a5a5a 0,#686868 100%);
    background-image: -o-linear-gradient(to bottom,#5a5a5a 0,#686868 100%);
    background-image: -ms-linear-gradient(to bottom,#5a5a5a 0,#686868 100%);
    background-image: linear-gradient(to bottom,#5a5a5a 0,#686868 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5A5A5A', endColorstr='#686868', GradientType=0);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0,0,0,.15);
    box-shadow: inset 0 0 3px 1px rgba(0,0,0,.15);
    color: #fff;
    border-color: #494949;
} */

.minifyme {
  position: absolute;
  right: 0;
}
.fixed-navigation .minifyme {
  right: 14px;
}
.fixed-navigation.minified .minifyme {
  right: 0;
}
.minifyme i {
  padding-top: 5px;
}
.mobile-view-activated .minifyme {
  display: none;
}

.select2-container-multi .select2-choices,
.select2-selection--multiple {
  border: 1px solid #ccc;
}
.select2-selection--multiple .select2-selection__clear {
  display: none !important;
}
.select2-selection--multiple .select2-selection__choice {
  padding: 1px 28px 1px 8px !important;
  margin: 3px 0 3px 5px !important;
}

.select2-selection--multiple .select2-selection__choice__remove {
  padding: 2px 0 0 2px !important;
}

/* input[type='number']{text-align: right} */
input.xs-width {
    width: 40px!important;
  }
input.sm-width {
  width: 60px!important;
}
input.md-width {
  width: 100px!important;
}

.modal-dialog {
    padding-top: 100px;
  }
.modal-dialog.modal-full-screen {
    position: fixed!important;
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
  }
#popup-modal > .jarviswidget{
    margin-bottom: 0;
  }
  #popup-modal .jarviswidget.full-screen{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #fff;
  }

  .breadcrumb li{
    text-transform: capitalize!important;
  }
  .language-select a.dropdown-toggle span{
    margin-left: 3px;
    margin-right: 3px;
  }

  .smart-form.no-header{
    border: #ccc solid 1px;
    margin-bottom: 10px;
  }


.smart-form.no-header .btn {
    float: right;
    height: 31px;
    margin: 10px 0 0 5px;
    padding: 0 10px;
    font: 300 13px/29px Arial,'Open Sans', Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.widget-toolbar {
  height: 30px;
  line-height: 30px;
}
.widget-toolbar>.color-box {
  margin-top: 5px;
}
.jarviswidget-ctrls .button-icon {
  height: 29px;}
.jarviswidget-ctrls a {
  line-height: 29px;}


  .breadcrumb>li+li:before {
    content: ">\00a0";
    padding: 0 0 0 5px;
}
.padding-left-0{
  padding-left:0!important;
}
nav > ul ul li::before {
  top: 16px;
}
.menu-on-top nav b.collapse-sign{
  display: none;
}

.human-resources .ui-spinner-up:before, .human-resources .ui-spinner-down:before{font-size: 9px !important; top: -4px !important; position: relative !important;}
.atman-form-small.group .select2-selection {height: 22px!important;}

/* custom select2 group */
li ul.select2-results__options {
  margin-left: 10px !important;  
}

.hide-border-bottom-popup .jarviswidget-atman > div{
  border: none;
}
.custom-sharing .select2-container--default .select2-selection--multiple{
  border: 1px solid #8bc34a73;
  background-color: #8bc34a38;
  min-height: 60px;
  height: 100% !important;
}
.select2-container--default .select2-results__options i{padding: 0 5px;}
.custom-sharing .select2-selection__choice{z-index: 1;}
.custom-sharing .select2-search.select2-search--inline input{width: 100% !important;}
.custom-sharing .select2-container{width: 100% !important;}
.custom-sharing .select2-selection__rendered{padding-top: 3px;}
.table-grid .select2-selection {
  height: 20px!important;
  line-height: 19px!important;
  font-size: 9px!important;
}
.expensesGroup{
  font-weight: bold !important;
  font-size: 15px !important;
}
.expensesChild{
 margin-left: 13px
}
.lableExpenses{
  background-color: #db2828;
  color: white;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right: 11px;
    padding-left: 11px;
  border-radius: 0.28rem
}
.custom-expenses .select2-selection--single{
  padding-left: 16px !important; 
  padding-top: 5px !important; 
  padding-bottom: 11px !important; 
}
.clearComboboxes:hover{
  cursor: pointer;
  color: cornflowerblue;
  text-decoration: underline
  }
.smart-form .selectize-input {
  border: 1px solid #ccc;
  padding: 4px 12px !important;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 4px;
  height: 30px;
  min-height: 30px !important;
}
.multi-tab-menu {
  border-bottom: none;
  padding-left: 15px;
  width: 1500px;
}
.multi-tab-menu>li{
  width: 145px;
}
.multi-tab-menu>li>a>i.fa-times {
  margin-left: 1px;
  background: transparent;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
}

.multi-tab-menu>li>a>i.fa-times:hover {
  background: #ffc0c0;
}
.multi-tab-menu>li>a:hover {
  color: #555;
  background: #fff;
  height: 75px;
  display: inline-block;
  margin-top: -5px;
  width: 145px;
}
.multi-tab-menu>li a {
  color: #df9b45;
  height: 70px;
  border-radius: 8px;
  transition: all 0.3s !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 145px;
}
.multi-tab-menu>li.active>a{
  box-shadow: 0 -3px 0 #df9b45 !important;
}
.multi-tab-menu>li>a {
  padding: 6px 10px 10px!important;
}
.multi-tab-menu>li>a>i {
  margin-left: -7px !important;
}
.multi-tab-menu>li>a>i.fa-times {
  opacity: 0.5 !important;
}
.multi-tab-menu>li>a>i.fa-times:hover {
  opacity: 1 !important;
}
mark{
  background-color: yellow
}

 