/*Smart Admin standard form customize*/
.smart-form fieldset {
    padding-top: 10px;
}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    font: 12px/16px "Open Sans",Arial,sans-serif;
}
.smart-form input,
.smart-form select{
    height: 30px!important;
    /* padding: 5px 10px!important; */
    font-size: 12px!important;
}
.smart-form .select2-container .select2-choice, 
.smart-form .select2-selection {
    height: 28px!important;
    line-height: 29px!important;
    font-size: 12px!important;
}
.smart-form .select i {
    top: 10px!important;
    right: 10px!important;
    width: 5px!important;
    height: 10px!important;
}
/* Disabled state-success bg & border color*/
.smart-form .checkbox.state-success i, .smart-form .radio.state-success i, .smart-form .state-success input, .smart-form .state-success select, .smart-form .state-success textarea, .smart-form .toggle.state-success i {
    background: #fff; 
    border-color: #BDBDBD;
}
.smart-form .state-success select+i {
    background: #fff; 
    box-shadow: 0 #fff;
}
.smart-form .button.state-disabled, .smart-form .checkbox.state-disabled, .smart-form .input.state-disabled input, .smart-form .radio.state-disabled, .smart-form .select.state-disabled, .smart-form .textarea.state-disabled, .smart-form .toggle.state-disabled {
    cursor: not-allowed!important;
    background: #eceaea;
}
.smart-form section {
    margin-bottom: 10px;
}
.smart-form .col {
    /* padding-right: 10px;
    padding-left: 10px; */
}
.smart-form .label {
    margin-bottom: 3px;
    line-height: 13px;
    font-size: 12px;
}
.smart-form .checkbox, .smart-form .radio {
    font-size: 12px;
}


.smart-form .label.label-center {
    margin-top: 5px;
    line-height: 13px;
    font-size: 12px;
}


.atman-form-small .input input, .atman-form-small .select select, .atman-form-small .textarea textarea {
    /* font: 12px/16px Arial,sans-serif; */
    font: 11px "Open Sans",Arial,sans-serif;
}
.atman-form-small input,
.atman-form-small select{
    height: 22px!important;
    /* padding: 5px 10px!important; */
    font-size: 11px!important;
}
.atman-form-small input{
    padding: 2px 5px!important;
    line-height: 22px!important;
}


/*Customize for atman form small input*/
.smart-form-small fieldset {
    padding: 20px 10px 5px;
}
.atman-form-small .select2-container .select2-choice, 
.atman-form-small .select2-selection {
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    height: 20px!important;
    line-height: 19px!important;
    font-size: 11px!important;
}
.atman-form-small .select2-container--open .select2-selection {
    background: linear-gradient(to bottom, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
    border-color: #5D98CC !important;
}

.atman-form-small .select2-search input{
    min-height: 22px!important;
    padding: 3px 15px 3px 5px!important;
}
/* .hr-avatar .select2-selection{max-height: 19px !important;line-height: 19px !important} */
.atman-form-small .select i {
    top: 10px!important;
    right: 10px!important;
    width: 5px!important;
    height: 10px!important;
}

.atman-form-small section {
    margin-bottom: 5px;
}
.atman-form-small .col {
    /* padding-right: 10px;
    padding-left: 10px; */
}
.atman-form-small .label {
    margin-bottom: 3px;
    line-height: 13px;
    font: 11px "Open Sans",Verdana,Arial,sans-serif;
    color: #525151;
}
.atman-form-small .checkbox, .atman-form-small .radio {
    font: 11px Verdana,Arial,sans-serif;
}

.atman-form-small .label.label-center {
    margin-top: 5px;
    line-height: 13px;
    font-size: 12px;
}

.atman-form-small .icon-append {
    right: 1px;
    padding-left: 0px;
}
.atman-form-small .icon-append, .atman-form-small .icon-prepend {
    top: 1px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 22px;
}
.atman-form-small footer {
    padding: 0px 10px 5px 5px;
}

.atman-form-small .inline-group .radio, .atman-form-small .inline-group .checkbox {
    margin-top: 4px;
}
.atman-form-small .radio:last-child, .atman-form-small .checkbox:last-child {
    margin-top: 5px;
}
.atman-form-small .radio i, .atman-form-small .checkbox i {
    top: -2px;
    width: 15px;
    height: 15px;
}

.atman-form-small .checkbox input + i:after {
    top: 1px;
    left: 0px;
    width: 15px;
    height: 15px;
    font: normal 12px FontAwesome;
}
.atman-form-small .radio input + i:after {
    top: 3px;
    left: 3px;
    width: 9px;
    height: 9px;
}