<sa-header></sa-header>

<sa-navigation></sa-navigation>

<div id="main" role="main">

  <sa-layout-switcher></sa-layout-switcher>

  <sa-ribbon></sa-ribbon>
  <div id="page" style="width: 100%;height: 100%;">
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>

<sa-footer></sa-footer>
<sa-loading-center></sa-loading-center>
<!-- <sa-shortcut></sa-shortcut> -->
