.recent .header{border-bottom: 1px solid #ddd;}
span.label{
    padding: 3px 10px !important;
    font-size: 11px;
    font-weight: normal;
    margin: 0 !important;
}
span.label.margin-right{margin-right: 8px !important}
span.label.margin-left{margin-left: 8px !important}
.smart-timeline-content p.title{margin: 7px 0}
.smart-timeline-content{cursor: pointer;margin-left: 57px !important;overflow-x: hidden;}
.smart-timeline-icon{left:0}
.smart-timeline-list:after{top:47px;left: 34px;bottom: 34px}
.well.well-sml{padding: 0;}
.well.well-sml .header{padding: 10px 19px 5px;font-weight: bold}
.well.well-sml .body{padding: 19px;}
.center-loading{
    z-index: 99999;
    position: relative;
    left: 36%;
    top: 40%;
    text-align: center;
    padding: 5px;
    background: white;
    border: solid 1px #a90329;
    border-radius: 5px;
    color: #a90329;
    width: 200px;
}
.fa-refresh{
    float: right;
    position: relative;
    top: 4px;
    cursor: pointer;
}
.status{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.status h5{margin: 5px;font-weight: 400;}
.status .amount{font-size: 30px;}
.status .rate{position: relative;top: 6px;}
.customProgress{background: #ffffff21 !important;}
.customProgress span{box-shadow: none}
.status .center-loading{
    /* height: 113px; */
    background: transparent;
    border: transparent;
    left: 100px;
}
