<div id="content">
  <section class="col-lg-12" style="padding: 0;">
      <label class="input" style="float:right">
          <select name="year" select2 required style="width:100px;" class="select2 required"
            placeHolder="- Selection -" [(ngModel)]="year"
            [defaultVal]="year" (onSelectedChange)="onYearChange()">
            <option *ngFor="let y of years" value={{y.val}}>{{y.text}}</option>
          </select>
        </label>
  </section>
  <div class="row status">
      <div class="col-sm-3">
        <div class="well well-sm txt-color-white text-center" style="background-color:#fbbd08;height:132px">
            <ng-container *ngIf="ShowLoading.status1; else showStatus1">
                <div class="loading center-loading">
                  <img src="/assets/img/loading-red.gif">
              </div>
              </ng-container>
              <ng-template #showStatus1>
                  <h5>SALES STATUS</h5>
                  <p class="amount">{{DBSaleStatus_amt | number}}</p>
                  <label class="input col-lg-12" style="padding: 0;">
                      <div class="customProgress" style="height: 7px;">
                        <span id="progressRate" [ngStyle]="{'width.%': saleStatusRate}" style="background-color: #ffe21f; max-width: 100%;">
                        </span>
                      </div>
                    </label>
                    <p class="rate">Achievement rate: {{saleStatusRate}}%</p>
              </ng-template>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well well-sm txt-color-white text-center" style="background-color:#2185d0;height:132px">
            <ng-container *ngIf="ShowLoading.status2; else showStatus2">
                <div class="loading center-loading">
                  <img src="/assets/img/loading-red.gif">
              </div>
              </ng-container>
              <ng-template #showStatus2>
                  <h5>GROSS PROFIT ON SALES</h5>
                  <p class="amount">{{DBGrossProfit_amt | number}}</p>
                  <label class="input col-lg-12" style="padding: 0;">
                      <div class="customProgress" style="height: 7px;">
                        <span id="progressRate2" [ngStyle]="{'width.%': GrossProfitRate}" style="background-color: #54c8ff; max-width: 100%;">
                        </span>
                      </div>
                    </label>
                    <p class="rate">Profit ratio: {{GrossProfitRate}}%</p>
              </ng-template>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well well-sm  txt-color-white text-center" style="background-color:#db2828;height: 132px;">
          <h5>SALES TREND</h5>
          <ng-container *ngIf="ShowLoading.status3">
            <div class="loading center-loading" style="left: 126px;">
              <img src="/assets/img/loading-red.gif">
          </div>
          </ng-container>
            <div id="chartdiv" style="height:108px;top: -14px;"></div>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="well well-sm txt-color-white text-center" style="background-color:#00b5ad;height:132px">
            <ng-container *ngIf="ShowLoading.status4; else showStatus4">
              <div class="loading center-loading">
                <img src="/assets/img/loading-red.gif">
            </div>
            </ng-container>
            <ng-template #showStatus4>
                <h5>ORDERS</h5>
                <p class="amount">{{Order_ratio.contract}}/{{Order_ratio.opportunity}}</p>
                <label class="input col-lg-12" style="padding: 0;">
                    <div class="customProgress" style="height: 7px;">
                      <span id="progressRate4" [ngStyle]="{'width.%': Order_ratio.percent}" style="background-color: #6dffff; max-width: 100%;">
                      </span>
                    </div>
                  </label>
                  <p class="rate">Order rate: {{Order_ratio.percent}}%</p>
            </ng-template>
          </div>
      </div>
  </div>
  <div class="row recent">
      <section class="col-sm-6">
          <div class="well well-sml">
              <section class="header">
                  <p>
                    <span>Recent Activity</span>
                    <i class="fa fa-refresh" (click)="onRefresh('activity')"></i>
                  </p>
              </section>
              <section class="body" style="height: 300px;overflow: auto;">
                  <ng-container *ngIf="ShowLoading.recentActivity; else showActivity">
                    <div class="loading center-loading">
                      <img src="/assets/img/loading-red.gif"> Please wait...
                    </div>
                  </ng-container>
                  <ng-template #showActivity>
                    <ng-container *ngIf="recentlyActivity.length; else noneActivity">
                      <ul class="smart-timeline-list">
                        <li *ngFor="let item of recentlyActivity;let idx = index">
                          <div class="smart-timeline-icon">
                            <div class="index" (click)="goToComponent(item.child_input_func, item.child_id)">
                              <span><i class="fa {{item.child_icon}}"></i></span>
                            </div>
                          </div>
                          <div class="smart-timeline-content custom-span" (click)="Expand(idx)">
                            <span style="padding-right: 10px;color:#4183c4">{{item.parent_title}}</span>
                            <span class="custom-tooltip" tooltip="{{item.parent_date | moment:'YYYY-MM-DD HH:mm'}}"
                              placement="left"><i class="fa fa-clock-o"></i> {{item.parent_date| amTimeAgo}}
                            </span>
                            <span class="label label-default">created by: {{item.parent_creator}}</span>
                            <p class="title">
                              <ng-container
                                *ngIf="item.child_type =='email'||item.child_type =='tel'||item.child_type =='issue'||item.child_type =='meeting'; else businessSupport">
                                <ng-container *ngIf="item.child_type =='email'||item.child_type =='tel'; else issueMeeting">
                                  <ng-container *ngIf="item.child_item_1 == 1; else reception">
                                    <span class="label label-success margin-right">{{'POPUP-ACTIVITY-SEND' | i18n}}</span>
                                  </ng-container>
                                  <ng-template #reception>
                                    <span class="label label-warning margin-right">{{'POPUP-ACTIVITY-RECEPTION' | i18n}}</span>
                                  </ng-template>
                                  <span><strong>{{item.child_item_2}}</strong></span>
                                  <span class="label label-default" style="margin-left: 9px !important;">{{item.child_date}}</span>
                                  <div class="detail">
                                    <div *ngIf="idx !== indexExpand" data-maxlength="100" class="content-title"
                                      innerHtml="{{item.child_item_3}}"></div>
                                    <div *ngIf="idx == indexExpand" [innerHtml]="item.child_item_3"></div>
                                  </div>
                                </ng-container>
                                <ng-template #issueMeeting>
                                  <span><strong>{{item.child_item_1}}</strong></span>
                                  <span class="label label-default" style="margin-left: 9px !important;">{{item.child_date | date:'yyyy-MM-dd'}}</span>
                                  <div class="detail">
                                    <div *ngIf="idx !== indexExpand" data-maxlength="100" class="content-title"
                                      innerHtml="{{item.child_item_2}}"></div>
                                    <div *ngIf="idx == indexExpand" [innerHtml]="item.child_item_2"></div>
                                  </div>
                                </ng-template>
                              </ng-container>
                              <ng-template #businessSupport>
                                <ng-container *ngIf="item.child_type =='business'; else support">
                                  <p class="title">
                                    <span class="label label-default margin-right">Business day
                                      {{item.child_date | date:"yy-mm-dd"}}</span>
                                    <span class="label border-transparent margin-right">Progress rate
                                      {{item.child_item_1}}</span>
                                    <span class="label border-transparent margin-right">Possibility
                                      {{item.child_item_2}}%</span>
                                    <span class="label border-red"><i class="fa fa-won"></i>
                                      {{item.child_item_3 |number}}</span>
                                  </p>
                                  <section class="detail" *ngIf="idx == indexExpand">
                                    <div class="input-group col-lg-12">
                                      <span class="input-group-addon" style="width: 60px;">
                                        Issue
                                      </span>
                                      <span class="form-control input-sm"
                                        style="background: white; overflow: auto; height: 100%; color: black;" readonly
                                        innerHtml="{{item.child_item_4}}">&nbsp;</span>
                                    </div>
                                    <div class="input-group col-lg-12">
                                      <span class="input-group-addon" style="width: 60px;">
                                        Memo
                                      </span>
                                      <span class="form-control input-sm"
                                        style="background: white; overflow: auto; height: 100%; color: black;" readonly
                                        innerHtml="{{item.child_item_5}}">&nbsp;</span>
                                    </div>
                                  </section>
                                </ng-container>
                                <ng-template #support>
                                  <p class="title">
                                    <span class="label label-warning margin-right">{{item.child_item_1}}</span>
                                    <span style="margin-right:8px"><strong>{{item.child_item_2}}</strong></span>
                                    <span class="label label-default margin-right">
                                      <i class="fa fa-user"></i>
                                      <span *ngIf="item.child_item_3 !==''">
                                        {{item.child_item_3}}
                                      </span>
                                    </span>
                                    <span class="label border-transparent margin-right"><i class="fa fa-clock-o"></i>
                                      {{item.child_item_4}}</span>
                                    <span class="label label-default">Date: {{item.child_date | date:'yyyy-MM-dd'}}</span>
                                  </p>
                                  <div class="detail">
                                    <div *ngIf="idx !== indexExpand" data-maxlength="100" class="content-title"
                                      innerHtml="{{item.child_item_5}}"></div>
                                    <div *ngIf="idx == indexExpand" [innerHtml]="item.child_item_5"></div>
                                  </div>
                                </ng-template>
                              </ng-template>
                            </p>
                          </div>
                        </li>
                      </ul>
                    </ng-container>
                    <ng-template #noneActivity>
                      <h2 style="text-align: center;">
                        <i class="fa fa-exclamation"></i>
                        <p>{{'ACTIVITY-WARNING-NO-ACTIVITY' | i18n}}!</p>
                      </h2>
                    </ng-template>
                  </ng-template>
              </section>
          </div>
      </section>
      <section class="col-sm-6">
          <div class="well well-sml">
              <section class="header">
                  <p>
                    <span>Recent orders</span>
                    <i class="fa fa-refresh" (click)="onRefresh('order')"></i>
                  </p>
              </section>
              <section class="body" style="height: 300px;overflow: auto;">
                <ng-container *ngIf="ShowLoading.recentOrder; else showOrder">
                  <div class="loading center-loading">
                    <img src="/assets/img/loading-red.gif"> Please wait...
                </div>
                </ng-container>
                <ng-template #showOrder>
                  <ng-container *ngIf="recentlyOrder.length; else noneOrder">
                    <ul class="smart-timeline-list">
                        <li *ngFor="let item of recentlyOrder | slice:0:10 ;let idx = index">
                          <div class="smart-timeline-icon">
                            <div class="index" (click)="goToComponent(99, item.order_id)">
                                <span><i class="fa fa-circle-thin"></i></span>
                            </div>
                          </div>
                          <div class="smart-timeline-content custom-span">
                            <span style="padding-right: 10px;color:#4183c4">{{item.order_nm}}</span>
                            <span class="custom-tooltip" tooltip="{{item.created_time | moment:'YYYY-MM-DD HH:mm'}}"
                              placement="left"><i class="fa fa-clock-o"></i> {{item.created_time| amTimeAgo}}
                            </span>
                            <span class="label label-default">created by: {{item.creator}}</span>
                            <p class="title">
                              <span class="label label-success margin-right">A few weeks &nbsp; &nbsp; {{item.order_ymd}}</span>
                              <span class="label border-red margin-right"><i class="fa fa-won"></i> {{item.total_atm |number}}</span>
                              <span class="label border-transparent">account: &nbsp; <strong>{{item.account}}</strong></span>
                            </p>
                          </div>
                        </li>
                      </ul>
                  </ng-container>
                  <ng-template #noneOrder>
                    <h2 style="text-align: center;">
                        <i class="fa fa-exclamation"></i>
                        <p>{{'WARNING-NO-RECENT-ORDERS' | i18n}}!</p>
                      </h2>
                  </ng-template>
                </ng-template>
            </section>
          </div>
      </section>
  </div>
  <div class="row recent">
    <section class="col-sm-6">
        <div class="well well-sml">
            <section class="header">
                <p>
                  <span>Quarterly sales</span>
                  <i class="fa fa-refresh" (click)="onRefresh('sales')"></i>
                </p>
            </section>
            <section class="body" style="height: 360px; padding: 0; position: relative; top: 40px;">
              <ng-container *ngIf="ShowLoading.quarterlySale">
                <div class="loading center-loading">
                  <img src="/assets/img/loading-red.gif"> Please wait...
              </div>
              </ng-container>
              <div id="quarterSales" style="height: 320px;"></div>
            </section>
        </div>
    </section>
    <section class="col-sm-6">
        <div class="well well-sml">
            <section class="header">
                <p>
                  <span>Purchase definite sales</span>
                  <i class="fa fa-refresh" (click)="onRefresh('financial')"></i>
                </p>
            </section>
            <section class="body" style="height: 360px;">
              <ng-container *ngIf="ShowLoading.fixedFinancial">
                <div class="loading center-loading" style="left: 43%;">
                  <img src="/assets/img/loading-red.gif"> Please wait...
              </div>
              </ng-container>
              <div id="FixedFinancialstatistics" style="height: 320px;"></div>
          </section>
        </div>
    </section>
</div>
</div>