<section class="top">
  <div class="container">
    <div class="row header">
      <div class="col-lg-6 col-md-5 col-sm-4 col-xs-4">
          <a href="/" >
        <img src="/assets/img/crm/beye-logo.png" />
            </a>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <a href="http://itbrown.com/" >
              <img src="/assets/img/crm/itbrown.png" />
              </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a href="https://atmaneuler.com/" >
            <img src="/assets/img/crm/atmaneuler.png" />
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 login">
          <ul class="social">
            <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
            <li><a routerLink="/auth/login">login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-lg-8 col-md-8 col-sm-8 text">
        <div class="title">
          비즈니스는 BeyeBook과
          시작해야 합니다.
        </div>
        <div class="short">
          <p>
            사업의 모든 History 관리는 성공을 위한 필수 조건입니다.<br>
            기본 Data만 입력하세요. 사업성공에 필요한 Value Information을<br>
            자동으로 생성하고 보고합니다.
          </p>
          <p>
            단순하면서도 강력한 CRM 솔류션 BeyeBook <sub style="color:#00b0f0">비아이북</sub> 과 함께<br>
            선진화된 비즈니스를 체험하십시오.
          </p>
          <a class="btn btn-info" href="http://demo.beyebook.com/" style="margin-top: 15px;">GO TO DEMO</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 form">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="smart-form client-form">
          <fieldset>
            <p style="color: white;padding-bottom: 15px;">Create account</p>
            <section>
              <label class="input" [ngClass]="{ 'state-error': submitted && f.email.errors }">
                <i class="icon-prepend fa fa-envelope"></i>
                <input type="email" name="email" formControlName="email" [(ngModel)]="model.email" autocomplete="off"
                  placeholder="Email">
                <div *ngIf="submitted && f.email.errors">
                  <span *ngIf="f.email.errors.required" class="text-danger">Email is required</span>
                  <span *ngIf="f.email.errors.pattern" class="text-danger">Email must be a valid email
                    address</span>
                </div>
              </label>
            </section>

            <section>
              <label class="input" [ngClass]="{ 'state-error': submitted && f.fullname.errors }">
                <i class="icon-prepend fa fa-user"></i>
                <input type="text" name="fullname" formControlName="fullname" [(ngModel)]="model.fullname" autocomplete="off"
                  placeholder="Full name">
                <div *ngIf="submitted && f.fullname.errors">
                  <span *ngIf="f.fullname.errors.required" class="text-danger">Full Name is required</span>
                  <span *ngIf="f.fullname.errors.maxLength" class="text-danger">Full Nameks must be less than 100
                    characters</span>
                </div>
              </label>
            </section>

            <section>
              <label class="input" [ngClass]="{ 'state-error': submitted && f.username.errors }">
                <i class="icon-prepend fa fa-user"></i>
                <input type="text" name="username" formControlName="username" [(ngModel)]="model.username" autocomplete="off"
                  placeholder="User Id">
                <div *ngIf="submitted && f.username.errors">
                  <span *ngIf="f.username.errors.required" class="text-danger">Username is required</span>
                  <span *ngIf="f.username.errors.minlength" class="text-danger">Username must be at least 3
                    characters</span>
                  <span *ngIf="f.username.errors.maxLength" class="text-danger">Username must be less than 50
                    characters</span>
                </div>
              </label>
            </section>

            <section>
              <label class="input" [ngClass]="{ 'state-error': submitted && f.password.errors }">
                <i class="icon-prepend fa fa-lock"></i>
                <input type="password" name="password" formControlName="password" [(ngModel)]="model.password" (change)="onPasswordInputChanged()"
                  autocomplete="off" placeholder="Password">
                <div *ngIf="submitted && f.password.invalid">
                  <span *ngIf="f.password.errors.required" class="text-danger">Password is required</span>
                  <span *ngIf="f.password.errors.minlength" class="text-danger">Password must be at least 3
                    characters</span>
                  <span *ngIf="f.password.errors.maxLength" class="text-danger">Password must be less than 50
                    characters</span>
                </div>
              </label>
            </section>

            <section>
              <label class="input" [ngClass]="{ 'state-error': submitted && f.confirmPassword.errors }">
                <i class="icon-prepend fa fa-lock"></i>
                <input type="password" name="confirmPassword" [readonly]="isReadOnly" formControlName="confirmPassword"
                  [(ngModel)]="model.confirmPassword" autocomplete="off" placeholder="Confirm password">
                <div *ngIf="submitted && f.confirmPassword.invalid">
                  <span *ngIf="f.confirmPassword.errors.required" class="text-danger">Confirm Password is required</span>
                  <span *ngIf="f.confirmPassword.errors.minlength" class="text-danger">Confirm Password must be at
                    least 3
                    characters</span>
                  <span *ngIf="f.confirmPassword.errors.UnmatchedPassword " class="text-danger">Password and Confirm
                    Password are not matched</span>
                </div>
              </label>
            </section>
          </fieldset>
          <footer>
            <button type="submit" class="btn btn-danger">
              SUBMIT TO GET STARTED FREE
            </button>
          </footer>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="middle-1">
  <div class="container">
    <div class="row">
      <div class="title">
          WHY CRM?
      </div>
      <img src="/assets/img/crm/hr.png" />
      <div class="short">
          기업의 비즈니스에서 CRM이 요구되는 이유는 명백합니다.<br>
          BeyeBook을 이용하여 비즈니스의 가치를 높이세요. 
      </div>
      <div class="value-number">
        <div class="col-lg-2">
          <p class="number"><span class="auto-counter" data-count="300">0</span><span> %</span></p>
          <p class="text">리드전환율 향상</p>
        </div>
        <div class="col-lg-2">
            <p class="number"><span class="auto-counter" data-count="41">0</span><span> %</span></p>
            <p class="text">영업사원별 수익증가</p>
        </div>
        <div class="col-lg-2">
            <p class="number"><span class="auto-counter" data-count="27">0</span><span> %</span></p>
            <p class="text">고객유지의 향상</p>
        </div>
        <div class="col-lg-2">
            <p class="number"><span class="auto-counter" data-count="24">0</span><span> %</span></p>
            <p class="text">영업판매주기 감소</p>
        </div>
        <div class="col-lg-2">
            <p class="number"><span class="auto-counter" data-count="23">0</span><span> %</span></p>
            <p class="text">영업 ∙ 마케팅비용 감소</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="middle-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 text">
        <p class="title">
          연락처 중심의 상호작용과 활동에 대한
          타임라인을 구성하고 통합하십시오 
        </p>
        <p class="short">
          잠재고객이나 기존고객, 파트너, 에이전트, 담당자 등의 연락처를
           중심으로 고객 ∙ 새로운 영업기회 ∙ 프로젝트 ∙ 수주계약 ∙ 원가 ∙
           비용 등 관련된 모든 상호작용을 연동하고 구성하고 통합된 활동
           기반을 형성합니다. 모든 구성의 활동과 연결된 통화, 이메일, 회
           의, 이슈 등의 모든 이벤트에 대한 타임라인을 완성하여 추가 활
           동을 계획하고 통합하여 최초 고객발굴부터 계약완료까지 모든
           History를 추적 ∙ 관리할 수 있는 체계적인 비즈니스 플랫폼을 제
           공합니다. 
        </p>
      </div>
      <div class="col-lg-6 col-md-6 relationship">
        <img src="/assets/img/crm/middle-2-relationship.png" />
      </div>
    </div>
  </div>
</section>
<section class="middle-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 relationship">
        <img src="/assets/img/crm/middle-3-relationship.png" />
      </div>
      <div class="col-lg-6 col-md-6 text">
        <p class="title">
          모든 대고객 활동을 조명하고 드릴다운하여 계획 ∙ 피드백하십시오
        </p>
        <p class="mini-title">Information Windows - IW Dashboard</p>
        <p class="short">
          회사 임직원의 모든 활동정보, 가능성 있는 영업기회 및
          매출추이정보, 매출을 위한 정확한 고객사 및 담당자 정보 매칭
          등, 매출 창출을 위한 모든 정보를 IW를 통해 제공됩니다.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="middle-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 text">
          <p class="title">
              LET’S GET IT STARTED FREE 
              in BeyeBook
          </p>
          <p class="short">
              비아이북의 안내에 따라 기본설정을 마친 후 회사의 고유한 상
              황에 최적화된 비아이북만의 강력하고 선진화된 비즈니스를 체
              험할 수 있습니다. 비아이북은 전문화된 CRM 비즈니스 솔루션
              입니다.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 relationship">
          <img src="/assets/img/crm/middle-4-home.png" />
        </div>
      </div>
    </div>
  </section>
<section class="middle-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 relationship">
        <img src="/assets/img/crm/middle-5-dashboard.png" />
      </div>
      <div class="col-lg-6 col-md-6 text">
          <p class="title">
              데이터관리 ∙ 소프트웨어개발 IT의 모
              든 것을 지원하고 제공해드립니다.
          </p>
          <p class="short">
              글로벌 최신 IT기술 기반의 CRM ∙ MES ∙ ERP ∙ EIS ∙ BI ∙
              Mobile APP ∙ IoT ∙ Homepage ∙ Shopping-mall 등 모든 IT
              솔류션을 제공합니다. 
          </p>
          <a class="btn btn-info atmaneuler"  href="https://atmaneuler.com/" >Go to ATMANEULER</a>
          <a class="btn btn-info itbrown"  href="https://itbrown.com/" >Go to iTBROWN</a>
      </div>
    </div>
  </div>
</section>
<section class="footer">
    <div class="container">
      <div class="row">
        <p>ⓒ 2019 BeyeBook</p>
        <p>서비스 이용약관</p>
        <p>개인정보처리방침</p>
        <div class="social">
            ㈜아이티브라운 | 대표자: 황성훈 | 개인정보책임자: 이관우<br>
            사업자등록번호: 123-45-12345 | TEL  02-582-8766<br>
            서울특별시 송파구 법원로 127, 문정대명밸리온 1301호<br>
            <ul>
                <li><a href="javascript:;"><i class="fa fa-tumblr"></i></a></li>
                <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
                <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
                <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
              </ul>
        </div>
      </div>
    </div>
  </section>