section{
    width:100%;
    color: white;
}
/* .top .container{width:100%} */
section.top{
background-image: url('/assets/img/crm/header.png');
background-size: cover;
}
.header{
    padding: 30px 0;
}
ul.social{
    list-style: none;
    padding: 0;
}
ul.social li{
    display: inline;
}
ul.social li a{
    /* color: white;
    padding: 0px 10px; */
    color: white;
    padding: 0px 9%;
    display: inline-block;
    border-right: 1px solid;
    line-height: 12px;
}
ul.social li:last-child a{
    border: none;
}
.content .title{
    font-size: 40px;
    width: 455px;
    font-weight: bold;
    padding-bottom: 70px;
}
.smart-form fieldset{
    background: none;
}
.smart-form footer{
    border: none;
    background: none;
}
.smart-form section {
    margin-bottom: 14px;
}
.top .content{
    /* padding: 120px; */
    padding: 10%;
}
.smart-form footer .btn{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 31px;
    background-color: #f0483e;
    border: #f0483e;
    font-size: 11px;
}
.smart-form fieldset input{
    border-radius: unset !important;
}
.text .short p{
    font-size: 15px;
}
/* section.middle-1{
    height: 700px;
} */
.middle-1 .title{
    color:#595959;
    font-size: 43px;
    font-weight: bold;
}
.middle-1 .short{
    color:#7f7f7f;
    font-size: 18px;
}
.middle-1 .row{
    text-align: center;
    padding: 90px 0;
}
.middle-1 img{
    padding: 25px 0;
}
.middle-1 .value-number{
    padding-top: 120px;
}
.middle-1 .value-number .number{
    color: #007bff;
    font-size: 45px;
    font-weight: bold;
}
.middle-1 .value-number .text{
    color: #595959;
    font-size: 15px;
}
/* .middle-1 .value-number .col-lg-2{
    width: 20%;
} */
.middle-2,.middle-4{
    background-color: #f5f5f5; 
}
.middle-2 .container .row,
.middle-3 .container .row{
    padding: 80px 0 70px;
}
.footer{
    padding: 50px 0 70px;
}
.middle-4 .container .row,
.middle-5 .container .row{
    padding: 80px 0 90px;
}
.middle-2 .text .title,
.middle-3 .text .title,
.middle-4 .text .title,
.middle-5 .text .title{
    color:#595959;
    font-size: 26px;
    font-weight: bold;
    width: 450px;
    padding-bottom: 35px;
}
.middle-2 .text .short,
.middle-3 .text .short,
.middle-4 .text .short,
.middle-5 .text .short{
    color:#7f7f7f;
    font-size: 15px;
    width: 431px;
    text-align: justify;
}
.middle-3 .text .mini-title{
    color:#595959;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 35px;
}
.middle-3 .text .short{
    letter-spacing: 1px;
}
.middle-4 .text .title{
    width: 345px;
}
.middle-4 .text .short{
    width: 418px;
}
.middle-5 .text .short{
    letter-spacing: 0.5px;
}
.middle-5 .atmaneuler{
    background-color: #a90329;
    border-color: #900323;
    margin-top: 20px;
    margin-right: 20px;
}
.middle-5 .itbrown{
    background-color: #680522;
    border-color: #680522;
    margin-top: 20px;
    width: 145px;
}
.footer{
    background-color: #373737;
    color: #a6a6a6;
}
.footer p, .footer .social{
    display: inline-block;
    vertical-align: text-top;
    min-width: 200px;
}
.footer .social ul{
    list-style: none;
}
.footer .social ul li{
    float: left;
    padding: 10px;
    cursor: pointer;
}
.footer .social ul li a{
    color: #a6a6a6;
}
@media (max-width: 768px)
{
    .middle-1 .value-number .col-lg-2 {
        width: 100%;
        float: left;
    }
    .top .content .title{
        margin: 0 auto;
    }
    .top .content .short{
        width: 440px;
        margin: 0 auto;
    }
    .top .content .form{
        width: 100%;
    }
    .top .content .form .smart-form{
        width: 66%;
        margin: 0 auto;
    }
}
@media (max-width: 992px)
{
    .middle-2 .text{
        margin-bottom: 65px;
    }
    .middle-2 .text .title,.middle-2 .text .short{
        margin: 0 auto 9px;
    }
    .middle-2 .relationship{
        text-align: center;
    }
    .header .social{
        padding: 0;
    }
    .top .content{
        padding: 0;
    }
    .top .login{
        padding: 0;
    }
}
@media (min-width: 768px)
{
    .middle-1 .value-number .col-lg-2 {
        width: 33%;
        float: left;
    }
}
@media (min-width: 992px)
{
    .middle-1 .value-number .col-lg-2 {
        width: 20%;
        float: left;
    }
}