<!-- [saUiValidate]="resetValidationOptions" -->
<form #frmChangePass="ngForm" (ngSubmit)="frmChangePass.form.valid && onSubmit()" class="smart-form" novalidate="novalidate">
  <fieldset>
    <section>
      <div class="row">
        <label class="label col col-4">Current Password</label>

        <div class="col col-8">
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input type="password" name="password" [(ngModel)]="model.password" required />
          </label>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <label class="label col col-4">New Password</label>

        <div class="col col-8">
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input type="password" [(ngModel)]="model.new_password" name="new_password" id="newPass" required>
          </label>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <label class="label col col-4">Confirm Password</label>
        <div class="col col-8">
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
            <input type="password" [(ngModel)]="model.confirm_password" name="confirm_password" required>
          </label>
        </div>
      </div>
    </section>
  </fieldset>

  <footer>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </footer>
</form>
