/* .col.header{padding: 0 5px}
label.input{padding: 0}
.contract .contract-name{
    margin: 0;
    display: inline;
    font-size: 14px;
    position: relative;
    top: 1px;
    padding: 0 6px;}
.contract .content{top: -20px;}
.center-loading{
    z-index: 99999;
    position: relative;
    left: 22%;
    top: 40%;
    text-align: center;
    color: #a90329;
    width: 200px;
}
.status{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.status .well{border-radius: 5px;}
.status h5{margin: 5px;font-weight: 400;}
.status .amount{font-size: 30px;} */