<div id="content">
  <div class="well well-sm">
      <div class="row">
        <section class="col-lg-8">
            <div class="col col-lg-2 header">
                <label class="input col-lg-12">
                    <select select2 class="select2" name="sales_status_gen_cd" required [(ngModel)]="year"
                    [defaultVal]="year" style="width:100%" (onSelectedChange)="onDateChange('year')">
                      <option *ngFor="let item of years" value="{{item.val}}">{{item.text}}</option>
                    </select>
                  </label>
            </div>
            <div class="col col-lg-2 header">
                <label class="input col-lg-12">
                    <select select2 class="select2" name="sales_status_gen_cd" required [(ngModel)]="month"
                    [defaultVal]="month" style="width:100%" (onSelectedChange)="onDateChange('month')">
                      <option value="0">Monthly</option>
                      <option *ngFor="let item of months" value="{{item.val}}">{{item.text}}</option>
                    </select>
                  </label>
            </div>
                  <div class="col col-lg-1" style="padding: 0;width: 150px;">
                      <button type="button" class="btn btn-default dropdown-toggle col-lg-12" data-toggle="dropdown" tabindex="-1">
                          <i class="fa fa-filter"></i>&nbsp;&nbsp;
                          {{admin_selected.nm}}
                        </button>
                      <ul class="dropdown-menu running-task" role="menu">
                          <li >
                              <a href="javascript:void(0);" (click)="onAMChange('0','all')">
                                <i class="fa fa-user"></i> AM All
                              </a>
                              </li>
                          <li *ngFor="let item of users">
                            <a href="javascript:void(0);" (click)="onAMChange(item.user_id,item.user_nm)">
                              <i class="fa fa-user"></i> {{item.user_nm}}
                            </a>
                            </li>
                        </ul>
                  </div>
              <div class="col col-lg-2 header" style="padding-right: 0;">
                  <div class="input-group">
                      <input [(ngModel)]="contractName" (keypress)="checkKeycode($event)" class="form-control input-sm col col-lg-7"
                          onclick="this.select()" placeholder="Search contract name...">
                      <span class="input-group-addon" style="padding: 0; top: 0px; position: relative; left: -4px; border: none;">
                          <button type="button" class="col col-lg-3" style="padding-bottom: 4px;" (click)="search()"
                              class="btn btn-default">
                              <i class="fa fa-search"></i>
                          </button>
                      </span>
                  </div>
              </div>
        </section>
      </div>
  </div>
  <div class="row status">
      <div class="col-sm-3">
        <div class="well well-sm txt-color-white text-center" style="background-color:#fbbd08;">
            <ng-container *ngIf="ShowStatus1LoadingCenter; else showStatus1">
                <div class="loading center-loading">
                  <img src="/assets/img/loading-red.gif"> Please wait...
              </div>
              </ng-container>
              <ng-template #showStatus1>
                  <p class="amount">{{listContract.length | number}}</p>
                  <h5>NUMBER OF CONTRACTS</h5>
              </ng-template>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well well-sm txt-color-white text-center" style="background-color:#2185d0;">
            <ng-container *ngIf="ShowStatus2LoadingCenter; else showStatus2">
                <div class="loading center-loading">
                  <img src="/assets/img/loading-red.gif"> Please wait...
              </div>
              </ng-container>
              <ng-template #showStatus2>
                  <p class="amount">{{sumContractOrder | number}}</p>
                  <h5>SALES</h5>
              </ng-template>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well well-sm  txt-color-white text-center" style="background-color:#db2828;">
          <ng-container *ngIf="ShowStatus3LoadingCenter; else showStatus3">
            <div class="loading center-loading">
              <img src="/assets/img/loading-red.gif"> Please wait...
          </div>
          </ng-container>
          <ng-template #showStatus3>
              <p class="amount">{{sumContractCostOrder | number}}</p>
              <h5>GROSS PROFIT ON SALES</h5>
          </ng-template>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="well well-sm bg-color-darken txt-color-white text-center">
              <ng-container *ngIf="ShowStatus4LoadingCenter; else showStatus4">
                  <div class="loading center-loading">
                    <img src="/assets/img/loading-red.gif"> Please wait...
                </div>
                </ng-container>
                <ng-template #showStatus4>
                    <p class="amount">{{contractPercent}} %</p>
                    <h5>PROFIT RATE</h5>
                </ng-template>
          </div>
      </div>
  </div>
  <section class="statitics">
    <div class="well well-sm">
        <i class="fa fa-list"></i>
        <h3 class="header"> {{this.year}}</h3>
      </div>
    <article class="smart-form">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
          <!-- widget div-->
          <div class="col col-lg-12 content">
            <ng-container *ngIf="ShowStatisticLoadingCenter; else elseTemplate">
                <div class="show-loading"> 
                    <img class="center"
                    src="/assets/img/loading-red.gif">
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <h4 *ngIf="!ShowStatisticLoadingCenter && !listContract.length" class="center">NO DATA</h4>
            </ng-template>
            <div id="AMstatistics" style="width: 100%;height: 320px;top: 12px;"></div>
          </div>
        </div>
      </article>
</section>
  <section class="margin-top statitics">
      <div class="well well-sm">
          <i class="fa fa-list"></i>
          <h3 class="header"> {{this.year}}</h3>
        </div>
      <article class="smart-form">
          <div class="jarviswidget" data-widget-editbutton="false" data-widget-deletebutton="false">
            <!-- widget div-->
            <div class="col col-lg-12 content">
                <div class="widget-body no-padding" style="min-height:0px;margin: 0;">
										<div class="table-responsive">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>{{'AM-STATISTICS-TBL-NO' | i18n}}</th>
														<th>{{'AM-STATISTICS-TBL-CONTRACT-DATE' | i18n}}</th>
														<th>{{'AM-STATISTICS-TBL-CONTRACT-END-DATE' | i18n}}</th>
														<th>{{'AM-STATISTICS-TBL-ADMIN' | i18n}}</th>
														<th>{{'AM-STATISTICS-TBL-CONTRACT-NAME' | i18n}}</th>
														<th>{{'AM-STATISTICS-TBL-SALES-NAME' | i18n}}</th>
														<th>{{'AM-STATISTICS-TBL-SALES-DIVISION' | i18n}}</th>
														<th>{{'AM-STATISTICS-TBL-AMOUNT' | i18n}}</th>
													</tr>
												</thead>
												<tbody>
                          <tr *ngFor="let item of listContract;let idx = index" 
                          [ngStyle]="{'background': item.src_order_type ? 'transparent' : '#fff6f6','color': item.src_order_type ? '#666' : '#9f3a38'}">
														<td style="text-align:center;width: 30px">{{idx+1}}</td>
														<td>{{item.contract_start_ymd}}</td>
														<td>{{item.contract_end_ymd}}</td>
														<td>{{item.sales_admin}}</td>
														<td><a routerLink="/crm-contract-detail/{{item.contract_id}}">{{item.contract_nm}}</a></td>
														<td><a routerLink="/opportunity-detail/{{item.salesopt_id}}">{{item.salesopt_nm}}</a></td>
														<td>{{item.salesopt_type_nm}}</td>
														<td>$ {{item.contract_amt | number}}</td>
													</tr>
												</tbody>
											</table>
											
										</div>
									</div>
            </div>
          </div>
        </article>
  </section>
</div>
