<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Register-Authority-Group-Title']" icon="user-plus" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-4">
        <div sa-widget color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>{{'REGISTER-AUTHORITY-GROUP-EDIT'|i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && onSubmit()" class="smart-form atman-form-small frm-detail"
                novalidate="novalidate" [saUiValidate]="validationOptions">
                <fieldset>
                  <input type="hidden" name="author_group_id" [(ngModel)]="detailInfo.author_group_id" />
                  <div class="row">
                    <section class="col col-3">
                      <label class="label">{{'ENTRY-DATE' | i18n}}</label>
                      <label class="input state-disabled">
                        <input type="text" class="center" name="entry_date" [value]="detailInfo.created_time.split(' ')[0]" autocomplete="off"
                          disabled />
                      </label>
                    </section>
                    <section class="col col-3">
                      <label class="label">{{'ENTRY-MEMBER' | i18n}}</label>
                      <label class="input state-disabled">
                        <input type="text" class="center" name="entry_member" [value]="detailInfo.creator" autocomplete="off"
                          disabled />
                      </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">{{'company' | i18n}}</label>
                        <label class="input">
                          <select name="company_id" [(ngModel)]="detailInfo.company_id" [defaultVal]="detailInfo.company_id"
                          [disabled]="!userService.isSystemCompany()" (onSelectedChange)="onChangeCompany($event)" select2 required style="width:100%;" class="select2 required" placeHolder="Select company">
                            <option *ngFor="let s of companies" value={{s.company_id}}>{{s.company_eng_nm}}</option>
                          </select>
                        </label>
                      </section>
                  </div>

                  <div class="row">
                    <section class="col col-6">
                      <label class="label">{{'GROUP-NAME' | i18n}}</label>
                      <label class="input">
                        <i class="icon-append fa fa-book"></i>
                        <input type="text" name="author_group_nm" [(ngModel)]="detailInfo.author_group_nm" autocomplete="off"
                          required />
                      </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">{{'USE-YN' | i18n}}</label>
                        <label class="input">
                          <label class="checkbox">
                            <input type="checkbox" name="use_yn" [(ngModel)]="detailInfo.use_yn" checked="detailInfo.use_yn">
                            <i></i>Active
                          </label>
                        </label>
                      </section>
                  </div>
                  <section>
                      <label class="label">{{'DESCRIPTION' | i18n}}</label>
                      <label class="input">
                        <input type="text" name="remark" [(ngModel)]="detailInfo.remark" autocomplete="off" />
                      </label>
                    </section>
                </fieldset>

                <footer>
                    <button type="button" name="btnCloseProgram" (click)="onCloseProgram()" class="btn btn-close">
                        <i class="fa fa-times"></i>
                        {{'button-close' | i18n}}
                    </button>
                  <button type="button" (click)="onReset(frmDetail)" name="reset" class="btn btn-default btn-xs edit-program">
                    <i class="fa fa-refresh"></i>
                    {{'BUTTON-RESET' | i18n}}
                  </button>
                  <button type="submit" [disabled]="!this.permission.canSave" name="submit" class="btn btn-primary btn-xs edit-program">
                    <i class="fa fa-save"></i>
                    {{'BUTTON-SAVE' | i18n}}
                  </button>
                </footer>

              </form>
            </div>
          </div>
        </div>
      </article>
        <article class="col-sm-8">
          <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
            <header>
              <span class="widget-icon">
                <i class="fa fa-list"></i>
              </span>
              <h2>{{'REGISTER-AUTHORITY-GROUP-LIST'|i18n}}</h2>
            </header>
            <div>
              <div class="widget-body no-padding">
                <sa-datatable [options]="options" (rowClick)="onRowClick($event)" paginationLength="true" filter="true"
                  tableClass="table table-striped table-condensed table-hover table-bordered">
                  <thead>
                    <tr class="heading">
                      <th>{{'GROUP-CODE' | i18n}}</th>
                      <th>{{'GROUP-NAME' | i18n}}</th>
                      <th>{{'USE-YN' | i18n}}</th>
                      <th>{{'DESCRIPTION' | i18n}}</th>
                    </tr>
                    <tr>
                      <th class="hasinput">
                        <input type="text" class="form-control" placeholder="Filter Code" />
                      </th>
                      <th class="hasinput">
                        <input type="text" class="form-control" placeholder="Filter Name" />
                      </th>
                      <th class="hasinput">
                        <select id="filerByUseYN" class="form-control select-filter">
                          <option value="">All</option>
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                        </select>
                      </th>
                      <th class="hasinput">
                        <input type="text" class="form-control" placeholder="Filter Description" />
                      </th>
                    </tr>

                  </thead>
                </sa-datatable>
              </div>
            </div>
          </div>
        </article>
      </div>
  </sa-widgets-grid>
</div>