.custom-sharing{padding-right: 0;top: -3px;width: 100%}
.clearSelected{
    background-color: #b7132d;
    color: white;
    border: 1px solid #b7132d;
}

.custom-header-sharing{
    margin-bottom: 14px;
    /* margin-top: 45px; */
    color: #07480a;
    top: 39px;
    position: relative;
}
.custom-sharing a{float: right;margin:5px 0;padding: 1px 5px;}
