<form class="smart-form frm-detail" #frmDetail="ngForm" novalidate="novalidate" (ngSubmit)="frmDetail.form.valid && onSubmit()"  [saUiValidate]="validationOptions">
  <fieldset style="padding:0">
    <div class="col col-lg-7" style="padding: 20px 25px 25px;min-height: 437px;">
      <section><h5 style="margin-bottom: 12px;">{{'CONTRACT-LB-EDIT-BASIC-INFORMATION' | i18n}}</h5></section>
        <section class="col-lg-12">
            <label class="label">{{'CONTRACT-EDIT-NAME'|i18n}}</label>
            <label class="input col-lg-12">
              <input type="text" class="title-input none-boder-left" onclick="this.select()" required placeholder="Please enter title" name="contract_nm" [(ngModel)]="contractInfo.contract_nm"
                autocomplete="off" />
            </label>
          </section>
          <section class="col-lg-12">
            <div class="col col-4" style="padding-left: 0">
              <label class="label">{{'CONTRACT-EDIT-START-DATE'|i18n}}</label>
              <label class="input"> <i class="icon-append fa fa-calendar"></i>
                <input type="text" required name="contract_start_ymd" [(ngModel)]="contractInfo.contract_start_ymd" class="start-ymd-datepicker"
                  autocomplete="off">
              </label>
            </div>
            <div class="col col-4" style="padding-right: 0;">
              <label class="label">{{'CONTRACT-EDIT-END-DATE'|i18n}}</label>
              <label class="input"> <i class="icon-append fa fa-calendar"></i>
                <input type="text" required name="contract_end_ymd" [(ngModel)]="contractInfo.contract_end_ymd" class="end-ymd-datepicker"
                  autocomplete="off">
              </label>
            </div>
            <div class="col col-4" style="padding-right: 0; padding-left: 30px;">
              <label class="label">{{'CONTRACT-EDIT-CONTRACT-AMOUNT'|i18n}}</label>
              <label class="input col-lg-12">
                  <input type="text" required currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" style="text-align:right" class="title-input none-boder-left" placeholder="0" onclick="this.select()" name="contract_amt" [(ngModel)]="contractInfo.contract_amt"
                    autocomplete="off" />
                </label>
            </div>
          </section>
          <section class="col-lg-12">
            <label class="label">{{'CONTRACT-EDIT-CONTENT'| i18n}}</label>
            <label class="textarea">
              <textarea rows="4" name="content_text" required [(ngModel)]="contractInfo.content_text" class="custom-scroll"></textarea> 
            </label>
            <div class="note">
            </div>
          </section>
          <section class="col-lg-12 sharing" style="margin-bottom:0;height: 121px;">
              <!--sharing here-->
              <sa-sharing-info (outputData)="sharingToSelected($event)" [sharedData]="contractInfo.sharing_to"></sa-sharing-info>
          </section>
    </div>
    <div class="col col-lg-5" style="padding: 20px 25px 25px;">
      <section><h5 style="margin-bottom: 12px;">{{'CONTRACT-LB-EDIT-ORDER-INFORMATION' | i18n}}</h5></section>
      <section class="col-lg-12">
        <label class="label">{{'CONTRACT-EDIT-ORDER-NAME'|i18n}}</label>
        <label class="input col-lg-12">
          <input type="text" class="title-input" readonly placeholder="Please enter title" name="order_nm" [(ngModel)]="contractInfo.order_nm"
            autocomplete="off" />
        </label>
      </section>
      <section class="col-lg-12">
        <label class="label">{{'CONTRACT-EDIT-ACCOUNT'|i18n}}</label>
        <label class="input col-lg-12">
          <input type="text" class="title-input" readonly placeholder="Please enter title" name="order_account" [(ngModel)]="contractInfo.order_account"
            autocomplete="off" />
        </label>
      </section>
      <section class="col-lg-12">
        <div class="col col-6" style="padding-left: 0">
          <label class="label">{{'CONTRACT-EDIT-FEW-WEEK'|i18n}}</label>
          <label class="input"> <i class="icon-append fa fa-calendar"></i>
            <input type="text" readonly name="order_date" [(ngModel)]="contractInfo.order_date" class="order-ymd-datepicker" disabled
              autocomplete="off">
          </label>
        </div>
        <div class="col col-6" style="padding-right: 0;padding-left: 6px;">
          <label class="label">{{'CONTRACT-EDIT-ORDER-AMOUNT'|i18n}}</label>
          <label class="input col-lg-12">
              <input type="text" readonly class="title-input" style="text-align:right" placeholder="0" name="order_amt"
              value="{{contractInfo.order_amt | number}}"
                autocomplete="off" />
            </label>
        </div>
      </section>
      <section class="col-lg-12" style="text-align: right; padding: 0 13px 0 0; top: 157px;">
          <button type="button" (click)="onReset()" name="reset" style="margin:0 5px 0 0" class="btn btn-default btn-xs btn-reset float-none">
            <i class="fa fa-refresh"></i>
            {{'button-reset' | i18n}}
          </button>
          <button type="submit" name="submit" style="margin:0 5px 0 0" class="btn btn-primary btn-xs btn-save float-none">
            <i class="fa fa-save"></i>
            {{'button-save' | i18n}}
         </button>
         <button type="button" name="delete" (click)="onDelete()" style="margin:0 5px 0 0" *ngIf="contractInfo.contract_id > 0" class="btn btn-danger btn-xs btn-delete float-none">
            <i class="fa fa-trash-o"></i>
            {{'button-delete' | i18n}}
          </button>
          <button type="button" name="close" (click)="ClosePopup()" class="btn btn-xs btn-close float-none">
              <i class="fa fa-remove"></i>
              {{'button-close' | i18n}}
            </button>
      </section>
    </div>
    
  </fieldset>
</form>