<ng-container *ngIf="ShowLoadingCenter; else showdata">
    <div class="loading center-loading">
      <img src="/assets/img/loading-red.gif"> Please wait...
  </div>
  </ng-container>
  <ng-template #showdata>
      <ng-container *ngIf="supportInfo.length; else noneSupport">
          <div class="well well-sm" style="overflow: auto; max-height: 400px;">
              <!-- <div class="col col-lg-12" style="position: relative; z-index: 2;line-height: 30px;">
                  <span class="label label-danger">{{total}} case</span>
              </div> -->
              <div class="smart-timeline">
                <ul class="smart-timeline-list">
                  <li *ngFor="let item of supportInfo;let idx = index">
                    <div class="smart-timeline-icon">
                      <div class="index" (click)="openPopup(item)">
                          <span><i class="fa fa-tasks"></i></span>
                      </div>
                    </div>
                    <div class="smart-timeline-time">
                      <small>{{item.created_time}}</small>
                    </div>
                    <div class="smart-timeline-content custom-span">
                      <span class="custom-tooltip" tooltip="{{item.created_time | moment:'YYYY-MM-DD HH:mm'}}"
                        placement="left">{{item.created_time| amTimeAgo}}</span>
                      <p>
                        <a href="javascript:void(0);" style="padding: 0 15px 0 0"><strong>{{item.creator}}</strong></a>
                        <span class="label label-success">{{item.project_task_type_nm}}</span>
                        <span class="label label-default">Date: {{item.start_ymd}}</span>
                        <span class="label label-default">
                            <i class="fa fa-user"></i>
                          <span *ngFor="let items of item.project_task_person">
                            <span *ngIf="items.project_task_type_nm !==''">
                                {{items.person_nm}}
                            </span>
                          </span>
                        </span>
                        <span class="label border-transparent"><i class="fa fa-clock-o"></i> {{item.work_hour}}h:{{item.work_minute}}m {{item.work_unit_gen_nm}}</span>
                      </p>
                      <div style="cursor:pointer">
                        <div  *ngIf="idx !== indexExpand" (click)="Expand(idx)" data-maxlength="100" class="content-title" innerHtml="{{item.contents}}"></div>
                        <div *ngIf="idx == indexExpand" (click)="collapse()" [innerHtml]="item.contents">
                      </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- END Timeline Content -->
        
            </div>
        </ng-container>
        <ng-template #noneSupport>
          <h2 style="text-align: center;">
              <i class="fa fa-exclamation"></i>
              <p>{{'ACTIVITY-WARNING-NO-ACTIVITY' | i18n}}!</p>
            </h2>
        </ng-template>
  </ng-template>

<ng-template #popupSupport>
  <sa-popup-modal headerTitle="{{'NEW-ACTIVITY-LB-EDIT-TECHNICAL-SUPPORT' | i18n}}" width="780" height="600" (onClose)="closePopup()">
    <sa-support companyId="{{companyId}}" projectId="{{projectId}}" Id={{Id}} supportJson = {{supportJson|json}}
    Jscontactor="{{contactor|json}}"  Jsuser="{{user|json}}" (childCall)="reloadData($event)"></sa-support>
  </sa-popup-modal>
</ng-template>