<!-- [saUiValidate]="resetValidationOptions" -->
<form #frmChangeAvatar="ngForm" (ngSubmit)="frmChangeAvatar.form.valid && onSubmitAvatar()" class="smart-form" novalidate="novalidate">
    <fieldset>
      <section>
        <div class="row">
          <label class="label col col-4">Choose An Image</label>
          <div class="col col-8">
              <div class="input input-file">
                  <span class="button">
                    <input type="file" id="file" name="file" (change)="onFileChange($event)" accept="image/gif, image/jpeg, image/png">Browse</span>
                    <input type="text" placeholder="Select an image(width >=400px)" readonly="">
                </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div  class="col col-lg-12 text-center">
            <img id="avatarImage" src="" [hidden]='!imageSelected'/>
            <i class='text-sm' [hidden]='!imageSelected'>Press ESC to clear selection</i>
          </div>
        </div>
      </section>
      
    </fieldset>
  
    <footer>
        <button type="button" (click)="cancelChanges()" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]='!imageSelected'>Change Avatar</button>
    </footer>
  </form>
  