.col.header{padding: 0 5px}
label.input{padding: 0}
.margin-top{margin-top: 20px;}
.statitics .well{margin: 0}
.statitics .header{
    margin: 0;
    display: inline;
    font-size: 14px;
    position: relative;
    top: 1px;
    padding: 0 6px;}
.statitics .content{padding: 0;}
.statitics .show-loading{width: 100%; height: 100%; position: absolute; background: white; z-index: 2;}
.statitics .center{margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.statitics .pie1{padding-left: 0}
.statitics .pie3{padding-right: 0}
.pie1 .well{background-color: #21ba45; border: 1px solid #21ba45;color:white}
.pie2 .well{background-color: #db2828; border: 1px solid #db2828;color:white}
.pie3 .well{background-color: #fbbd08; border: 1px solid #fbbd08;color:white}
.pie-list{margin-top: 20px;}
.center-loading{
    z-index: 99999;
    position: relative;
    left: 22%;
    top: 28%;
    text-align: center;
    color: #a90329;
    width: 200px;
}
.status{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.status .well{border-radius: 5px;height: 91px;}
.status h5{margin: 5px;font-weight: 400;}
.status .amount{font-size: 30px;}
.check label.checkbox:hover{cursor: pointer;}
.statitics.column-chart .well{
    background: #717579 linear-gradient(rgba(255,255,255,.35) 0,rgba(255,255,255,.35) 100%);
    background-color: #1b1c1d;
    color: #fff;
}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-middle{vertical-align: middle}
.none-padding-left{padding-left: 0;}
.none-padding-right{padding-right: 0;}
.tbl-fixed-financial td p{height: 15px;}
.tbl-fixed-financial td p:nth-child(2){color: #5BBD72}
.gray-fill{
    background: #e0e0e0;
    border: 1px solid #d2d2d2;
}
.sum-bottom{
    font-size: 12px;
    color: black;
}
.sum-bottom td{vertical-align: middle}
.fixed-finacial-tbl,.fixed-finacial-tbl th{text-align: center}
.fixed-finacial-tbl td:nth-child(2){text-align: left}
.td-mini{
    padding: 5px 10px;
}
.td-mini span{float: left;}
.td-mini .group-name{
    top: 3px;
    position: relative;
    padding-right: 5px;
    font-weight: 600;
}
.label-mini{
    padding: 4px;
    float: left;
    background: #e5e5e5;
    margin: 0;
    font-size: 10px;
}
.color-red{color:red}
.table-custom tr td{vertical-align: middle;}