<div class="find-opp-content">
  <section class="find-opp-header">
    <p id="title">{{'After searching, please select a business name from the list' | i18n}}</p>
    <div class="input-group">
      <input [(ngModel)]="keyWord" name="keyword" (keypress)="checkKeycode($event)" class="form-control input-sm col col-lg-7"
          onclick="this.select()" placeholder="...">
      <span class="input-group-addon" style="padding: 0; border: none;">
          <button type="button" class="col col-lg-3" style="padding-bottom: 4px;" (click)="search()"
              class="btn btn-default">
              <i class="fa fa-search"></i>
          </button>
      </span>
  </div>
  </section>
  <section class="find-opp-middle">
      <div class="table-responsive">
          <table class="table table-bordered custom">
            <thead>
              <tr>
                <th>{{'SALES-NAME'| i18n}}</th>
                <th>{{'CONTRACTOR' | i18n}}</th>
                <th>{{'CUSTOMER' | i18n}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of opportunities" (click)="selectOpportunity(item)">
                <td>{{item.salesopt_nm}}</td>
                <td>{{item.contractor_nm}}</td>
                <td>{{item.customer_nm}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  </section>
  <section class="find-opp-bottom">
    <button type="button" name="close" (click)="closePopup()" class="btn btn-xs btn-close float-none">
        <i class="fa fa-remove"></i>
        {{'button-close' | i18n}}
      </button>
</section>
</div>