<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['position-registration-title']" icon="user-plus" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  


  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-4">
        <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>{{'POSITION-REGISTRATION-EDIT' | i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
                <form #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && onSubmit()" class="smart-form atman-form-small frm-detail" novalidate="novalidate"
                [saUiValidate]="validationOptions">
                <fieldset>
                  <input type="hidden" name="gen_cd" [(ngModel)]="detailInfo.gen_cd" />
                  <input type="hidden" name="cate_cd" [(ngModel)]="cate_cd" />
                  <div class="row">
                    <section class="col col-6">
                      <label class="label">{{'company' | i18n}}</label>
                      <label class="input">
                        <select name="text_value_1" [(ngModel)]="detailInfo.company_id" (ngModelChange)="onChangeCompany($event)"
                        [disabled]="!userService.isSystemCompany()"  select2 required style="width:100%;" class="select2 required" placeHolder="Select company">
                          <option *ngFor="let s of companies" value={{s.company_id}}>{{s.company_eng_nm}}</option>
                        </select>
                      </label>
                    </section>
                    <section class="col col-6">
                        <label class="label">{{'position' | i18n}}</label>
                        <label class="input">
                          <!-- <i class="icon-append fa fa-book"></i> -->
                          <input class="required_input" type="text" name="gen_nm" [(ngModel)]="detailInfo.gen_nm" autocomplete="off" required />
                        </label>
                      </section>
                  </div>
                  <div class="row">
                    <section class="col col-6">
                      <label class="label">{{'use-yn' | i18n}}</label>
                      <label class="input">
                        <label class="checkbox">
                          <input type="checkbox" name="use_yn" [(ngModel)]="detailInfo.use_yn" checked="detailInfo.use_yn">
                          <i></i>Active
                        </label>
                      </label>
                    </section>
                  </div>
                  <section>
                      <label class="label">{{'Description' | i18n}}</label>
                      <label class="textarea">
                        <textarea name="remark" [(ngModel)]="detailInfo.remark" rows="3"></textarea>
                      </label>
                    </section>
                </fieldset>
            
                <footer>
                    <button type="button" name="btnCloseProgram" (click)="onCloseProgram()" class="btn btn-close">
                        <i class="fa fa-times"></i>
                        {{'button-close' | i18n}}
                    </button>
                  <button type="button" (click)="onReset(frmDetail)" name="reset" class="btn btn-default btn-xs edit-program">
                    <i class="fa fa-refresh"></i>
                    {{'button-reset' | i18n}}
                  </button>
                  <button type="submit" [disabled]="!this.permission.canSave" name="submit" class="btn btn-primary btn-xs edit-program">
                    <i class="fa fa-save"></i>
                    {{'button-save' | i18n}}
                  </button>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
      <article class="col-sm-8">
        <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-list"></i>
            </span>
            <h2>{{'POSITION-REGISTRATION-LIST' | i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="options" (rowClick)="onRowClick($event)" paginationLength="true" filter="true"
                tableClass="table table-striped table-condensed table-hover table-bordered">
                <thead>
                  <tr class="heading datatable_title">
                    <th>{{'company' | i18n}}</th>
                    <th>{{'Position' | i18n}}</th>
                    <th>{{'use' | i18n}}</th>
                    <th>{{'description' | i18n}}</th>
                    <th>{{'CREATED-BY' | i18n}}</th>
                    <th>{{'CREATED-DATE' | i18n}}</th>
                    <th>{{'UPDATED-BY' | i18n}}</th>
                    <th>{{'UPDATED-DATE' | i18n}}</th>
                  </tr>
                  <tr class="table_filter">
                    <th class="hasinput table_border_filter">
                      <input type="text" class="form-control" placeholder="" />
                    </th>
                    <th class="hasinput table_border_filter">
                      <input type="text" class="form-control" placeholder="" />
                    </th>
                    <th class="hasinput table_border_filter">
                      <select id="FilterDropdown" class="form-control select-filter">
                        <option value="">All</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </th>
                    <th class="hasinput table_border_filter">
                      <input type="text" class="form-control" placeholder="" />
                    </th>
                    <th class="hasinput table_border_filter">
                        <input type="text" class="form-control" placeholder="" />
                      </th>
                      <th class="hasinput icon-addon table_border_filter">
                        <i class="fa fa-calendar margin-top-5"></i>
                        <input id="date_created" type="text" placeholder="" class="form-control datepicker"
                          [saUiDatepicker]="{}" />
                      </th>
                      <th class="hasinput table_border_filter">
                        <input type="text" class="form-control" placeholder="" />
                      </th>
                      <th class="hasinput icon-addon table_border_filter">
                        <div class="">
                          <i class="fa fa-calendar margin-top-5"></i>
                          <input id="date_updated" type="text" placeholder="" class="form-control datepicker"
                            [saUiDatepicker]="{}" />
                        </div>
                      </th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>