<header id="header">
  <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <!-- <div id="logo_left">
      <img src="assets/img/logo_l1.png?v=2" alt="AtmanEuler"> -->
      <!-- <div>AtmanEuler</div> -->
      <!-- <p>Ability to Make Money</p>  -->
  -->

    <div>
      <img id="logo" src="assets/img/logo-beye.png?v=2" alt="AtmanEuler">
      <img id="logo2" src="assets/img/logo-beye-text.png?v=2" alt="AtmanEuler">
      <!-- <div>AtmanEuler</div> -->
      <!-- <p>Ability to Make Money</p>  -->
    </div> 

    <!-- END LOGO PLACEHOLDER -->

    <!-- Note: The activity badge color changes when clicked and resets the number to 0
    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
    <!-- <sa-activities></sa-activities> -->
  </div>


  <sa-recent-projects></sa-recent-projects>
  <!-- <sa-login-info></sa-login-info> -->
  <sa-clock></sa-clock>
  <sa-latest-news></sa-latest-news>

  <!-- pulled right: nav area -->
  <div class="pull-right">
    <sa-help></sa-help>
    <sa-bookmark></sa-bookmark>
    <sa-main-screen></sa-main-screen>
    <sa-collapse-menu></sa-collapse-menu>
    <sa-logout></sa-logout>
    <sa-activities></sa-activities>
    <sa-profile-menu></sa-profile-menu>
    <sa-search-bar></sa-search-bar>

    <!-- fullscreen button -->
    <sa-full-screen></sa-full-screen>
    <!-- end fullscreen button -->

    <!-- #Voice Command: Start Speech -->
    <sa-speech-button></sa-speech-button>
    <!-- end voice command -->

    <!-- multiple lang dropdown : find all flags in the flags page -->
    <sa-language-selector></sa-language-selector>
    <!-- end multiple lang -->

  </div>
  <!-- end pulled right: nav area -->

</header>