<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="[('ORGANIZATION-REGISTRATION-TITLE'|i18n)]" icon="user-plus" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-4">
        <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>{{'ORGANIZATION-REGISTRATION-EDIT' | i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding ">
              <form #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && onSubmit()" class="smart-form atman-form-small frm-detail"
                novalidate="novalidate" [saUiValidate]="validationOptions">
                <fieldset>
                  <div class="row">
                    <section class="col col-6">
                      <label class="label">{{'COMPANY' | i18n}}</label>
                      <label class="input">
                        <select name="company_id" [(ngModel)]="detailInfo.company_id" [defaultVal]="detailInfo.company_id"
                          [disabled]="!detailInfo.is_system || isDisabled" (ngModelChange)="onChangeCompany($event)" select2 required style="width:100%;" class="select2 required" placeHolder="Select company">
                          <option *ngFor="let s of companies" value={{s.company_id}}>{{s.company_eng_nm}}</option>
                        </select>
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">{{"PARENT-ORG-ID" | i18n}}</label>
                      <label class="input">
                        <select name="parent_org_id" [(ngModel)]="detailInfo.parent_org_id" [defaultVal]="detailInfo.parent_org_id"
                          select2 style="width:100%;" class="select2" placeHolder="Select parent" allowClear="true">
                          <option value=""></option>
                          <option *ngFor="let s of parents" value={{s.org_cd}}>{{s.org_tree_nm}}</option>
                        </select>
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">{{"ORGANIZATION-NAME-LOCAL" | i18n}}</label>

                      <label class="input">
                        <!-- <i class="icon-append fa fa-book"></i> -->
                        <input class="required_input" type="text" name="org_nm_local" [(ngModel)]="detailInfo.org_nm_local" autocomplete="off"
                          required />
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">{{"ORGANIZATION-NAME-ENG" | i18n}}</label>

                      <label class="input">
                        <!-- <i class="icon-append fa fa-book"></i> -->
                        <input class="required_input" type="text" name="org_nm_eng" [(ngModel)]="detailInfo.org_nm_eng" autocomplete="off"
                          required />
                      </label>
                    </section>
                  </div>

                  <div class="row">
                    <section class="col col-6">
                      <label class="label">{{"FROM-DATE" | i18n}}</label>
                      <label class="input org_date">
                        <i class="icon-append icon_org fa fa-calendar"></i>
                        <input type="text" name="org_from_ymd" [(ngModel)]="detailInfo.org_from_ymd" autocomplete="off"
                           placeholder="YYYY-MM-DD" [saUiDatepicker] />
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">{{"TO-DATE" | i18n}}</label>
                      <label class="input org_date">
                        <i class="icon-append icon_org fa fa-calendar"></i>
                        <input type="text" name="org_to_ymd" [(ngModel)]="detailInfo.org_to_ymd" autocomplete="off"
                           placeholder="YYYY-MM-DD" [saUiDatepicker] />
                      </label>
                    </section>
                  </div>
                  <div class="row">
                    <section class="col col-6">
                      <label class="label">{{'Use-YN' | i18n}}</label>
                      <label class="input">
                        <label class="checkbox">
                          <input type="checkbox" name="use_yn" [(ngModel)]="detailInfo.use_yn" checked="detailInfo.use_yn">
                          <i></i>Active
                        </label>
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">{{'Factory-YN' | i18n}}</label>
                      <label class="input">
                        <label class="checkbox">
                          <input type="checkbox" name="factory_yn" [(ngModel)]="detailInfo.factory_yn" checked="detailInfo.factory_yn">
                          <i></i>Active
                        </label>
                      </label>
                    </section>
                  </div>

                  <section>
                    <label class="label">{{'Description' | i18n}}</label>
                    <label class="textarea">
                      <textarea name="remark" [(ngModel)]="detailInfo.remark" rows="3"></textarea>
                    </label>
                  </section>
                </fieldset>

                <footer>
                    <button type="button" name="btnCloseProgram" (click)="onCloseProgram()" class="btn btn-close">
                        <i class="fa fa-times"></i>
                        {{'button-close' | i18n}}
                    </button>
                  <button type="button" (click)="onReset(frmDetail)" name="reset" class="btn btn-default btn-xs edit-program">
                    <i class="fa fa-refresh"></i>
                    {{'button-reset' | i18n}}
                  </button>
                  <button type="submit" [disabled]="!this.permission.canSave" name="submit" class="btn btn-primary btn-xs edit-program">
                    <i class="fa fa-save"></i>
                    {{'button-save' | i18n}}
                  </button>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
      <article class="col-sm-8">
        <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-list"></i>
            </span>
            <h2>{{'ORGANIZATION-REGISTRATION-LIST' | i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="options" (rowClick)="onRowClick($event)" paginationLength="true" filter="true"
                tableClass="table table-striped table-condensed table-hover table-bordered">
                <thead>
                  <tr class="heading datatable_title">
                    <th>{{'ORGANIZATION-ID' | i18n}}</th>
                    <th>{{"ORGANIZATION-NAME" | i18n}}</th>
                    <th>{{"ORGANIZATION-NAME-LOCAL" | i18n}}</th>
                    <!-- <th>{{"FROM-DATE" | i18n}}</th>
                    <th>{{"TO-DATE" | i18n}}</th> -->
                    <th>{{'Factory-YN' | i18n}}</th>
                    <th>{{'Use' | i18n}}</th>
                    <!-- <th>{{'Description' | i18n}}</th> -->
                    <th>{{'CREATED-BY' | i18n}}</th>
                    <th>{{'CREATED-DATE' | i18n}}</th>
                    <th>{{'UPDATED-BY' | i18n}}</th>
                    <th>{{'UPDATED-DATE' | i18n}}</th>
                  </tr>
                  <tr class="table_filter">
                    <th class="hasinput table_border_filter" style="width:60px">
                      <input type="text" class="form-control" placeholder=""/>
                    </th>
                    <th class="hasinput table_border_filter">
                      <input type="text" class="form-control" placeholder="" />
                    </th>
                    <th class="hasinput table_border_filter">
                      <input type="text" class="form-control" placeholder="" />
                    </th>
                    <!-- <th class="hasinput icon-addon">
                      <i class="fa fa-calendar margin-top-5"></i>
                      <input id="date_from" type="text" placeholder="Filter Date" class="form-control datepicker"
                        [saUiDatepicker]="{}" />
                    </th>
                    <th class="hasinput icon-addon">
                      <i class="fa fa-calendar margin-top-5"></i>
                      <input id="date_to" type="text" placeholder="Filter Date" class="form-control datepicker"
                        [saUiDatepicker]="{}" />
                    </th> -->
                    <th class="hasinput table_border_filter">
                      <select id="FilterByFac" class="form-control select-filter">
                        <option value="">All</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </th>
                    <th class="hasinput table_border_filter">
                        <select id="FilterByStatus" class="form-control select-filter">
                          <option value="">All</option>
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                        </select>
                      </th>
                    <!-- <th class="hasinput" [ngStyle]="{width:'40%'}">
                      <input type="text" class="form-control" placeholder="Filter Description" />
                    </th> -->
                    <th class="hasinput table_border_filter">
                      <input type="text" class="form-control" placeholder="" />
                    </th>
                    <th class="hasinput icon-addon table_border_filter">
                      <i class="fa fa-calendar margin-top-5"></i>
                      <input id="date_created" type="text" placeholder="" class="form-control datepicker"
                        [saUiDatepicker]="{}" />
                    </th>
                    <th class="hasinput table_border_filter">
                      <input type="text" class="form-control" placeholder="" />
                    </th>
                    <th class="hasinput icon-addon table_border_filter">
                      <div class="">
                        <i class="fa fa-calendar margin-top-5"></i>
                        <input id="date_updated" type="text" placeholder="" class="form-control datepicker"
                          [saUiDatepicker]="{}" />
                      </div>
                    </th>
                  </tr>

                </thead>
              </sa-datatable>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>