<ng-container *ngIf="ShowLoadingCenter; else showdata">
  <div class="loading center-loading">
    <img src="/assets/img/loading-red.gif"> Please wait...
  </div>
</ng-container>
<ng-template #showdata>
  <ng-container *ngIf="timelineInfo.length; else nonetimeline">
    <div class="well well-sm" style="overflow: auto; max-height: 400px;">
      <div class="smart-timeline">
        <ul class="smart-timeline-list">
          <li *ngFor="let item of timelineInfo ;let idx = index">
            <div class="smart-timeline-icon">
              <div class="index" (click)="openPopup(item)">
                <span><i class="fa {{item.icon}}"></i></span>
              </div>
            </div>
            <div class="smart-timeline-time">
              <small>{{item.created_time}}</small>
            </div>
            <div class="smart-timeline-content custom-span">
              <span class="custom-tooltip" tooltip="{{item.created_time | moment:'YYYY-MM-DD HH:mm'}}"
                placement="left">{{item.created_time| amTimeAgo}}</span>
              <p>
                <a href="javascript:void(0);" style="padding: 0 15px 0 0"><strong>{{item.creator}}</strong></a>
                <ng-container *ngIf="item.type == 'business'; else supportActivity">
                  <span>
                    <a href="javascript:void(0);" (click)="Expand(idx,'business')"
                      style="padding: 0 15px 0 0;color:black"><strong>{{salesoptNm}}</strong>
                    </a>
                  </span>
                  <span class="label label-default">Business day {{item.activity_ymd }}</span>
                  <span class="label border-transparent">Progress rate {{item.sales_status_gen_nm}}</span>
                  <span class="label border-transparent">Possibility {{item.possibility}}%</span>
                  <span class="label border-red"><i class="fa fa-won"></i> {{item.expect_amt |number}}</span>
                  <section *ngIf="idx == indexExpand" style="position:relative;top:14px">
                    <div class="input-group col-lg-12">
                      <span class="input-group-addon" style="width: 60px;">
                        Issue
                      </span>
                      <span class="form-control input-sm"
                        style="background: white; overflow: auto; height: 100%; color: black;" readonly
                        innerHtml="{{item.issue_text}}">&nbsp;</span>
                    </div>
                    <div class="input-group col-lg-12">
                      <span class="input-group-addon" style="width: 60px;">
                        Memo
                      </span>
                      <span class="form-control input-sm"
                        style="background: white; overflow: auto; height: 100%; color: black;" readonly
                        innerHtml="{{item.memo_text}}">&nbsp;</span>
                    </div>
                  </section>
                </ng-container>
                <ng-template #supportActivity>
                  <ng-container *ngIf="item.type == 'support'; else commonActivity">
                      <span class="label label-success">{{item.project_task_type_nm}}</span>
                      <span class="label label-default">Date: {{item.start_ymd}}</span>
                      <span class="label label-default">
                          <i class="fa fa-user"></i>
                        <span *ngFor="let items of item.project_task_person">
                          <span *ngIf="items.project_task_type_nm !==''">
                              {{items.person_nm}}
                          </span>
                        </span>
                      </span>
                      <span class="label border-transparent"><i class="fa fa-clock-o"></i> {{item.work_hour}}h:{{item.work_minute}}m {{item.work_unit_gen_nm}}</span>
                  </ng-container>
                  <ng-template #commonActivity>
                      <span><strong>{{item.title_nm}}</strong></span>
                      <span *ngIf="item.type == 'email'">
                        <ng-container *ngIf="item.email_title_type == 1; else elseTemplate">
                          <span class="label label-success">{{'POPUP-ACTIVITY-SEND' | i18n}}</span>
                        </ng-container>
                        <ng-template #elseTemplate>
                          <span class="label label-warning">{{'POPUP-ACTIVITY-RECEPTION' | i18n}}</span>
                        </ng-template>
                      </span>
                      <span *ngIf="item.type == 'tel'">
                        <ng-container *ngIf="item.tel_title_type == 1; else elseTemplate">
                          <span class="label label-success">{{'POPUP-ACTIVITY-SEND' | i18n}}</span>
                        </ng-container>
                        <ng-template #elseTemplate>
                          <span class="label label-warning">{{'POPUP-ACTIVITY-RECEPTION' | i18n}}</span>
                        </ng-template>
                      </span>
                  </ng-template>
                </ng-template>


              </p>
              <div style="cursor:pointer">
                <div *ngIf="idx !== indexExpand" (click)="Expand(idx)" data-maxlength="100" class="content-title"
                  innerHtml="{{item.contents}}"></div>
                <div *ngIf="idx == indexExpand" (click)="collapse()" [innerHtml]="item.contents">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <ng-template #nonetimeline>
    <h2 style="text-align: center;">
      <i class="fa fa-exclamation"></i>
      <p>{{'ACTIVITY-WARNING-NO-ACTIVITY' | i18n}}!</p>
    </h2>
  </ng-template>
</ng-template>
<!-- END Timeline Content -->

<ng-template #popupSupport>
  <sa-popup-modal headerTitle="{{'NEW-ACTIVITY-LB-EDIT-TECHNICAL-SUPPORT' | i18n}}" width="780" height="600"
    (onClose)="closePopup()">
    <sa-support companyId="{{companyId}}" projectId="{{funcRefCd}}" Id={{Id}} supportJson={{supportJson|json}}
      Jscontactor="{{contactor|json}}" Jsuser="{{user|json}}" (childCall)="reloadData($event)"></sa-support>
  </sa-popup-modal>
</ng-template>
<ng-template #popupBusiness>
  <sa-popup-modal headerTitle="{{'NEW-ACTIVITY-LB-EDIT-BUSINESS-STATUS' | i18n}}" width="780" height="600"
    (onClose)="closePopup()">
    <sa-business-status companyId="{{companyId}}" opportunityId="{{funcRefCd}}" Id={{Id}}
      SliderdefaultVal={{SliderdefaultVal}} bussinessJson="{{bussinessJson|json}}" (childCall)="reloadData($event)">
    </sa-business-status>
  </sa-popup-modal>
</ng-template>
<ng-template #popupEmail>
  <sa-popup-modal headerTitle="{{'NEW-ACTIVITY-LB-EDIT-EMAIL' | i18n}}" width="750" height="600"
    (onClose)="closePopup()">
    <sa-email companyId="{{companyId}}" inputFuncId="{{inputFuncId}}" funcRefCd="{{funcRefCd}}" Id={{Id}}
      (childCall)="reloadData($event)" emailJson="{{emailJson|json}}" customer="{{customer|json}}"
      contactor="{{contactor|json}}" user="{{user|json}}"></sa-email>
  </sa-popup-modal>
</ng-template>
<ng-template #popupTelephone>
  <sa-popup-modal headerTitle="{{'NEW-ACTIVITY-LB-EDIT-TELEPHONE' | i18n}}" width="750" height="600"
    (onClose)="closePopup()">
    <sa-telephone companyId="{{companyId}}" inputFuncId="{{inputFuncId}}" funcRefCd="{{funcRefCd}}" Id={{Id}}
      (childCall)="reloadData($event)" telJson="{{telJson|json}}" customer="{{customer|json}}"
      contactor="{{contactor|json}}" user="{{user|json}}"></sa-telephone>
  </sa-popup-modal>
</ng-template>
<ng-template #popupConference>
  <sa-popup-modal headerTitle="{{'NEW-ACTIVITY-LB-EDIT-CONFERENCE' | i18n}}" width="750" height="600"
    (onClose)="closePopup()">
    <sa-conference companyId="{{companyId}}" inputFuncId="{{inputFuncId}}" funcRefCd="{{funcRefCd}}" Id={{Id}}
      (childCall)="reloadData($event)" meetingJson="{{meetingJson|json}}" customer="{{customer|json}}"
      contactor="{{contactor|json}}" user="{{user|json}}"></sa-conference>
  </sa-popup-modal>
</ng-template>
<ng-template #popupIssue>
  <sa-popup-modal headerTitle="{{'NEW-ACTIVITY-LB-EDIT-ISSUE' | i18n}}" width="750" height="600"
    (onClose)="closePopup()">
    <sa-issue companyId="{{companyId}}" inputFuncId="{{inputFuncId}}" funcRefCd="{{funcRefCd}}" Id={{Id}}
      (childCall)="reloadData($event)" issueJson="{{issueJson|json}}" customer="{{customer|json}}"
      contactor="{{contactor|json}}" user="{{user|json}}"></sa-issue>
  </sa-popup-modal>
</ng-template>


<!-- <div>{{timelineInfo | json}}</div> -->