<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="[('ATTENDANCE IN ADVANCE'|i18n)]" icon="file" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-4">
        <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-list"></i>
            </span>
            <h2>{{'ANNUAL-LEAVE-EDIT-HEADER' | i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <!-- form 1 -->
              <form #frmDetail="ngForm" (ngSubmit)="frmDetail.form.valid && onSubmit()" class="smart-form atman-form-small frm-detail"
                novalidate="novalidate" [saUiValidate]="validationOptions">
                <fieldset>
                  <div class="row">
                    <!-- <section class="col col-6">
                      <label class="label">{{'COMPANY' | i18n}}</label>
                      <label class="input">
                        <select select2 style="width:100%;" disabled placeHolder="Select company" name="company_id"
                          [(ngModel)]="hrAnnualLeaveModel.company_id" required class=" required" [defaultVal]="hrAnnualLeaveModel.company_id">
                          <option *ngFor="let c of company" value={{c.company_id}}>{{c.company_nm}}</option>
                        </select>
                      </label>
                    </section> -->

                    <section class="col col-md-12">
                      <label class="label">{{'Department' | i18n}}</label>
                      <label class="input">
                        <select select2 style="width:100%;" [disabled]="isUpdating" placeHolder="Select Department"
                          [defaultVal]="hrAnnualLeaveModel.org_id" [(ngModel)]="hrAnnualLeaveModel.org_id"
                          (ngModelChange)="onDepartChange($event)" name="org_id" required class=" required">
                          <option *ngFor="let d of departs" value="{{d.org_cd}}" [disabled]='d.has_child>0'>[{{d.org_cd
                            | number:'3.0'}}] {{d.org_tree_nm}}</option>
                        </select>
                      </label>
                    </section>
                  </div>

                  <div class="row">
                    <section class="col col-6">
                      <label class="label">{{"Employee" | i18n}}</label>
                      <label class="input">
                        <select select2 style="width:100%;" name="hr_id" autoEmitModel="false" [disabled]="isUpdating"
                          (onSelectedChange)="onHRChange($event)" required class="required" [(ngModel)]="hrAnnualLeaveModel.hr_id"
                          [defaultVal]="hrAnnualLeaveModel.hr_id" placeholder='Select employee'>
                          <option value=""></option>
                          <option *ngFor="let e of employeeFiltered" value={{e.hr_id}}>{{e.hr_id}} - {{e.employee_nm}}</option>
                        </select>
                      </label>
                    </section>

                    <section class="col col-6">
                      <label class="label">{{"ANNUAL-LEAVE-TYPE" | i18n}}</label>
                      <label class="input">
                        <select select2 style="width:100%;" placeHolder="Select leave type" name="attend_log_gen_cd"
                          required class="required" [(ngModel)]="hrAnnualLeaveModel.attend_log_gen_cd" [defaultVal]="hrAnnualLeaveModel.attend_log_gen_cd">
                          <option *ngFor="let annualLeaveType of annualLeaveTypes" value={{annualLeaveType.gen_cd}}>{{annualLeaveType.gen_nm}}</option>
                        </select>
                      </label>
                    </section>

                  </div>

                  <div class="row">
                    <section class="col col-6">
                      <label class="label">{{"FROM-DATE" | i18n}}</label>
                      <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="from_date" class="datePicker" [(ngModel)]="hrAnnualLeaveModel.from_date"
                          autocomplete="off" required placeholder="yyyy-mm-dd" [saUiDatepicker]="optionsDatePicker" />
                      </label>
                    </section>

                    <section class="col col-6">
                      <label class="label">{{"TO-DATE" | i18n}}</label>
                      <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="to_date" class="datePicker" [(ngModel)]="hrAnnualLeaveModel.to_date"
                          autocomplete="off" required placeholder="yyyy-mm-dd" [saUiDatepicker]="optionsDatePicker" />
                      </label>
                    </section>
                  </div>

                  <div class="row">
                    <section class="col col-6">
                      <label class="label">{{"Reason" | i18n}}</label>
                      <label class="textarea">
                        <textarea name="reason_nm" rows="3" [(ngModel)]="hrAnnualLeaveModel.reason_nm"></textarea>
                      </label>
                    </section>
                  </div>
                </fieldset>
                <footer>
                  <button type="button" name="btnCloseProgram" (click)="onCloseProgram()" class="btn btn-close btn-xs">
                    <i class="fa fa-times"></i>
                    {{'button-close' | i18n}}
                  </button>

                  <button type="button" (click)="onReset()" name="reset" class="btn btn-default btn-xs">
                    <i class="fa fa-refresh"></i>
                    {{'button-reset' | i18n}}
                  </button>

                  <button type="submit" name="submit" class="btn btn-primary btn-xs ">
                    <i class="fa fa-save"></i>
                    {{'button-save' | i18n}}
                  </button>



                  <button type="button" name="delete-btn" (click)="onDelete()" class="btn btn-danger btn-xs edit-program pull-left"
                    [style.visibility]="isDelete ? 'visible' : 'hidden'">
                    <i class="fa fa-trash"></i>
                    {{'button-delete' | i18n}}
                  </button>

                  <!-- <button type="button" name="delete-btn" (click)="onClose()" class="btn btn-warning btn-xs edit-program pull-left">
                    <i class="fa fa-remove"></i>
                    {{'button-close' | i18n}}
                  </button> -->

                  <button type="button" name="apprl" class="btn btn-warning btn-xs edit-program pull-left"
                    [style.visibility]="isApprlHidden && !hrAnnualLeaveModel.apprl_yn ? 'visible' : 'hidden'" (click)="onApprl()">
                    <i class="fa fa-check"></i>
                    {{'BUTTON-APPRL' | i18n}}
                  </button>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
      <article class="col-sm-8">
        <div sa-widget [editbutton]="false" [deletebutton]="false" color="atman" class="jarviswidget-atman">
          <header>
            <span class="widget-icon">
              <i class="fa fa-list"></i>
            </span>
            <h2> {{'ANNUAL-LEAVE-LIST-HEADER' | i18n}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <!-- table  -->
              <sa-datatable [options]="options" (rowClick)="onRowClick($event)" paginationLength="true" filter="true"
                tableClass="table table-striped table-condensed table-hover table-bordered">
                <thead>
                  <tr class="heading">
                    <th>{{"HR-ID" | i18n}}</th>
                    <th>{{"EMPLOYEE" | i18n}}</th>
                    <th>{{"ANNUAL-LEAVE-TYPE" | i18n}}</th>
                    <th>{{"FROM-DATE" | i18n}}</th>
                    <th>{{"TO-DATE" | i18n}}</th>
                    <th>{{'TOTAL-DAY' | i18n}}</th>
                    <th>{{'APPRL-YN' | i18n}}</th>
                    <th>{{'APPRL-BY' | i18n}}</th>
                    <th>{{'APPRL-DATE' | i18n}}</th>
                    <th>{{'REASON' | i18n}}</th>
                  </tr>

                  <tr>
                    <th class="hasinput">
                      <input type="text" class="form-control" />
                    </th>
                    <th class="hasinput">
                      <select class="form-control select-filter">
                        <option value="">All</option>
                        <option *ngFor="let e of employee" value={{e.hr_id}}>{{e.employee_nm}}</option>
                      </select>
                    </th>
                    <th class="hasinput">
                      <select class="form-control select-filter">
                        <option value="">All</option>
                        <option *ngFor="let annualLeaveType of annualLeaveTypes" value={{annualLeaveType.gen_cd}}>{{annualLeaveType.gen_nm}}</option>
                      </select>
                    </th>
                    <th class="hasinput ">
                      <!-- <i class="fa fa-calendar margin-top-5"></i> -->
                      <input id="date_created" type="text" class="form-control datepicker" saUiDatepicker />
                    </th>
                    <th class="hasinput ">
                      <!-- <i class="fa fa-calendar margin-top-5"></i> -->
                      <input id="date_created" type="text" class="form-control datepicker" saUiDatepicker />
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" />
                    </th>
                    <th class="hasinput">
                      <select id="filerByStatus" class="form-control select-filter">
                        <option value="">All</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </th>
                    <th class="hasinput">
                      <input type="text" class="form-control" />
                    </th>

                    <th class="hasinput icon-addon">
                      <!-- <i class="fa fa-calendar margin-top-5"></i> -->
                      <input type="text" class="form-control" saUiDatepicker />
                    </th>

                    <!-- <th class="hasinput icon-addon">
                      <i class="fa fa-calendar margin-top-5"></i>
                      <input type="text" class="form-control" saUiDatepicker />
                    </th> -->
                    <th class="hasinput">
                      <input type="text" class="form-control" />
                    </th>
                  </tr>

                </thead>
              </sa-datatable>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>