<div id="content">
  <div class="well well-sm">
    <div class="row">
      <div class="col-lg-2 smart-form">
        <section>
          <label class="input">
            <select
              select2
              class="form-control select2"
              [(ngModel)]="orgid"
              style="width:100%"
              placeHolder="Select department"
              (ngModelChange)="hideSetting()"
              allowClear="true"
            >
              <option
                *ngFor="let item of departments"
                value="{{ item.org_cd }}"
                >{{ item.org_tree_nm }}</option
              >
            </select>
          </label>
        </section>
      </div>
      <div class="col-lg-2 smart-form">
        <section>
          <label class="input">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="employeeName"
              placeHolder="Employee Name"
              (ngModelChange)="hideSetting()"
            />
          </label>
        </section>
      </div>
      <div class="col-lg-1 smart-form">
        <section>
          <label class="input">
            <i class="icon-append fa fa-calendar"></i>
            <input
              type="text"
              [(ngModel)]="calendar"
              (ngModelChange)="hideSetting()"
              placeholder="date"
              id="calendar"
              [saUiDatepicker]="{ minRestrict: '#finishdate' }"
            />
          </label>
        </section>
      </div>
      <div class="col-lg-4">
        <button
          type="button"
          (click)="searchAttendance(false)"
          class="btn btn-default btn-sm margin-right-5">
          <i class="fa fa-search"></i> {{ "SEARCH" | i18n }}
        </button>
        <button
          type="button"
          (click)="createAttendance()"
          class="btn btn-primary btn-sm margin-right-5"
        >
          {{ "BUTTON-CREATE" | i18n }}
        </button>
        <button
          type="button"
          (click)="showSettingPopup()"
          class="btn btn-primary btn-sm margin-right-5"
          *ngIf="isShowSetting == true && employees.length > 0"
        >
          {{ "MAKE SETTING" | i18n }}
        </button>
      </div>
      <div class="col-lg-3 right text-right" *ngIf="employees.length > 0">
        <button type="button" (click)="saveChange()" class="btn btn-success btn-sm">
          {{ "SAVE CHANGES" | i18n }}
        </button>
      </div>
    </div>
  </div>

  <div>
    <sa-widgets-grid>
      <div class="row">
        <section class="col-sm-12">
          <div sa-widget [editbutton]="false" color="darken">
            <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span>
              <h2>{{ "DAILY ATTENDANCE" | i18n }}</h2>
            </header>
            <div>
              <div class="widget-body no-padding">
                <table
                  class="table table-striped table-condensed table-hover table-bordered cell-border table-grid"
                >
                  <thead>
                    <tr>
                      <th colspan="6">
                        {{ "DAILYATTEND_LBL_PERSON_INFO" | i18n }}
                      </th>
                      <th colspan="3">{{ "WORKING" | i18n }}</th>
                      <th colspan="3">
                        {{ "DAILYATTEND_LBL_ATTEND_LOG" | i18n }}
                      </th>
                      <th colspan="6">
                        {{ "DAILYATTEND_LBL_OVETIME_VALUE" | i18n }}
                      </th>
                    </tr>
                    <tr class="heading">
                      <th class="center">{{ "NO" | i18n }}</th>
                      <th class="left">{{ "DEPARTMENT" | i18n }}</th>
                      <th class="center">{{ "EMPLOYEE" | i18n }}</th>
                      <th class="center">{{ "HR-ID" | i18n }}</th>
                      <th class="left">{{ "ENTRANCE-DATE" | i18n }}</th>
                      <th class="center">{{ "SEX" | i18n }}</th>
                      <th class="center">{{ "IN" | i18n }}</th>
                      <th class="center">{{ "OUT" | i18n }}</th>
                      <th class="center">{{ "WORK_TIME" | i18n }}</th>
                      <th class="left">{{ "START" | i18n }}</th>
                      <th class="left">{{ "FINISH" | i18n }}</th>
                      <th class="left">{{ "SPECIAL" | i18n }}</th>
                      <th class="center">{{ "BASIC" | i18n }}</th>
                      <th class="center">{{ "OT-1" | i18n }}</th>
                      <th class="center">{{ "OT-2" | i18n }}</th>
                      <th class="center">{{ "OT-3" | i18n }}</th>
                      <th class="center">{{ "OT-4" | i18n }}</th>
                      <th class="center">{{ "OT-5" | i18n }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let e of (employees
                          | paginate
                            : {
                                itemsPerPage: pageSize,
                                currentPage: page,
                                totalItems: totalItems
                              });
                        let i = index
                      "
                      [ngClass]="{
                        'row-odd': i % 2 != 0,
                        'row-even': i % 2 == 0
                      }"
                    >
                      <td
                        class="center"
                        style="width:50px;vertical-align:middle;"
                      >
                        {{ pageSize * (page - 1) + (i + 1) }}
                      </td>
                      <td
                        class="left"
                        style="width:150px;vertical-align:middle;"
                      >
                        {{ e.department }}
                      </td>
                      <td
                        class="left"
                        style="width:100px;vertical-align:middle;"
                      >
                        {{ e.empl_name | uppercase }}
                      </td>
                      <td
                        class="center"
                        style="width:100px;vertical-align:middle;"
                      >
                        {{ e.hr_id }}
                      </td>
                      <td
                        class="left"
                        style="width:100px;vertical-align:middle;"
                      >
                        {{ e.start_work | date: "mediumDate" }}
                      </td>
                      <td
                        class="center"
                        style="width:50px;vertical-align:middle;"
                      >
                        {{ e.gender == 1 ? "M" : "F" }}
                      </td>
                      <td
                        class="center"
                        style="width:60px;vertical-align:middle;"
                      >
                        {{ e.in_time }}
                      </td>
                      <td
                        class="center"
                        style="width:60px;vertical-align:middle;"
                      >
                        {{ e.out_time }}
                      </td>
                      <td
                        class="center"
                        style="width:70px;vertical-align:middle;"
                      >
                        {{ e.working_time }}
                      </td>
                      <td
                        class="left"
                        style="width:120px;vertical-align:middle;"
                      >
                        <select
                          select2
                          class="form-control select2 selection-box"
                          [(ngModel)]="e.start_gen_cd"
                          name="start_gen_cd"
                          style="width:100%"
                        >
                          <option
                            *ngFor="let item of attendanceLogs"
                            value="{{ item.code }}"
                            >{{ item.value }}</option
                          >
                        </select>
                      </td>
                      <td
                        class="left"
                        style="width:120px;vertical-align:middle;"
                      >
                        <select
                          select2
                          class="form-control select2"
                          [(ngModel)]="e.finish_gen_cd"
                          name="finish_gen_cd"
                          style="width:100%"
                        >
                          <option
                            *ngFor="let item of attendanceLogs"
                            value="{{ item.code }}"
                            >{{ item.value }}</option
                          >
                        </select>
                      </td>
                      <td
                        class="left"
                        style="width:120px;vertical-align:middle;"
                      >
                        <select
                          select2
                          class="form-control select2"
                          [(ngModel)]="e.special_gen_cd"
                          name="special_gen_cd"
                          style="width:100%"
                        >
                          <option
                            *ngFor="let item of specialAttendanceLogs"
                            value="{{ item.code }}"
                            >{{ item.value }}</option
                          >
                        </select>
                      </td>
                      <td
                        class="center"
                        style="width:50px;vertical-align:middle;"
                      >
                        {{ e.basic }}
                      </td>
                      <td
                        class="center"
                        style="width:50px;vertical-align:middle;"
                      >
                        {{ e.ot_1 }}
                      </td>
                      <td
                        class="center"
                        style="width:50px;vertical-align:middle;"
                      >
                        {{ e.ot_2 }}
                      </td>
                      <td
                        class="center"
                        style="width:50px;vertical-align:middle;"
                      >
                        {{ e.ot_3 }}
                      </td>
                      <td
                        class="center"
                        style="width:50px;vertical-align:middle;"
                      >
                        {{ e.ot_4 }}
                      </td>
                      <td
                        class="center"
                        style="width:50px;vertical-align:middle;"
                      >
                        {{ e.ot_5 }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="widget-foot">
                <div class="row">
                  <div class="atman-paging dt-toolbar-footer">
                    <div class="col-sm-6 col-xs-12 hidden-xs">
                      <div class="dataTables_info">
                        {{ "COMMON_LBL_SHOW" | i18n }} {{ from_record }}
                        {{ "COMMON_LBL_SHOW_TO" | i18n }} {{ to_record }}
                        {{ "COMMON_LBL_SHOW_OF" | i18n }} {{ totalItems }}
                        {{ "COMMON_LBL_SHOW_ENTRIES" | i18n }}
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 hidden-xs">
                      <pagination-controls
                        class="my-pagination"
                        (pageChange)="changePage($event)"
                        [autoHide]="true"
                        [previousLabel]="labels.previousLabel"
                        [nextLabel]="labels.nextLabel"
                      >
                      </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </sa-widgets-grid>
  </div>
</div>

<ng-template #popupSetting>
  <sa-popup-modal
    headerTitle="{{ 'MAKE SETTING' | i18n }}"
    width="400"
    height="600"
    (onClose)="closeFactoryPopup()"
  >
    <form
      #frmDetail="ngForm"
      (ngSubmit)="frmDetail.form.valid && saveSetting()"
      novalidate="novalidate"
    >
      <div class="panel-body smart-form">
        <fieldset>
          <div class="row">
            <section>
              <label class="label"
                >{{ "DAILYATTEND_LBL_SETTING_APPLY" | i18n }}
                <b>{{ totalItems }}</b>
                {{ "DAILYATTEND_LBL_PERSON" | i18n }}</label
              >
            </section>
            <section>
              <label class="label">{{ "DAILYATTEND_LBL_INTIME" | i18n }}</label>
              <label class="input">
                <i class="icon-prepend fa fa-clock-o"></i>
                <input
                  type="text"
                  smartTimepicker
                  autocomplete="off"
                  [(ngModel)]="setting.in_time"
                  name="in_time"
                  readonly
                />
              </label>
            </section>
            <section>
              <label class="label">{{
                "DAILYATTEND_LBL_OUTTIME" | i18n
              }}</label>
              <label class="input">
                <i class="icon-prepend fa fa-clock-o"></i>
                <input
                  type="text"
                  smartTimepicker
                  autocomplete="off"
                  [(ngModel)]="setting.out_time"
                  name="out_time"
                  readonly
                />
              </label>
            </section>
            <section>
              <label class="label">{{
                "DAILYATTEND_LBL_RESETNAME" | i18n
              }}</label>
              <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input
                  type="text"
                  [(ngModel)]="setting.reset_name"
                  name="reset_name"
                />
              </label>
            </section>
            <section>
              <label class="label">{{
                "DAILYATTEND_LBL_DESCRIPTION" | i18n
              }}</label>
              <label class="textarea">
                <i class="icon-append fa fa-comment"></i>
                <textarea
                  row="4"
                  [(ngModel)]="setting.description"
                  name="description"
                ></textarea>
              </label>
            </section>
          </div>
        </fieldset>
      </div>
      <div class="panel-footer right">
        <button type="submit" class="btn btn-primary margin-right-5">
          {{ "BUTTON-SAVE" | i18n }}
        </button>
        <button
          type="button"
          (click)="deleteSetting()"
          class="btn btn-danger margin-right-5"
        >
          {{ "BUTTON-DELETE" | i18n }}
        </button>
        <button
          type="button"
          (click)="closeFactoryPopup()"
          class="btn btn-default"
        >
          {{ "CANCEL" | i18n }}
        </button>
      </div>
    </form>
  </sa-popup-modal>
</ng-template>
